:host {
  display: flex;
  height: 100%;
}

.modal-content {
  position: relative;

  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 3.2rem;

    @media (min-width: 768px) {
      max-width: calc(100% / 6 * 5);
    }

    @media (min-width: 992px) {
      max-width: calc(100% / 3 * 2);
    }

    @media (min-width: 1600px) {
      max-width: calc(100% / 2);
    }
  }
}

.select-all-btn {
  padding-top: 1.6rem;
  margin-left: auto;
  color: #186fda;
  cursor: pointer;
}

.products-list {
  width: 100%;
}

.category {
  padding-top: 1.6rem;
  &-title {
    font-weight: 600;
    padding-bottom: 1.6rem;
  }
}

.preloader {
  background-color: #fff;
}

.list-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  &-icon {
    width: 100%;
    font-size: 6rem;
    text-align: center;
  }

  &-message {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  &-clean {
    color: #186fda;
    cursor: pointer;
  }

  button {
    margin-top: 0.8em;
  }

  &--pos-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
