<div class="content">
  <div class="search">
    <div class="input-group search-field">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="icon-search"></i>
        </div>
      </div>
      <input #searchInput class="form-control" type="text" placeholder="{{ 'search' | translate }}" />
    </div>
  </div>
  <app-scroll-panel>
    <div class="visits">
      <div *ngIf="upcoming_appointments.length" class="planned">
        <h3>{{ 'title-planned' | translate }}</h3>
        <div class="cardclients-table-flex">
          <div class="table-flex-head">
            <span>{{ 'label-service-occupation' | translate }}</span>
            <span>{{ 'label-date' | translate }}</span>
            <span>{{ 'label-executor' | translate }}</span>
          </div>
          <div class="table-flex-body" *ngFor="let item of upcoming_appointments">
            <div class="services-row">
              <div>
                <span class="service-name">{{ item.product_title }}</span>
                <span class="service-details">{{ item.product_price / 100 }}{{ currency_symbol }}</span>
              </div>
              <div>
                <span class="service-date">{{ moment(item.from_date).format('LL') }}</span>
              </div>
              <div>
                <div class="executor">
                  <div class="executor-avatar">
                    <img src="{{ apiService.apiUrl }}/account/user/avatar?user_id={{item.employee_id}}" alt="">
                  </div>
                  <div class="executor-name">{{ item.employee_first_name }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="past_appointments.length" class="past">
        <h3>{{ 'title-past' | translate }}</h3>
        <div class="cardclients-table-flex">
          <div class="table-flex-head">
            <span>{{ 'label-service-occupation' | translate }}</span>
            <span>{{ 'label-date' | translate }}</span>
            <span>{{ 'label-executor' | translate }}</span>
          </div>
          <div class="table-flex-body" *ngFor="let item of past_appointments">
            <div class="services-row">
              <div>
                <span class="service-name">{{ item.product_title }}</span>
                <span class="service-details">{{ item.product_price / 100 }}{{ currency_symbol }}</span>
              </div>
              <div>
                <span class="service-date">{{ moment(item.from_date).format('LL') }}</span>
              </div>
              <div>
                <div class="executor">
                  <div class="executor-avatar">
                    <img src="{{ apiService.apiUrl }}/account/user/avatar?user_id={{item.employee_id}}" alt="">
                  </div>
                  <div class="executor-name">{{ item.employee_first_name }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="canceled_appointments.length" class="past">
        <h3>{{ 'title-canceled' |translate }}</h3>
        <div class="cardclients-table-flex">
          <div class="table-flex-head">
            <span>{{ 'label-service-occupation' | translate }}</span>
            <span>{{ 'label-date' | translate }}</span>
            <span>{{ 'label-executor' | translate }}</span>
          </div>
          <div class="table-flex-body" *ngFor="let item of canceled_appointments">
            <div class="services-row">
              <div>
                <span class="service-name">{{ item.product_title }}</span>
                <span class="service-details">{{ item.product_price / 100 }}{{ currency_symbol }}</span>
              </div>
              <div>
                <span class="service-date">{{ moment(item.from_date).format('LL') }}</span>
              </div>
              <div>
                <div class="executor">
                  <div class="executor-avatar">
                    <img src="{{ apiService.apiUrl }}/account/user/avatar?user_id={{item.employee_id}}" alt="">
                  </div>
                  <div class="executor-name">{{ item.employee_first_name }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!booking.length" class="table-no-data">
        <div class="table-no-data-icon">
          <i class="icon-calendar"></i>
        </div>
        <div class="table-no-data-message">{{ 'no-any-session' | translate }}</div>
      </div>
    </div>
  </app-scroll-panel>
</div>