button{
    background: #FFFFFF;
    border: 2px solid #D7DEE5;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font: 400 12px "Proxima Nova", sans-serif !important;
    img{
        margin-right: 6px;
    }
}
