@import '../../../../assets/scss/variables/colors';

.sidebar {
  position: relative;
  z-index: 2;
  background: $color-brand-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 64px;
  min-width: 64px;
  overflow: hidden;
  .sidebar-header {
    flex-grow: 1;
    max-height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-header-logo {
      img {
        width: 32px;
      }
    }
  }
  .sidebar-item-group {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    justify-content: space-between;
    .sidebar-item {
      font-weight: 100;
      height: 72px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-out;
      a {
        width: 48px;
        height: 48px;
        background: transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        transition: all 0.5s ease-out;
        cursor: pointer;
        i {
          color: rgba(255, 255, 255, 0.65);
          transition: all 0.5s ease-out;
        }
      }
      &.selected,
      &:hover {
        a {
          width: 48px;
          height: 48px;
          background: $color-brand-dark-blue;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          i {
            color: $color-white;
          }
        }
      }
    }
  }
}

.sub-sidebar {
  z-index: 1;
}

.sub-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 7.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

  border-bottom: 1px solid $color-border-block;
}

.sub-sidebar-content {
  padding: 1.6rem 2.4rem 4rem;
}

.sub-sidebar-item {
  display: block;
  color: #414141;
  transition: all 0.2s ease-out;
  padding: 0.8rem;
  margin: 0.8rem 0 0.8rem -0.8rem;

  &:hover {
    color: $color-brand-blue;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgba(24, 111, 218, 0.08);
    transition: all 0.2s ease-out;

    i {
      transition: all 0.2s ease-out;
      color: $color-brand-blue;
    }
  }

  i {
    padding-right: 0.8rem;
  }
}
