<aside class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-header-logo">
      <img src="../../../assets/img/logo.png" alt="" />
    </div>
  </div>

  <div class="sidebar-item-group">
    <div>
      <ng-container *ngFor="let menuitem of menuItems; let i = index;">
        <div class="sidebar-item" [ngClass]="{'selected': selectedIndex == i}" (click)="select(i)">
          <a routerLink="{{ menuitem.path }}"><i class="{{ menuitem.icontype }}"></i></a>
        </div>
      </ng-container>
      <div class="sidebar-item" (click)="display = !display">
        <a><i class="icon-settings"></i></a>
      </div>
    </div>
  </div>
</aside>
<p-sidebar [styleClass]="'sub-sidebar'" [(visible)]="display" [autoZIndex]="false" [showCloseIcon]="false">
  <div class="sub-sidebar-header">
    <div class="text-2xl font-semibold">{{ 'menu' | translate }}</div>
    <div (click)="display = !display">
      <i class="icon icon-close icon--bg-circle-on-hover icon--color-gray"></i>
    </div>
  </div>
  <div class="sub-sidebar-content">
    <a routerLink="/company-profile/general" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-comp-profile icon--color-gray"></i>
      {{ 'company_profile' | translate }}
    </a>
    <a routerLink="/company-profile/locations" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-locationpoint icon--color-gray"></i>
      {{ 'location' | translate }}
    </a>
    <a routerLink="/company-profile/portfolio" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-camera icon--color-gray"></i>
      {{ 'portfolio' | translate }}
    </a>
    <a routerLink="/company-profile/booking-settings" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-booking icon--color-gray"></i>
      {{ 'online-record' | translate }}
    </a>
    <a routerLink="/sms" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-booking icon--color-gray"></i>
      {{ 'sms_sending' | translate }}
    </a>
    <a routerLink="/staff/active" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-staff icon--color-gray"></i>
      {{ 'staff' | translate }}
    </a>
    <a routerLink="/products/list/goods" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-servicepack icon--color-gray"></i>
      {{ 'goods_services' | translate }}
    </a>
    <a routerLink="/payments/general" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-billing icon--color-gray"></i>
      {{ 'billing' | translate }}
    </a>
    <a routerLink="/database-import" class="sub-sidebar-item" (click)="display = !display">
      <i class="icon icon-database icon--color-gray"></i>
      {{ 'database_import' | translate }}
    </a>
  </div>
</p-sidebar>