<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="tabs">
        <a class="tab" [routerLink]="['/company-profile/general']" routerLinkActive="tab--active">
          {{ 'general' | translate }}
        </a>
        <a class="tab" [routerLink]="['/company-profile/locations']" routerLinkActive="tab--active">
          {{ 'location' | translate }}
        </a>
        <a class="tab" [routerLink]="['/company-profile/portfolio']" routerLinkActive="tab--active">
          {{ 'portfolio' | translate }}
        </a>
        <a class="tab" [routerLink]="['/company-profile/tariff']" routerLinkActive="tab--active">
          {{ 'tariff' | translate }}
        </a>
        <a class="tab" [routerLink]="['/company-profile/booking-settings']" routerLinkActive="tab--active">
          {{ 'online-record' | translate }}
        </a>
      </div>

      <router-outlet></router-outlet>
    </div>
  </section>
</main>
