@import '../../../../../../../assets/scss/variables/colors';

.content {
  height: 85%;
  .search {
    padding: 16px;

    .search-field {
      max-width: 300px;

      input {
        padding-left: 0;
      }
    }
  }

  .visits {
    height: 100%;
    background-color: $color-page-bg;
    padding: 24px 55px 24px 24px;
    .planned {
      margin-bottom: 32px;
    }
    .cardclients-table-flex {
      .table-flex-head {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        span {
          color: $color-opacity-text;
          font-weight: 600;
          flex-basis: 25%;
          &:first-of-type {
            flex-basis: 50%;
          }
        }
      }
      .table-flex-body {
        .products {
          &-row {
            display: flex;
            margin-bottom: 8px;
            padding: 16px 24px;
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
            background-color: $color-white;
            box-shadow: 0px 5px 20px rgba(207, 218, 232, 0.25);
            > div {
              flex-basis: 25%;
              &:first-of-type {
                flex-basis: 50%;
              }
            }
            span {
              display: block;
            }
            .product {
              &-name {
                font-weight: 400;
                color: $color-black-text;
              }
              &-price {
                color: $color-black-text;
              }
            }
          }
        }
      }
    }
  }
}
