<div class="content">
  <div class="search">
    <div class="input-group search-field">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="icon-search"></i>
        </div>
      </div>
      <input #searchInput class="form-control" type="text" placeholder="{{ 'search' | translate }}"
        (keyup)="search(searchInput.value);" />
    </div>
  </div>
  <app-scroll-panel>
    <div class="visits">
      <div *ngIf="transactions.length" class="planned">
        <div class="cardclients-table-flex">
          <div class="table-flex-head">
            <span>{{ 'label-product' | translate }}</span>
            <span>{{ 'label-date' | translate }}</span>
            <span>{{ 'label-summ' | translate }}</span>
          </div>
          <div class="table-flex-body">
            <ng-container *ngFor="let trans of transactions">
              <div class="products-row" *ngFor="let prod of trans?.products">
                <div>
                  <span class="product-name">{{ prod?.title }}</span>
                </div>
                <div>
                  <span class="product-date">{{ moment(trans?.date).format('LL') }}</span>
                </div>
                <div>
                  <span class="product-price">{{ currency_symbol }} {{ prod?.price / 100 }}</span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div *ngIf="!transactions.length" class="table-no-data">
        <div class="table-no-data-icon">
          <i class="icon-wallet"></i>
        </div>
        <div class="table-no-data-message">{{ 'no-any-purchases' | translate }}</div>
      </div>
    </div>
  </app-scroll-panel>
</div>