<form class="form" [formGroup]="passForm">
  <div class="modal-body-wrapper">
    <div class="tabs modal-tabs">
      <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 0 }" (click)="switchTab(0)">
        {{ 'general' | translate }}
      </div>
      <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 1 }" (click)="switchTab(1)">
        {{ 'related-classes' | translate }}
      </div>
    </div>
  </div>

  <app-form-pass-general *ngIf="selected_tab === 0" [generalForm]="passForm"></app-form-pass-general>
  <app-form-pass-related-classes
    *ngIf="selected_tab === 1"
    [productsForm]="passForm.get('relations')"
  ></app-form-pass-related-classes>
</form>
