$color-brand-blue: #186fda;
$color-brand-blue-light: #398ff8;
$color-btn-blue-light: rgba(24, 111, 218, 0.05);
$color-brand-dark-blue: #15519a;
$color-blue-hover: #15519a;
$color-blue-pressed: #1060c3;
$color-brand-green: #64bf7c;
$color-warn-red: #ff552d;
$color-yellow: #ffcd2d;
$color-black-text: #3e3e3e;
$color-opacity-text: #828282;
$color-white: #ffffff;
$color-light-gray: #f5f5f5;
$color-stroke: #d7dee5;
$color-stroke-hover: #afd1f9;
$color-stroke-active: #86b6f3;
$color-checkbox-hover: #dae7f7;
$color-select-default: #f2f5f8;
$color-select-hover: #eaf1f8;
$color-page-bg: #f6f8fa;
$color-pos-hover: #67d484;
$color-pos-pressed: #4ea966;
$color-warn-hover: #ff6e4c;
$color-warn-pressed: #e2512e;
$color-atntn-hover: #ffd756;
$color-atntn-pressed: #f1bd17;
$color-fbbtn: #3c5b96;
$color-green-border: #60ba69;
$color-border-block: #f0f0f0;
$color-border-section: #f5f5f5;
$color-icon-gray: #b0b9c2;
