@import '../../../../../assets/scss/variables/colors';

.img-container {
  width: 100%;
  height: 0;
  overflow: hidden;

  &--visible {
    height: 400px;
  }
}

.cropper-container {
  width: 250px !important;
  height: 250px !important;
}

.cropper-crop-box {
  height: 250px !important;
}

.cropper-control-panel {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  font-weight: 600;

  @media (min-width: 768px) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  &-reset {
    cursor: pointer;
  }

  &-rotate {
    display: flex;
    color: $color-brand-blue;

    div {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:first-of-type {
        margin-right: 1.6rem;
      }
    }

    i {
      padding-right: 0.4rem;
      font-size: 1.6rem;
    }
  }
}

.drop-zone-wrapper {
  width: 100%;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;

  @media (min-width: 768px) {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 1.6rem;

  border-width: 2px;
  border-color: #d7dee5;
  border-style: dashed;

  background: #f6f8fa;

  cursor: pointer;

  @media (min-width: 768px) {
    padding: 3.2rem;
  }

  .icon-upload {
    padding-bottom: 1.6rem;
    font-size: 3.4rem;

    & ~ div {
      color: $color-black-text;
    }
  }
}

.ui-dialog-content {
  @media (min-width: 430px) {
    min-width: 400px;
  }
}

.dialog-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  padding-top: 0;
  padding-bottom: 0;
}

.dialog-footer {
  justify-content: flex-end;
}

.cropper-view-box {
  border-radius: 50%;
}
