<app-modal
  [overlayStyle]="{ padding: '1.6rem' }"
  [contentStyle]="{ width: '100%', 'max-width': '866px' }"
  [isOpen]="isOpen"
  (hide)="isOpen = false"
>
  <div class="dialog-header w-full">
    <span class="dialog-title">{{ 'avatar-cropper-upload-img' | translate }}</span>
    <i class="icon icon-close icon--bg-circle-on-hover cursor_click" (click)="toggleOpen()"></i>
  </div>

  <div class="dialog-body">
    <div class="drop-zone-wrapper" *ngIf="!isReady" (click)="dropZone.click()">
      <ngx-file-drop dropZoneClassName="" (onFileDrop)="dropped($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <div class="upload-container">
            <i class="icon-upload"></i>
            <div class="text-lg font-semibold">{{ 'file-upload-field' | translate }}</div>
          </div>
        </ng-template>
      </ngx-file-drop>
      <input #dropZone style="display: none" type="file" (change)="onFileChange($event); dropZone.value = null" />
    </div>

    <div class="img-container" [ngClass]="{ 'img-container--visible': isReady }">
      <img #image src="" alt="" crossorigin />
    </div>
  </div>
  <div *ngIf="isReady" class="cropper-control-panel">
    <div class="cropper-control-panel-reset" (click)="cropper.reset()">{{ 'discard-changes' | translate }}</div>
    <div class="cropper-control-panel-rotate">
      <div (click)="cropper.rotate(-90)">
        <i class="icon-rotate-left"></i>
        {{ 'turn-left' | translate }}
      </div>
      <div (click)="cropper.rotate(90)">
        <i class="icon-rotate-left"></i>
        {{ 'turn-right' | translate }}
      </div>
    </div>
  </div>

  <div *ngIf="isReady" class="dialog-footer">
    <button type="submit" class="btn-regular btn-green" (click)="onSubmit()">{{ 'submit' | translate }}</button>
  </div>
</app-modal>
