:host {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.table-wrapper {
  padding: 3.2rem;
}

p-dataView {
  .table-row {
    height: 7.2rem;
    .status-container {
      display: flex;
      align-items: center;
      width: 15%;
      font-size: 1.2rem;
      .status-block {
        margin: 0;
        border-radius: 5rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        text-transform: uppercase;
      }
      .badge_red {
        background-color: rgba(255, 85, 45, 0.1);
        color: #ff552d;
      }
      .badge_green {
        background-color: rgba(100, 191, 124, 0.1);
        color: #64bf7c;
      }
      .badge_pirple {
        color: #6f51c6;
        background-color: rgba(161, 140, 219, 0.15);
      }
    }
  }
}
