<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView #dv [value]="clients" [paginator]="true" [rows]="7" [lazy]="true" (onLazyLoad)="loadGoodsLazy($event)"
        [totalRecords]="total" [alwaysShowPaginator]="false" paginatorPosition="bottom" styleClass="table-wrapper">
        <p-header>
          <div style="display:flex;">
            <div style="flex-basis: 25%">{{ 'label-client-name' | translate }}</div>
            <div style="flex-basis: 15%">{{ 'label-status' | translate }}</div>
            <div style="flex-basis: 25%">{{ 'label-phone' | translate }}</div>
            <div style="flex-basis: 25%">{{ 'label-last-visite' | translate }}</div>
            <div style="flex-basis: 10%"></div>
          </div>
        </p-header>

        <ng-template let-client pTemplate="listItem">
          <div class="table-row">
            <div class="table-cell" style="width: 25%">
              <div class="avatar avatar--size-m">
                <img *ngIf="client.avatar" [src]="client.avatar" alt="" />
                <i *ngIf="!client.avatar" class="icon-avatar"></i>
              </div>
              <b>{{ client.first_name }} {{ client.last_name }}</b>
            </div>

            <div class="status-container" style="width: 15%">
              <ng-container>
                <div class="status-block badge_green" *ngIf="!client.last_transaction">
                  {{ 'client-status-lead' | translate }}
                </div>
                <div class="status-block badge_pirple"
                  *ngIf="client.last_transaction && moment().diff(client.last_transaction, 'month') === 0">
                  {{ 'client-status-loyal' | translate }}
                </div>
                <div class="status-block badge_red"
                  *ngIf="client.last_transaction && moment().diff(client.last_transaction, 'month') > 0">
                  {{ 'client-status-lost' | translate }}
                </div>
              </ng-container>
            </div>

            <div style="width: 25%">+{{ client.phone_code }}{{ client.phone_number }}</div>

            <div style="width: 20%">
              <ng-container>
                <div *ngIf="!client.last_transaction">
                  {{ 'no-visits' | translate }}
                </div>
                <div *ngIf="client.last_transaction">
                  {{ moment(client.last_transaction).format('LL') }}
                </div>
              </ng-container>

            </div>

            <div style="width: 10%">
              <div class="d-flex pr-3">
                <button [routerLink]="['/client-card/', client.id, 'statistics']" [state]="{ client_id: client.id }"
                  class="btn btn-regular btn-smooth">
                  {{ 'user-card' | translate }}
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>

  <div *ngIf="loading && !search" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && !clients.length && !search.length" class="table-no-data">
    <div class="table-no-data-message">{{ 'clients-empty' | translate }}</div>
  </div>

  <div *ngIf="!loading && !clients.length && search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="table-no-data-message">{{ 'clients-not-found' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</div>