<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView
        #dv
        [value]="service_packages"
        [paginator]="true"
        [rows]="7"
        [lazy]="true"
        (onLazyLoad)="loadGoodsLazy($event)"
        [totalRecords]="total"
        [alwaysShowPaginator]="false"
        paginatorPosition="bottom"
        styleClass="table-wrapper"
      >
        <p-header>
          <div style="display:flex;">
            <div style="flex-basis: 40%">{{ 'label-service-package' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-based-on' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-services-count' | translate }}</div>
            <div style="flex-basis: 15%">{{ 'label-price' | translate }}</div>
            <div style="flex-basis: 5%"></div>
          </div>
        </p-header>

        <ng-template let-product pTemplate="listItem">
          <div class="table-row">
            <div class="table-cell" style="flex-basis: 40%">
              <b>{{ product.title }}</b>
            </div>

            <div class="table-cell" style="flex-basis: 20%">
              {{ product.relations && product.relations[0].product_title }}
            </div>

            <div class="table-cell" style="flex-basis: 20%">{{ product.limit }} {{ 'pc' | translate }}</div>

            <div class="table-cell" style="flex-basis: 15%">
              {{ currency_symbol }} {{ (product.price / 100).toFixed(2) }}
            </div>

            <div class="table-cell" style="flex-basis: 5%">
              <div class="d-flex">
                <button class="btn-more" (click)="op.toggle($event)">
                  <i class="icon-menu-list"></i>
                </button>
                <p-overlayPanel [appendTo]="'body'" #op>
                  <div class="btn-more-menu">
                    <a routerLink="/products/edit/service-package/{{ product.id }}/0" class="btn-more-item">{{
                      'edit' | translate
                    }}</a>
                    <div class="btn-more-item" (click)="toArchive(product.id)">{{ 'to-archive' | translate }}</div>
                  </div>
                </p-overlayPanel>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>

  <div *ngIf="loading && !search" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && !service_packages.length && !search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-servicepack"></i>
    </div>
    <div class="table-no-data-message">{{ 'you-have-no-service-package' | translate }}</div>
    <a
      *ngIf="user_role === 1 || user_role === 3"
      routerLink="/products/create/service-package"
      class="btn btn-regular btn-green"
    >
      {{ 'add-first-service-package' | translate }}
    </a>
  </div>

  <div *ngIf="!loading && !service_packages.length && search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="table-no-data-message">{{ 'service-packages-not-found' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</div>
