<div class="booking-settings-faq-btn" (click)="modal.toggle()">
  {{ 'booking-settings-how-turn-on-online-booking' | translate }}
</div>

<app-modal #modal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '770px' }">
  <div class="dialog-header w-full">
    <span class="dialog-title">{{ 'booking-settings-how-turn-on-online-booking' | translate }}</span>
    <i class="icon icon-close icon--bg-circle-on-hover cursor_click" (click)="modal.toggle()"></i>
  </div>

  <div class="dialog-body">
    <div class="list-item" *ngFor="let item of listItems; index as idx">
      <div class="list-item-title">{{ idx + 1 }}. {{ item.title | translate }}</div>
      <div class="list-item-description">
        {{ item.description | translate }}
      </div>
      <a *ngIf="!item.click" [routerLink]="item.link" class="list-item-link">
        {{ item.link_name | translate }}
      </a>
      <div *ngIf="item.click" (click)="modal.toggle()" class="list-item-link">
        {{ item.link_name | translate }}
      </div>
    </div>
  </div>
</app-modal>
