@import '../../../../../../../assets/scss/variables/colors';

.booking-settings-faq-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 3.2rem;
  margin-top: 1.6rem;
  margin-right: 4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  background-color: $color-brand-blue;
  color: #fff;

  border-radius: 9999px;
  transition: background-color ease 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #398ff8;
  }
}

.list-item {
  width: 100%;

  &:not(:last-of-type) {
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid $color-border-section;
  }

  &-title {
    font-weight: 600;
    padding-bottom: 0.8rem;
  }

  &-description {
    padding-bottom: 0.8rem;
  }

  &-link {
    color: $color-brand-blue;
    font-weight: 600;
    padding-bottom: 1.6rem;
    cursor: pointer;
  }
}
