@import '../../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}
.employee-avatar-container {
  display: flex;
  width: 100%;
  align-items: center;

  padding-bottom: 1.6rem;

  @media (min-width: 768px) {
    padding-bottom: 5.6rem;
  }

  .employee-full-name {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.employee-info {
  &-description {
    color: $color-opacity-text;
  }

  &-row {
    display: flex;

    width: 100%;
    padding-bottom: 1.6rem;

    border-bottom: 1px solid $color-border-section;

    &:not(:last-of-type) {
      margin-bottom: 1.6rem;
    }

    &-label {
      width: 50%;
      font-weight: 600;

      @media (min-width: 768px) {
        width: 40%;
      }
    }
  }
}

.employee-card-left-block {
  position: relative;
  width: 100%;
  max-width: 64rem;

  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;

  @media (min-width: 992px) {
    padding-left: 5.6rem;
    padding-right: 5.6rem;
  }
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    padding-bottom: 1.6rem;
  }
}

.modal-footer {
  padding-left: 0;
  padding-right: 0;
  div {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 64rem;
    margin-left: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @media (min-width: 992px) {
      padding-left: 5.6rem;
      padding-right: 5.6rem;
    }
  }
}
