@import '../../../../../assets/scss/variables/colors';
button {
  background: $color-fbbtn;
  border-radius: 3px;
  color: #ffffff;
  padding: 15px 10px;
  border: 0;
  outline: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: 400 12px 'Proxima Nova', sans-serif !important;
  img {
    margin-right: 6px;
  }
}
