@font-face {
  font-family: 'cloud-icons';
  src: url('./assets/fonts/cloud-icons.eot');
  src: url('./assets/fonts/cloud-icons.eot?#iefix') format('eot'), url('./assets/fonts/cloud-icons.woff2') format('woff2'),
    url('./assets/fonts/cloud-icons.woff') format('woff'), url('./assets/fonts/cloud-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-flex;
  align-items: center;
  font-family: 'cloud-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: $color-icon-gray;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  &--color {
    &-gray {
      color: $color-icon-gray;
    }

    &-white {
      color: $color-white;
    }

    &-black {
      color: $color-black-text;
    }
  }

  &--size {
    &-xs {
      font-size: 1rem;
    }
    &-xxl {
      font-size: 6rem;
    }
  }

  &--bg-circle-on-hover {
    cursor: pointer;
    &::before {
      line-height: 1;
      display: block;
      padding: 10px !important;
      border-radius: 50%;
    }
    &:hover {
      &::before {
        background-color: rgba(59, 59, 59, 0.05);
      }
    }
  }
}

.icon-close {
  cursor: pointer;
}

.icon-locationpoint:before {
  content: '\e800';
} /* '' */
.icon-menu-list:before {
  content: '\e801';
} /* '' */
.icon-desktop-monitor:before {
  content: '\e802';
} /* '' */
.icon-developing:before {
  content: '\e803';
} /* '' */
.icon-download:before {
  content: '\e804';
} /* '' */
.icon-enterprise:before {
  content: '\e805';
} /* '' */
.icon-growth:before {
  content: '\e806';
} /* '' */
.icon-not-find:before {
  content: '\e807';
} /* '' */
.icon-peoples:before {
  content: '\e808';
} /* '' */
.icon-plus-in-house:before {
  content: '\e809';
} /* '' */
.icon-point-location:before {
  content: '\e80a';
} /* '' */
.icon-minus:before {
  content: '\e80d';
} /* '' */
.icon-servicepack:before {
  content: '\e80e';
} /* '' */
.icon-calendar-select:before {
  content: '\e80f';
} /* '' */
.icon-staff:before {
  content: '\e810';
} /* '' */
.icon-billing:before {
  content: '\e811';
} /* '' */
.icon-comp-profile:before {
  content: '\e812';
} /* '' */
.icon-database:before {
  content: '\e813';
} /* '' */
.icon-rotate-right:before {
  content: '\e814';
} /* '' */
.icon-rotate-left:before {
  content: '\e815';
} /* '' */
.icon-chevron:before {
  content: '\e816';
} /* '' */
.icon-location-aim-1:before {
  content: '\e848';
} /* '' */
.icon-location:before {
  content: '\e849';
} /* '' */
.icon-bodywell-text:before {
  content: '\e84a';
} /* '' */
.icon-logout:before {
  content: '\e84b';
} /* '' */
.icon-male:before {
  content: '\e84c';
} /* '' */
.icon-menu:before {
  content: '\e84d';
} /* '' */
.icon-morning:before {
  content: '\e84f';
} /* '' */
.icon-new-user:before {
  content: '\e850';
} /* '' */
.icon-notification:before {
  content: '\e851';
} /* '' */
.icon-password:before {
  content: '\e852';
} /* '' */
.icon-percent:before {
  content: '\e853';
} /* '' */
.icon-phone:before {
  content: '\e854';
} /* '' */
.icon-plus:before {
  content: '\e855';
} /* '' */
.icon-price:before {
  content: '\e856';
} /* '' */
.icon-profile:before {
  content: '\e857';
} /* '' */
.icon-refresh:before {
  content: '\e858';
} /* '' */
.icon-remove:before {
  content: '\e859';
} /* '' */
.icon-reports:before {
  content: '\e85a';
} /* '' */
.icon-rocket:before {
  content: '\e85b';
} /* '' */
.icon-scissors:before {
  content: '\e85c';
} /* '' */
.icon-search:before {
  content: '\e85d';
} /* '' */
.icon-select:before {
  content: '\e85e';
} /* '' */
.icon-sendemail:before {
  content: '\e85f';
} /* '' */
.icon-service:before {
  content: '\e860';
} /* '' */
.icon-settings:before {
  content: '\e861';
} /* '' */
.icon-spa:before {
  content: '\e862';
} /* '' */
.icon-star:before {
  content: '\e863';
} /* '' */
.icon-success:before {
  content: '\e864';
} /* '' */
.icon-support:before {
  content: '\e865';
} /* '' */
.icon-upload:before {
  content: '\e867';
} /* '' */
.icon-wallet:before {
  content: '\e868';
} /* '' */
.icon-website:before {
  content: '\e869';
} /* '' */
.icon-yoga:before {
  content: '\e86a';
} /* '' */
.icon-afternoon:before {
  content: '\e86b';
} /* '' */
.icon-attention:before {
  content: '\e86c';
} /* '' */
.icon-beauty:before {
  content: '\e86d';
} /* '' */
.icon-bodywellfull:before {
  content: '\e86f';
} /* '' */
.icon-bodywell-symbol:before {
  content: '\e870';
} /* '' */
.icon-booking:before {
  content: '\e872';
} /* '' */
.icon-calendar:before {
  content: '\e873';
} /* '' */
.icon-camera:before {
  content: '\e874';
} /* '' */
.icon-cart:before {
  content: '\e875';
} /* '' */
.icon-cashflow:before {
  content: '\e876';
} /* '' */
.icon-clients:before {
  content: '\e878';
} /* '' */
.icon-clock:before {
  content: '\e879';
} /* '' */
.icon-close:before {
  content: '\e87a';
} /* '' */
.icon-cosmetology:before {
  content: '\e87b';
} /* '' */
.icon-dayoff:before {
  content: '\e87c';
} /* '' */
.icon-duration:before {
  content: '\e87d';
} /* '' */
.icon-ebitda:before {
  content: '\e87e';
} /* '' */
.icon-edit:before {
  content: '\e87f';
} /* '' */
.icon-education:before {
  content: '\e880';
} /* '' */
.icon-email:before {
  content: '\e881';
} /* '' */
.icon-evening:before {
  content: '\e882';
} /* '' */
.icon-eye:before {
  content: '\e883';
} /* '' */
.icon-facebook:before {
  content: '\e884';
} /* '' */
.icon-female:before {
  content: '\e885';
} /* '' */
.icon-fitness:before {
  content: '\e886';
} /* '' */
.icon-frontdesk:before {
  content: '\e887';
} /* '' */
.icon-gift:before {
  content: '\e888';
} /* '' */
.icon-gym:before {
  content: '\e889';
} /* '' */
.icon-hamburger:before {
  content: '\e88a';
} /* '' */
.icon-heart:before {
  content: '\e88b';
} /* '' */
.icon-home:before {
  content: '\e88c';
} /* '' */
.icon-image:before {
  content: '\e88d';
} /* '' */
.icon-incomedown:before {
  content: '\e88e';
} /* '' */
.icon-incomeup:before {
  content: '\e88f';
} /* '' */
.icon-info:before {
  content: '\e890';
} /* '' */
.icon-instagram:before {
  content: '\e891';
} /* '' */
.icon-like:before {
  content: '\e892';
} /* '' */
.icon-location-aim:before {
  content: '\e893';
} /* '' */
.icon-user:before {
  content: '\e89f';
} /* '' */
.icon-user-card:before {
  content: '\e8a0';
} /* '' */
.icon-avatar:before {
  content: '\e8ab';
} /* '' */
