<div #timeSelect class="time-picker">
  <div class="time-picker-input-wrapper" (click)="toggle();">
    <input #timeSelectInput class="time-picker-input" type="text" [value]="_selectedTime" readonly
      (onChange)="onChange($event.value)" />
    <div class="time-picker-input-icon">
      <i class="icon-select" [ngStyle]="{ transform: is_collapsed ? 'rotate(180deg)' : 'rotate(0)' }"></i>
    </div>
  </div>
  <div #timeSelectList class="time-picker-list-container" [ngClass]="{ show: isOpen }">
    <div class="time-picker-list">
      <div class="time-picker-list-item" *ngFor="let hour of hours"
        [ngClass]="{ 'time-picker-item-active': hour === _selectedTime }" (click)="setTime(hour); toggle();">
        {{ hour }}
      </div>
    </div>
  </div>
</div>