@import '../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background: $color-white;
}

.content {
  display: flex;
  height: 100%;

  .left-form-group {
    width: 100%;
    height: calc(100% - 73px);
    border-right: 1px solid #f0f0f0;
    @media (min-width: 768px) {
      width: 50%;
    }
  }

  .right-form-group {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      padding: 0;
    }
  }

  .tabs-client {
    .tabs {
      padding: 0;
    }
  }

  .modal-footer {
    padding-left: 0;
    padding-right: 0;
    div {
      display: flex;
      justify-content: space-between;

      width: 100%;
      padding-left: 1.6rem;
      padding-right: 1.6rem;

      @media (min-width: 992px) {
        padding-left: 55px;
        padding-right: 30px;
      }

      .btn-text {
        padding-left: 0;
      }
    }
  }

  .info-client {
    @media (min-width: 768px) {
      padding: 40px 30px 24px 55px;
    }
    .avatar-container {
      display: flex;
      width: 100%;
      align-items: center;

      padding-bottom: 1.6rem;

      @media (min-width: 768px) {
        padding-bottom: 5.6rem;
      }

      .full-name {
        font-size: 1.8rem;
        font-weight: 600;
      }
      .tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        > p {
          font-size: 12px;
          margin: 0 8px 0 0;
          padding: 5px 16px;
          border-radius: 50px;
          text-transform: uppercase;
          &.badge_red {
            background-color: rgba(255, 85, 45, 0.1);
            color: #ff552d;
          }
          &.badge_green {
            background-color: rgba(100, 191, 124, 0.1);
            color: #64bf7c;
          }
          &.badge_pirple {
            color: #6f51c6;
            background-color: rgba(161, 140, 219, 0.15);
          }
          &.red {
            color: #f86262;
            background: rgba(248, 98, 98, 0.25);
          }
        }
      }
    }
    .online-profile {
      display: flex;
      align-items: center;
      .btn-blue-text {
        padding: 0;
      }
      .on-active {
        background: #60ba69;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 8px;
        &::before {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          background: url(../../../../../assets/icons/Shape.svg) no-repeat;
          background-position: center;
        }
      }
      span {
        color: #60ba69;
      }
    }
    .switch {
      margin-top: 34px;
      width: 100%;
      margin-bottom: 20px;
      p {
        font-size: 15px;
        margin-left: 8px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .description {
      p {
        color: $color-opacity-text;
      }
    }

    .info {
      &-description {
        color: $color-opacity-text;
      }

      &-row {
        display: flex;

        width: 100%;
        padding-bottom: 1.6rem;

        margin-bottom: 1.6rem;
        border-bottom: 1px solid $color-border-section;

        &-label {
          width: 50%;
          font-weight: 600;

          @media (min-width: 768px) {
            width: 40%;
          }
        }
      }
    }
  }
}
.btn-red {
  padding: 11px 16px;
}

.invalid-feedback {
  display: block;
  color: #ff552d;
}
.error_input {
  display: block;
  input {
    border: 2px solid #ff552d;
  }
}

.invite-dialog {
  .dialog-body {
    padding: 3.2rem;
    .form-group {
      margin-bottom: 2.4rem;
      width: 100%;
    }
    .info-section {
      h2 {
        font-weight: 600;
        text-align: left;
        font-size: 1.5rem;
        line-height: 1.5;
        margin: 0;
      }
      p {
        white-space: normal;
        text-align: left;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        padding-bottom: 2.4rem;
      }
    }
  }
  .btn-green {
    padding: 11px 16px;
  }
}
