<div class="modal-header">
  <div class="modal-title">{{ 'client-card' | translate }}</div>
  <div (click)="goBack()">
    <i class="icon-close icon--color-black"></i>
  </div>
</div>
<div class="content">
  <div class=" left-form-group">
    <app-scroll-panel>
      <div class="info-client">
        <div class="avatar-container">
          <div class="avatar avatar--size-xxl">
            <img *ngIf="userData?.avatar" [src]="userData.avatar" alt="" />
            <img *ngIf="!userData?.avatar" src="../../../../assets/img/avatar.jpg" alt="" />
          </div>
          <div>
            <div class="full-name">{{ userData?.first_name }} {{ userData?.last_name }}</div>
            <div class="tags">
              <ng-container>
                <p class="badge_green" *ngIf="!userData?.last_transaction">
                  {{ 'client-status-lead' | translate }}
                </p>
                <p class="badge_pirple"
                  *ngIf="userData?.last_transaction && moment().diff(userData?.last_transaction, 'month') === 0">
                  {{ 'client-status-loyal' | translate }}
                </p>
                <p class="badge_red"
                  *ngIf="userData?.last_transaction && moment().diff(userData?.last_transaction, 'month') > 0">
                  {{ 'client-status-lost' | translate }}
                </p>
              </ng-container>
              <p *ngIf="checked === 1" class="red">{{ 'is-ban' | translate}}</p>
            </div>
          </div>
        </div>

        <div class="info-row">
          <span class="info-row-label">{{ 'phone-number' | translate }}: </span>
          <ng-container>
            <div class="info-row-value">
              <span
                *ngIf="userData?.phone_code && userData?.phone_number">+{{ userData?.phone_code }}{{ userData?.phone_number }}</span>
              <span *ngIf="!userData?.phone_code || !userData?.phone_number">{{ 'no-data' | translate }}</span>
            </div>
          </ng-container>
        </div>
        <div class="info-row">
          <span class="info-row-label">{{ 'user-email' | translate }}: </span>
          <ng-container>
            <div class="info-row-value">
              <span *ngIf="userData?.email">{{ userData?.email }}</span>
              <span *ngIf="!userData?.email">{{ 'no-data' | translate }}</span>
            </div>
          </ng-container>
        </div>
        <div class="info-row">
          <span class="info-row-label">{{ 'user-birthday' | translate }}: </span>
          <ng-container>
            <div class="info-row-value">
              <span
                *ngIf="userData?.birth && userData?.birth !== '0000-00-00'">{{ moment(userData?.birth).format('LL') }}</span>
              <span *ngIf="!userData?.birth || userData?.birth === '0000-00-00'">{{ 'no-data' | translate }}</span>
            </div>
          </ng-container>
        </div>
        <div class="info-row">
          <span class="info-row-label">{{ 'source-of-attraction' | translate }}: </span>
          <ng-container>
            <div class="info-row-value">
              <span *ngIf="userData?.source_title">{{ userData?.source_title }}</span>
              <span *ngIf="!userData?.source_title">{{ 'no-data' | translate }}</span>
            </div>
          </ng-container>
        </div>
        <div class="info-row">
          <span class="info-row-label">{{ 'user-sex' | translate }}:</span>
          <ng-container>
            <div class="info-row-value">
              <span *ngIf="userData?.sex === 1">{{ 'male-sex' | translate }}</span>
              <span *ngIf="userData?.sex === 2">{{ 'femail-sex' | translate }}</span>
              <span *ngIf="userData?.sex === 3">{{ 'not-specified' | translate }}</span>
            </div>
          </ng-container>
        </div>
        <div class="info-row">
          <span class="info-row-label">{{ 'online-profile' | translate }}: </span>
          <ng-container>
            <div class="info-row-value">
              <div *ngIf="userData?.is_catalog && userData?.is_catalog === 1" class="online-profile">
                <span class="on-active"></span>
                <span>{{ 'profile-linked' | translate }}</span>
              </div>

              <div *ngIf="!userData?.is_catalog || userData?.is_catalog !== 1" class="online-profile">
                <button class="btn-blue-text" (click)="invite.toggle()">{{ 'send-invitation' | translate }}</button>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="switch d-flex">
          <p-inputSwitch [(ngModel)]="checked" (onChange)="banClient()"></p-inputSwitch>
          <p>{{ 'add-to-black-list' | translate }}</p>
        </div>
        <div class="description">
          <p>{{ 'black-list-description' | translate }}</p>
        </div>
      </div>
    </app-scroll-panel>
    <div class="modal-footer">
      <div>
        <button class="btn-regular btn-text"
          (click)="removeConfirmModal.toggle()">{{ 'delete-user' | translate }}</button>
        <button class="btn-regular btn-smooth"
          routerLink="/client-update/{{userData?.id}}">{{ 'update-user' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="tabs-client right-form-group">
    <div class="tabs">
      <a class="tab" [routerLink]="['/client-card', userId, 'statistics']" routerLinkActive="tab--active">
        {{ 'statistics' | translate }}
      </a>
      <a class="tab" [routerLink]="['/client-card', userId, 'notes']" routerLinkActive="tab--active">
        {{ 'notes' | translate }}
      </a>
      <a class="tab" [routerLink]="['/client-card', userId, 'sessions']" routerLinkActive="tab--active">
        {{ 'sessions' | translate }}
      </a>
      <a class="tab" [routerLink]="['/client-card', userId, 'purchases']" routerLinkActive="tab--active">
        {{ 'purchases' | translate }}
      </a>
      <a class="tab" [routerLink]="['/client-card', userId, 'tickets']" routerLinkActive="tab--active">
        {{ 'tickets' | translate }}
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>

<app-modal #removeConfirmModal [overlayStyle]="{ padding: '1.6rem' }">
  <div class="dialog-header">
    <div class="dialog-title">{{'dialog-confirm-remove-client-title' | translate}}</div>
    <div (click)="removeConfirmModal.toggle()">
      <i class="icon-close icon--bg-circle-on-hover icon--color-black"></i>
    </div>
  </div>
  <div class="dialog-body">
    {{'dialog-confirm-remove-client' | translate}}
  </div>
  <div class="dialog-footer">
    <button type="button" class="btn-regular btn-smooth"
      (click)="removeConfirmModal.toggle()">{{ 'cancel' | translate }}</button>
    <button type="button" class="btn-regular btn-red"
      (click)="deleteClient(userData?.id)">{{'remove-client' | translate}}</button>
  </div>
</app-modal>

<app-modal class="invite-dialog" #invite [overlayStyle]="{ padding: '1.6rem' }"
  [contentStyle]="{ width: '100%', 'max-width': '620px', 'max-height': '470px' }">
  <div class="dialog-header">
    <div class="dialog-title">{{'dialog-client-invite' | translate}}</div>
    <div (click)="invite.toggle()">
      <i class="icon-close icon--bg-circle-on-hover icon--color-black"></i>
    </div>
  </div>
  <div class="dialog-body">
    <div class="form-group" [ngClass]="!userEmail ? 'error_input'
      : 'success_input'
  ">
      <label for="company-name">{{ 'label-client-email' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="userEmail"
        placeholder="{{ 'enter-client-email' | translate }}" />
      <div *ngIf="!userEmail" class="invalid-feedback">
        {{ 'auth-required' | translate }}
      </div>
    </div>
    <div class="info-section">
      <h2>{{ 'client-not-in-catalog-title' | translate }}</h2>
      <p>{{ 'client-not-in-catalog-description' | translate }}</p>
      <h2>{{ 'client-in-catalog-title' | translate }}</h2>
      <p>{{ 'client-in-catalog-description' | translate }}</p>
    </div>
  </div>
  <div class="dialog-footer">
    <button type="button" class="btn-regular btn-smooth" (click)="invite.toggle()">{{ 'cancel' | translate }}</button>
    <button type="button" class="btn-regular btn-green"
      (click)="inviteClient(); invite.toggle();">{{'invite-client' | translate}}</button>
  </div>
</app-modal>