@import '../../../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.security-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.form-content {
  width: 100%;
  height: 100%;

  padding: 1.6rem;

  @media (min-width: 768px) {
    max-width: 45rem;
    padding: 3.2rem;
  }

  .email {
    padding-bottom: 3.2rem;
    border-bottom: 1px solid $color-border-section;
  }
}

.support-description {
  padding-top: 0.4rem;
  color: $color-opacity-text;
}

.support-email {
  color: $color-brand-blue;
}

.pass-requirement {
  padding-top: 0.4rem;
  color: $color-opacity-text;
}

.form-footer {
  padding: 0.8rem 1.6rem;

  border-top: 1px solid $color-border-block;

  @media (min-width: 768px) {
    padding: 1.6rem 3.2rem;
  }
}
.form-group {
  i {
    position: absolute;
    top: 0;
    right: 0;

    padding: 16px 12px;

    font-size: 9px;
    cursor: pointer;

    &.pass--visible {
      color: #186fda;
    }
  }
}
