<form class="security-form" (ngSubmit)="onSubmit()" [formGroup]="securityForm">
    <app-scroll-panel>
  <div class="form-content">
    <div class="form-group email">
      <label for="user-email">{{'email' | translate}}</label>
      <input type="text" class="form-default" id="user-email" formControlName="email"/>

      <div class="support-description">
        {{'user-profile-contact-support' | translate}}
        <a href="mailto:support@bodywell.io" class="support-email">
          {{'user-profile-technical-support' | translate}}
        </a>
      </div>
    </div>

    <label for="old-password">{{'user-profile-old-password' | translate}}<span class="required">*</span></label>
    <div class="form-group">
      <i class="icon icon-eye" [ngClass]="{'pass--visible': showPass[0]}" (click)="showPass[0] = !showPass[0]"></i>
      <input type="{{ showPass[0] ? 'text' : 'password' }}" class="form-default" id="old-password" formControlName="oldPass"/>
    </div>
    <label for="new-password">{{'user-profile-new-password' | translate}}<span class="required">*</span></label>
    <div class="form-group">
      <i class="icon icon-eye" [ngClass]="{'pass--visible': showPass[1]}" (click)="showPass[1] = !showPass[1]"></i>
      <input type="{{ showPass[1] ? 'text' : 'password' }}" class="form-default" id="new-password" formControlName="newPass"/>
      <div class="pass-requirement">{{'requirements-password' | translate}}</div>
    </div>
  </div>
    </app-scroll-panel>
  <div class="form-footer">
    <button type="submit" [ngClass]="{'btn-disabled': securityForm.invalid}" [disabled]="securityForm.invalid" class="btn-green">{{'submit' | translate}}</button>
  </div>
</form>
