<div #timePicker class="time-picker">
  <div class="time-picker-input-wrapper">
    <input
      #timePickerInput
      class="time-picker-input"
      type="text"
      [id]="inputId"
      [value]="selectedTime"
      [placeholder]="placeholder"
      readonly
      (click)="toggle()"
    />
    <div class="time-picker-input-icon">
      <i class="icon-clock"></i>
    </div>
  </div>
  <div #timePickerList class="time-picker-list-container" [ngClass]="{ show: isOpen }">
    <div class="time-picker-list">
      <div
        class="time-picker-list-item"
        *ngFor="let hour of hours"
        [ngClass]="{ 'time-picker-item-active': hour === selectedHour }"
        (click)="setTime(hour, 'hour')"
      >
        {{ hour }} {{ hoursPrefix }}
      </div>
    </div>
    <div class="time-picker-list">
      <div
        class="time-picker-list-item"
        *ngFor="let minute of minutes"
        [ngClass]="{ 'time-picker-item-active': minute === selectedMinute }"
        (click)="setTime(minute, 'minute')"
      >
        {{ minute }} {{ minutesPrefix }}
      </div>
    </div>
  </div>
</div>
