@import '../../../../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  height: 100%;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 1.6rem;

    @media (min-width: 768px) {
      max-width: calc(100% / 6 * 5);
      padding-top: 5.6rem;
    }

    @media (min-width: 992px) {
      max-width: calc(100% / 3 * 2);
    }

    @media (min-width: 1600px) {
      max-width: calc(100% / 2);
    }
  }

  .left-form-group {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }
  }
  .right-form-group {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      padding-left: 1.6rem;
      padding-right: 0;
    }
  }
}

.form-group {
  display: flex;
  flex-wrap: wrap;
}
.form-group,
.switch-group {
  width: 100%;
}

.form-group-left,
.form-group-right {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.form-group-left {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.form-group-right {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 768px) {
    padding-right: 0;
  }
}

.switch-group {
  display: flex;
  align-items: center;
  padding-bottom: 2.4rem;

  label {
    flex-shrink: 0;
    margin: 0 1.6rem 0 0;
  }
}

.custom-select {
  width: 140px;
}

.collapse-label {
  display: flex;
  align-items: center;
  width: 100%;

  padding-top: 2.4rem;
  padding-bottom: 2.4rem;

  cursor: pointer;
}

.collapse-icon {
  margin-right: 1.6rem;

  i {
    transition: transform ease 0.2s;
  }
}

.collapse-title {
  font-weight: 600;
  color: #186fda;
}

.collapse-subtitle {
  color: $color-opacity-text;
}

.collapse-block {
  display: flex;
  width: 100%;
  overflow: hidden;

  &.collapsed {
    height: 0;
  }
}

.product-description {
  width: 100%;
  color: $color-opacity-text;
  text-align: right;
}
