<form class="modal-body" [formGroup]="passGeneralForm">
  <app-scroll-panel>
    <div class="modal-content">
      <div class="modal-content-container">
        <!-- Название абонемента -->
        <div class="form-group-left">
          <div class="form-group">
            <label appFieldRequired for="title">{{ 'label-pass' | translate }}</label>
            <input type="text" formControlName="title" id="title" />
          </div>
        </div>

        <!-- Цена абонемента -->
        <div class="form-group-right">
          <label appFieldRequired for="price">{{ 'label-price' | translate }}</label>
          <div class="input-group form-group">
            <input
              class="form-control"
              type="number"
              id="price"
              [value]="price && price / 100"
              (input)="priceChange($event.target.value)"
            />
            <div class="input-group-text">
              <div class="input-group-append">{{ currency_symbol }}</div>
            </div>
          </div>
        </div>

        <!-- Ограничение посещений абонемента -->
        <div class="form-group-left">
          <label appFieldRequired for="restrict-visits">{{ 'label-restrict-visits' | translate }}</label>
          <div class="switch-group">
            <label class="switch">
              <input type="checkbox" (change)="limitStatusChange($event.target.checked)" />
              <span class="slider round"></span>
            </label>
            <input
              type="number"
              id="restrict-visits"
              [placeholder]="limit_status ? '' : ('no-limit' | translate)"
              [value]="limit_status ? limit : ''"
              [disabled]="!limit_status"
              (input)="passGeneralForm.patchValue({ limit: $event.target.value })"
            />
          </div>
        </div>

        <!-- Срок действия абонемента -->
        <div class="form-group-right">
          <label appFieldRequired for="pass-lifetime">{{ 'label-lifetime' | translate }}</label>
          <div class="input-group" #targetField>
            <input *ngIf="lifetime_type !== 3" type="number" id="pass-lifetime" class="form-control" formControlName="time" />
            <input
              *ngIf="lifetime_type === 3"
              class="form-control"
              type="text"
              [value]="passGeneralForm.value.time"
              readonly
              (click)="lifetimeCalendar.show($event, targetField)"
            />
            <div *ngIf="lifetime_type === 3" class="input-group-append">
              <div class="input-group-text">
                <i class="icon icon-calendar icon--color-gray"></i>
              </div>
            </div>
            <div class="input-group-append">
              <ng-select
                [items]="pass_lifetime_types"
                appendTo="body"
                bindLabel="label"
                bindValue="value"
                [searchable]="false"
                [clearable]="false"
                class="custom-select"
                formControlName="lifetime_type"
                (change)="lifetimeTypeChange($event)"
              >
                <ng-template ng-label-tmp let-item="item">
                  <div>{{ item.label | translate }}</div>
                </ng-template>

                <ng-template ng-option-tmp let-item="item">
                  <div>{{ item.label | translate }}</div>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <p-overlayPanel [appendTo]="'body'" #lifetimeCalendar>
            <app-date-picker (toggle)="lifetimeCalendar.hide()" [view]="'day'" formControlName="time"></app-date-picker>
          </p-overlayPanel>
        </div>

        <div class="collapse-label" (click)="is_collapsed = !is_collapsed">
          <div class="collapse-icon">
            <i class="icon-select" [ngStyle]="{ transform: !is_collapsed ? 'rotate(180deg)' : 'rotate(0)' }"></i>
          </div>
          <div>
            <div class="collapse-title">{{ 'more-settings' | translate }}</div>
            <div class="collapse-subtitle">{{ 'do-not-avoid-to-fill-this-data' | translate }}</div>
          </div>
        </div>

        <div class="collapse-block" [ngClass]="{ collapsed: is_collapsed }">
          <!-- Условие начала действия абонемента -->
          <div class="form-group-left">
            <label for="activate">{{ 'label-activation-start' | translate }}</label>
            <div class="input-group form-group" #activateElement>
              <input
                *ngIf="start_type !== 3"
                type="text"
                id="activate"
                class="form-control"
                [placeholder]="
                  activate === 1 ? ('placeholder-immediately-after-purchase' | translate) : activate === 2 ? ('first_use' | translate) : ''
                "
                [disabled]="true"
              />
              <input
                *ngIf="start_type === 3"
                class="form-control"
                type="text"
                [value]="activate"
                readonly
                (click)="activateCalendar.toggle($event, activateElement)"
              />
              <div *ngIf="start_type === 3" class="input-group-append">
                <div class="input-group-text">
                  <i class="icon icon-calendar icon--color-gray"></i>
                </div>
              </div>
              <div class="input-group-append">
                <ng-select
                  [items]="pass_start_types"
                  appendTo="body"
                  bindLabel="label"
                  bindValue="value"
                  [searchable]="false"
                  [clearable]="false"
                  class="custom-select"
                  formControlName="start_type"
                  (change)="startTypeChange($event.value)"
                >
                  <ng-template ng-label-tmp let-item="item">
                    <div>
                      {{ item.label | translate }}
                    </div>
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item">
                    <div>{{ item.label | translate }}</div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <p-overlayPanel #activateCalendar [appendTo]="'body'">
              <app-date-picker (toggle)="activateCalendar.hide()" [view]="'day'" formControlName="activate"> </app-date-picker>
            </p-overlayPanel>
          </div>

          <div class="form-group-right">
            <div class="form-group">
              <label for="pass-description">{{ 'label-pass-description' | translate }}</label>
              <textarea name="pass-description" id="pass-description" cols="30" rows="7" formControlName="description"></textarea>
              <div class="product-description">{{ description.length }}/128</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-scroll-panel>
</form>
