@import '../../../../../assets/scss/variables/colors';
.welcome-block {
  max-width: inherit;
  background-color: $color-brand-blue;
  background-image: url(src/assets/img/business.c5f11334.jpg);
  background-position: 50%;
  background-size: cover;
  height: 100%;
  padding: 30px 55px;
  .logo-block {
    padding-bottom: 60px;
    img {
      width: 125px;
    }
  }
  .slogan-block {
    color: #fff;
    font-size: 36px;
    max-width: 274px;
  }
}
