<div class="welcome-block ">
    <div class="logo-block">
        <img src="assets/icons/Logo.svg" alt="">
    </div>
    <div class="slogan-block  hidden">
      {{ 'auth-business-slogan' | translate }}
    </div>
</div>
