<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView
        #dv
        [value]="archive"
        [paginator]="true"
        [rows]="7"
        [lazy]="true"
        (onLazyLoad)="loadGoodsLazy($event)"
        [totalRecords]="total"
        [alwaysShowPaginator]="false"
        paginatorPosition="bottom"
        styleClass="table-wrapper"
      >
        <p-header>
          <div style="display:flex;">
            <div style="flex-basis: 30%">{{ 'label-product' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-category' | translate }}</div>
            <div style="flex-basis: 15%">{{ 'label-type' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-price' | translate }}</div>
            <div style="flex-basis: 15%"></div>
          </div>
        </p-header>

        <ng-template let-product pTemplate="listItem">
          <div class="table-row">
            <!-- Название занятия -->
            <div class="table-cell" style="flex-basis: 30%">
              <b>{{ product.title }}</b>
            </div>

            <!-- Категория занятия -->
            <div class="table-cell" style="flex-basis: 20%">
              <ng-container *ngIf="product.category_title">{{ product.category_title }}</ng-container>
              <ng-container *ngIf="!product.category_title">&#8212;</ng-container>
            </div>

            <!-- Доступно мест на занятии -->
            <div class="table-cell" style="flex-basis: 15%">{{ product_type[product.type] | translate }}</div>

            <!-- Сотрудники, предоставляющие донное занятие -->
            <div class="table-cell" style="flex-basis: 10%">
              <ng-container *ngIf="product.price !== 1">{{ currency_symbol }}{{ (product.price / 100).toFixed(2) }}</ng-container>
              <ng-container *ngIf="product.price === 1">&#8212;</ng-container>
            </div>

            <div class="table-cell" style="flex-basis: 25%">
              <button class="btn btn-regular btn-smooth" (click)="fromArchive(product)">
                {{ 'restore' | translate }}
              </button>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>

  <div *ngIf="loading && !search" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && !archive.length && !search.length" class="table-no-data">
    <div class="table-no-data-message">{{ 'archive-empty' | translate }}</div>
  </div>

  <div *ngIf="!loading && !archive.length && search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="table-no-data-message">{{ 'products-not-found' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</div>
