@import '../../../../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  height: 100%;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 100%;
    height: 100%;

    padding: 0 3.2rem 1.6rem;
  }
}

.notifications {
  width: 100%;

  &-date {
    padding-top: 2.4rem;

    font-size: 1.8rem;
    font-weight: 600;
  }

  &-time {
    color: $color-opacity-text;
  }

  &-wrapper {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;

    border-bottom: 1px solid $color-border-block;
  }

  &-title-wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  &-title {
    font-weight: 600;
  }

  &-get-more {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 1.6rem 3.2rem;
  }
}

.notifications-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}
