<app-scroll-panel>
  <div class="modal-content">
    <div class="modal-content-container">
      <div
        *ngIf="!today_notifications.length && !yesterday_notifications.length && !other_notifications.length"
        class="notifications-not-found"
      >
        <div class="pb-2">
          <i class="icon-notification icon--size-xxl"></i>
        </div>
        <div class="text-black-65">{{ 'no-new-notifications' | translate }}</div>
      </div>

      <div class="notifications" *ngIf="today_notifications?.items.length">
        <div class="notifications-date">{{ today_notifications.date | translate }}</div>
        <div class="notifications-wrapper" *ngFor="let notification of today_notifications?.items">
          <div class="notifications-title-wrapper">
            <div class="notifications-title">{{ notification.type | translate }}</div>
            <div class="notifications-time">{{ moment(notification.date).format('HH:mm') }}</div>
          </div>
          <div>
            <a *ngIf="notification.text.link_pathname" [routerLink]="notification?.text?.link_pathname">
              {{ notification.text.link_title }}
            </a>
            {{ notification.text.message }}
          </div>
        </div>
      </div>

      <div class="notifications" *ngIf="yesterday_notifications?.items.length">
        <div class="notifications-date">{{ yesterday_notifications.date | translate }}</div>
        <div class="notifications-wrapper" *ngFor="let notification of yesterday_notifications?.items">
          <div class="notifications-title-wrapper">
            <div class="notifications-title">{{ notification.type | translate }}</div>
            <div class="notifications-time">{{ moment(notification.date).format('HH:mm') }}</div>
          </div>
          <div class="d-flex">
            <a *ngIf="notification.text.link_pathname" [routerLink]="notification?.text?.link_pathname">
              {{ notification.text.link_title }}
            </a>
            <span>{{ notification.text.message }}</span>
          </div>
        </div>
      </div>

      <div class="notifications" *ngIf="other_notifications.length">
        <div *ngFor="let notifications of other_notifications">
          <div class="notifications-date">{{ moment(notifications.date).format('MMMM DD, YYYY') }}</div>
          <div class="notifications-wrapper" *ngFor="let notification of notifications?.items">
            <div class="notifications-title-wrapper">
              <div class="notifications-title">{{ notification.type | translate }}</div>
              <div class="notifications-time">{{ moment(notification.date).format('HH:mm') }}</div>
            </div>
            <div>
              <a *ngIf="notification.text.link_pathname" [routerLink]="notification?.text?.link_pathname">{{
                notification.text.link_title
              }}</a>
              <span>{{ notification.text.message }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="notifications-get-more">
        <button
          class="btn-regular btn-smooth"
          *ngIf="all_notifications.length > 6"
          [disabled]="notifications_limit.getValue() >= all_notifications.length"
          (click)="getMoreNotifications()"
        >
          Загрузить ранние уведомления
        </button>
      </div>
    </div>
  </div>
</app-scroll-panel>
