:host {
  width: 100%;
}
.page-body {
  flex-direction: row !important;
}
.tabs_block {
  width: 300px;
}
.content {
  padding: 32px;
  flex-grow: 1;
  padding-right: 0;
  .d-flex {
    margin: 0 -15px;
    margin-right: 10px;
    .card {
      background: #ffffff;
      box-shadow: 0px 5px 15px rgba(207, 218, 232, 0.15);
      border: 0;
      padding: 30px 24px;
      margin-bottom: 30px;
      p {
        font-size: 15px;
        line-height: 18px;
        color: #828282;
        font-weight: 400;
        margin-bottom: 0;
        &.number {
          font-size: 24px;
          color: #3e3e3e;
          font-weight: 600;
          margin-top: 15px;
        }
      }
      a {
        font-size: 15px;
        line-height: 18px;
        color: #186fda;
        font-weight: 600;
        display: block;
        text-decoration: none;
        margin-top: 15px;
        &:hover {
          text-transform: none;
        }
      }

      .card-header {
        border: 0;
        background: transparent;
        display: flex;
        align-items: center;
        padding: 0;
        p {
          margin-bottom: 0;
          margin-top: 0;
        }
        .img-icon {
          margin-right: 8px;
          height: 18px;
          display: flex;
          align-items: center;
          img {
            width: 14px;
          }
        }
      }
      &.first {
        padding: 24px;
        .card-header {
          justify-content: center;

          p {
            font-weight: 600;
            margin-bottom: 0;
            color: #3e3e3e;
            opacity: 1;
          }
          .img-icon {
            width: 40px;
            height: 40px;
            min-width: 40px;
            background: #60ba69;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 16px;
            img {
              width: 16px;
            }
          }
        }
      }
      .row_list {
        padding: 16px 0;
        border-bottom: 1px solid rgba(218, 221, 224, 0.35);
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &.item1 {
            margin-bottom: 10px;
            p,
            span {
              font-size: 15px;
              font-weight: 600;
              color: #3e3e3e;
            }
          }
          &.item2 {
            p,
            span {
              font-size: 12px;
              color: #828282;
            }
          }
        }
      }
    }
  }
}

.process_block {
  padding-top: 24px;
  .note {
    padding: 0 24px 16px 24px;
    border-bottom: 1px solid #f5f5f5;
    .d-flex {
      padding-top: 16px;
      > div {
        &:first-of-type {
          margin-right: 13px;
        }
      }
    }
  }
  h2 {
    font-size: 15px;
    line-height: 18px;
    color: #828282;
    margin-bottom: 17px;
  }
  h3 {
    font-size: 15px;
    line-height: 18px;
    color: #3e3e3e;
    font-weight: 600;
    margin-bottom: 8px;
    position: relative;

    &::before {
      content: '';
      display: inline;
      border-radius: 3px;
      width: 3px;
      height: calc(100% - 3px);
      position: absolute;
      left: 0;
    }
    &.women {
      padding-left: 13px;
      &::before {
        background: #fc695f;
      }
    }
    &.men {
      padding-left: 13px;
      &::before {
        background: #755ffc;
      }
    }
  }
  p {
    font-size: 15px;
    line-height: 18px;
    color: #3e3e3e;
    margin-bottom: 16px;
    &.text-blue {
      color: #186fda;
      font-weight: 600;
    }
  }
  span {
    font-size: 12px;
    line-height: 15px;
    color: #828282;
    margin-bottom: 8px;
    display: block;
    &.opacity {
      color: #3e3e3e;
    }
  }

  .btns {
    display: flex;
    margin-bottom: 16px;
  }
  .client_image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    img {
      width: 100%;
    }
  }
}
