<main>
  <section class="page">
    <app-header></app-header>

    <div class="page-body">
      <div class="tabs_block">
        <app-scroll-panel>
          <p-tabView class="tab_view">
            <p-tabPanel header="Сессия">
              <div class="process_block">
                <div class="note">
                  <h2>В процессе</h2>
                  <div class="d-flex">
                    <div>
                      <p>18:30</p>
                      <div class="client_image">
                        <img src="../../../assets/img/avatar.jpg" alt="" />
                      </div>
                    </div>
                    <div>
                      <h3 class="women">Женская стрижка и кератиновое лечение</h3>
                      <span>Клиент</span>
                      <p>Ольга Войтенко</p>
                      <button class="btn-green-border">Начать</button>
                    </div>
                  </div>
                </div>
                <div class="note">
                  <div class="d-flex">
                    <div>
                      <p>18:30</p>
                      <div class="client_image">
                        <img src="../../../assets/img/avatar.jpg" alt="" />
                      </div>
                    </div>
                    <div>
                      <h3 class="men">Мужская стрижка</h3>
                      <span>Клиент</span>
                      <p>Михаил Алексеенко</p>
                      <button class="btn-green-border">Начать</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="process_block">
                <div class="note">
                  <h2>Ближайшие</h2>
                  <div class="d-flex">
                    <div>
                      <p>18:30</p>
                      <div class="client_image">
                        <img src="../../../assets/img/avatar.jpg" alt="" />
                      </div>
                    </div>
                    <div>
                      <h3 class="women">Женская стрижка и кератиновое лечение</h3>
                      <span>Клиент</span>
                      <p>Ольга Войтенко</p>
                      <button class="btn-green-border">Начать</button>
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Заявки">
              <div class="process_block">
                <div class="note">
                  <div>
                    <h3>Женская стрижка и кератиновое лечение</h3>
                    <span>Дата и время</span>
                    <p>Май 24, 18:30</p>
                    <span>Клиент</span>
                    <p class="text-blue">Ольга Войтенко</p>
                    <span>Исполнитель</span>
                    <p>Любой свободный</p>
                    <div class="btns">
                      <button class="btn-green">Принять</button>
                      <button class="btn-text">Отклонить</button>
                    </div>
                    <span class="opacity">
                      Заявка действительна до Май 25, 18:30
                    </span>
                  </div>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </app-scroll-panel>
      </div>

      <div class="content">
        <app-scroll-panel>
          <div class="d-flex">
            <div class="col-4">
              <div class="card first">
                <div class="card-header">
                  <div class="img-icon">
                    <img src="../../../assets/img/icon/plus-icon.png" alt="" />
                  </div>
                  <p>Создать запись</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <p>Всего сеансов сегодня</p>
                </div>
                <p class="number">35</p>
              </div>
              <div class="card">
                <div class="card-header">
                  <p>Сеансов завершено</p>
                </div>
                <p class="number">10</p>
              </div>
              <div class="card">
                <div class="card-header">
                  <p>Лучшие сотрудники</p>
                </div>
                <div class="row_list">
                  <div class="item1">
                    <p>Елена Иванова</p>
                    <span>13 350</span>
                  </div>
                  <div class="item2">
                    <p>Сеансов:</p>
                    <span>85</span>
                  </div>
                </div>
                <div class="row_list">
                  <div class="item1">
                    <p>Елена Иванова</p>
                    <span>13 350</span>
                  </div>
                  <div class="item2">
                    <p>Сеансов:</p>
                    <span>85</span>
                  </div>
                </div>
                <div class="row_list">
                  <div class="item1">
                    <p>Елена Иванова</p>
                    <span>13 350</span>
                  </div>
                  <div class="item2">
                    <p>Сеансов:</p>
                    <span>85</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card first">
                <div class="card-header">
                  <div class="img-icon">
                    <img src="../../../assets/img/icon/plus-icon.png" alt="" />
                  </div>
                  <p>Добавить клиента</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <div class="img-icon">
                    <img src="../../../assets/img/icon/user-plus-icon.png" alt="" />
                  </div>
                  <p>Клиентов сегодня</p>
                </div>
                <p class="number">35</p>
              </div>
              <div class="card">
                <div class="card-header">
                  <div class="img-icon">
                    <img src="../../../assets/img/icon/heart-icon.png" alt="" />
                  </div>
                  <p>Клиентов сегодня</p>
                </div>
                <p class="number">13</p>
              </div>
              <div class="card">
                <div class="card-header">
                  <p>Именинников сегодня</p>
                </div>
                <p class="number">13</p>
                <a href="#">Смотреть список</a>
              </div>
            </div>
            <div class="col-4">
              <div class="card first">
                <div class="card-header ">
                  <div class="img-icon">
                    <img src="../../../assets/img/icon/plus-icon.png" alt="" />
                  </div>
                  <p>Новая транзакция</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <div class="img-icon">
                    <img src="../../../assets/img/icon/arrow-up-icon.png" alt="" />
                  </div>
                  <p>Выручка за сегодня</p>
                </div>
                <p class="number">320 245</p>
              </div>
              <div class="card">
                <div class="card-header">
                  <p>Лидеры продаж</p>
                </div>
                <div class="tabs_block">
                  <p-tabView class="tab_view">
                    <p-tabPanel header="Товары">
                      <div class="row_list">
                        <div class="item1">
                          <p>Мужская стрижка</p>
                          <span>270 ед.</span>
                        </div>
                        <div class="item2">
                          <p>Сумма:</p>
                          <span>74 350</span>
                        </div>
                      </div>
                      <div class="row_list">
                        <div class="item1">
                          <p>Женская стрижка</p>
                          <span>270 ед.</span>
                        </div>
                        <div class="item2">
                          <p>Сумма:</p>
                          <span>74 350</span>
                        </div>
                      </div>
                      <div class="row_list">
                        <div class="item1">
                          <p>Выпрямление волос</p>
                          <span>270 ед.</span>
                        </div>
                        <div class="item2">
                          <p>Сумма:</p>
                          <span>74 350</span>
                        </div>
                      </div>
                    </p-tabPanel>
                    <p-tabPanel header="Услуги"> </p-tabPanel>
                  </p-tabView>
                </div>
              </div>
            </div>
          </div>
        </app-scroll-panel>
      </div>
    </div>
  </section>
</main>