@import '../../../../../assets/scss/variables/colors';
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 1.6rem;

    @media (min-width: 768px) {
      max-width: calc(100% / 6 * 5);
      padding-top: 1.2rem;
    }

    @media (min-width: 992px) {
      max-width: calc(100% / 3 * 2);
    }

    @media (min-width: 1600px) {
      max-width: calc(100% / 2);
    }

    @media (max-width: 768px) {
      padding: 3.6rem;
    }
  }

  .client-avatar-block {
    display: flex;
    width: 100%;

    padding-bottom: 1.6rem;

    @media (min-width: 768px) {
      padding-bottom: 2.4rem;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      align-content: center;

      margin-left: 0.8rem;
    }
  }

  .client-avatar-title {
    width: 100%;
    font-weight: 600;
  }

  .client-avatar-description {
    width: 100%;
    max-width: 32rem;
    color: $color-opacity-text;
  }

  .left-form-group {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      padding-left: 0;
      padding-right: 1.6rem;
    }
  }
  .right-form-group {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      padding-left: 1.6rem;
      padding-right: 0;
    }
  }
}

.email-description {
  color: $color-opacity-text;
}

.phone-code {
  position: relative;

  display: flex;
  align-items: center;

  padding-left: 0.8rem;

  font-size: 1.5rem;
  border-left: 2px solid #e3e3e3;

  ~ .form-control {
    border-left: none;
  }
}

.comment {
  width: 100%;
  color: $color-opacity-text;
  text-align: right;
}
.gender-radio {
  cursor: pointer;
  .gender-section {
    align-items: center;
    padding-right: 2.4rem;
    width: 50%;
    .gender-icons {
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      font-size: 1.5rem;
      transform: none;
      width: 40px;
      height: 40px;
      margin-right: 1.6rem;
      background-color: rgba(24, 111, 218, 0.05);
      border-radius: 50%;
      transition: background-color 0.2s ease-out 0s;
    }
    .active {
      color: rgb(24, 111, 218);
    }
  }
}
