<div class="modal-header">
  <div *ngIf="!clientId" class="modal-title">{{ 'create-client-title' | translate }}</div>
  <div *ngIf="clientId" class="modal-title">{{ 'update-client-title' | translate }}</div>
  <div><i class="icon-close icon--bg-circle-on-hover icon--color-black" (click)="goBack()"></i></div>
</div>
<form class="modal-body" [formGroup]="createClientForm">
  <app-scroll-panel>
    <div class="modal-content">
      <div class="modal-content-container">
        <div class="client-avatar-block">
          <app-avatar-cropper formControlName="avatar"></app-avatar-cropper>
          <div>
            <div class="client-avatar-title">{{ 'client-avatar-title' | translate }}</div>
            <div class="client-avatar-description">{{ 'client-avatar-description' | translate }}</div>
          </div>
        </div>
        <div class="left-form-group">
          <div class="form-group">
            <label for="first_name" appFieldRequired>{{ 'first-name' | translate }}</label>
            <input type="text" name="first_name" id="first_name" formControlName="first_name" />
          </div>

          <div class="form-group">
            <label for="last_name">{{ 'last-name' | translate }}</label>
            <input type="text" name="last_name" id="last_name" formControlName="last_name" />
          </div>

          <div class="form-group">
            <label for="phone" appFieldRequired>{{ 'phone' | translate }}</label>
            <div #phone class="input-group">
              <div class="input-group-prepend">
                <app-phone-field [options]="phoneCodes" [appendTo]="'body'" formControlName="phone"> </app-phone-field>
              </div>
              <div class="phone-code">+{{ (createClientForm?.controls)['phone'].value.phone_code }}</div>
              <input class="form-control" type="text" name="phone_number" id="phone" formControlName="phone_number"
                (focus)="phone.classList.add('input-group--focus')"
                (blur)="phone.classList.remove('input-group--focus')" />
            </div>
          </div>

          <div class="form-group">
            <label for="comment">{{ 'label-comment' | translate }}</label>
            <textarea cols="30" rows="5" maxlength="128" formControlName="comment"></textarea>
            <div class="comment">{{ comment.length }}/128</div>
          </div>
        </div>

        <div class="right-form-group">
          <div class="form-group">
            <label for="email">{{ 'email' | translate }}</label>
            <input type="text" name="email" id="email" formControlName="email" />
          </div>

          <div class="form-group">
            <label for="birth">{{ 'label-birth' | translate }}</label>
            <div class="input-group" #targetField>
              <input class="form-control" type="text" [value]="createClientForm.value.birth" readonly
                (click)="lifetimeCalendar.show($event, targetField)" placeholder="{{ 'ГГГГ / ММ / ДД' | translate }}" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="icon icon-calendar icon--color-gray"></i>
                </div>
              </div>
            </div>
            <p-overlayPanel [appendTo]="'body'" #lifetimeCalendar>
              <app-date-picker (toggle)="lifetimeCalendar.hide()" [view]="'year'" formControlName="birth">
              </app-date-picker>
            </p-overlayPanel>
          </div>

          <div class="form-group">
            <label for="source">{{ 'source-of-attraction' | translate }}</label>
            <p-dropdown styleClass="base-select" dropdownIcon="icon icon-select icon--color-gray"
              formControlName="source_id" [options]="sources" (onShow)="rotateIcon()" (onHide)="rotateIcon()">
            </p-dropdown>
          </div>

          <div class="form-group">
            <label for="sex">{{ 'client-sex' | translate }}</label>
            <div class="gender-radio d-flex">
              <ng-container *ngFor="let sex of userSex">
                <div class="gender-section d-flex" (click)="toggleSex(sex.id)">
                  <i *ngIf="sex.id === 1" [ngClass]="{ 'active': selectedSex === sex.id }"
                    class="gender-icons icon-male"></i>
                  <i *ngIf="sex.id === 2" [ngClass]="{ 'active': selectedSex === sex.id }"
                    class="gender-icons icon-female"></i>
                  <div>{{ sex.title | translate }}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-scroll-panel>
</form>
<div class="modal-footer">
  <button type="button" class="btn-regular btn-smooth" (click)="goBack()">{{ 'cancel' | translate }}</button>
  <button *ngIf="!this.clientId" type="submit" class="btn-regular btn-green" (click)="createClient()"
    [disabled]="!createClientForm.valid">
    {{ 'create-client' | translate }}
  </button>
  <button *ngIf="this.clientId" type="submit" class="btn-regular btn-green" (click)="updateClient()"
    [disabled]="!createClientForm.valid">
    {{ 'updata-client' | translate }}
  </button>
</div>