<form (ngSubmit)="onSubmit()" [formGroup]="categoryForm">
  <div class="dialog-header text-2xl font-semibold">{{ 'create-category' | translate }}</div>
  <div class="dialog-body">
    <div class="form-group">
      <label appFieldRequired for="category">{{ 'label-category' | translate }}</label>
      <input type="text" id="category" formControlName="title" />
    </div>
  </div>
  <div class="dialog-footer">
    <button type="button" class="btn-regular btn-smooth" (click)="goBack()">{{ 'cancel' | translate }}</button>
    <button type="submit" class="btn-regular btn-green">{{ 'submit' | translate }}</button>
  </div>
</form>
