<app-scroll-panel>
  <div class="content">

    <div class="info-row">
      <span class="info-row-label">{{ 'bookings_count' | translate }}</span>
      <ng-container>
        <div *ngIf="statistics?.bookings_count" class="info-row-value">
          {{ statistics?.bookings_count }}
        </div>
        <div *ngIf="!statistics?.bookings_count" class="info-row-value">
          {{ 'no-data' | translate }}
        </div>
      </ng-container>
    </div>
    <div class="info-row">
      <span class="info-row-label">{{ 'transactions_middle' | translate }}</span>
      <ng-container>
        <div *ngIf="statistics?.transactions_middle" class="info-row-value">
          {{ statistics?.transactions_middle / 100 }} {{ currency_symbol }}
        </div>
        <div *ngIf="!statistics?.transactions_middle" class="info-row-value">
          {{ 'no-data' | translate }}
        </div>
      </ng-container>
    </div>
    <div class="info-row">
      <span class="info-row-label">{{ 'transactions_profit' | translate }}</span>
      <ng-container>
        <div *ngIf="statistics?.transactions_profit" class="info-row-value">
          {{ statistics?.transactions_profit / 100 }} {{ currency_symbol }}
        </div>
        <div *ngIf="!statistics?.transactions_profit" class="info-row-value">
          {{ 'no-data' | translate }}
        </div>
      </ng-container>
    </div>
    <div class="info-row">
      <span class="info-row-label">{{ 'last_transaction' | translate }}</span>
      <ng-container>
        <div *ngIf="statistics?.last_transaction" class="info-row-value">
          {{ moment(statistics?.last_transaction).format('LL') }}
        </div>
        <div *ngIf="!statistics?.last_transaction" class="info-row-value">
          {{ 'no-data' | translate }}
        </div>
      </ng-container>
    </div>
    <div class="info-row">
      <span class="info-row-label">{{ 'bookings_deny_count' | translate }}</span>
      <ng-container>
        <div *ngIf="statistics?.bookings_deny_count" class="info-row-value">
          {{ statistics?.bookings_deny_count }}
        </div>
        <div *ngIf="!statistics?.bookings_deny_count" class="info-row-value">
          {{ 'no-data' | translate }}
        </div>
      </ng-container>
    </div>
  </div>
</app-scroll-panel>