@import '../../../../../../../assets/scss/variables/colors';

.content {
  padding: 40px 55px 24px 24px;

  .info {
    &-description {
      color: $color-opacity-text;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 1.6rem;

      margin-bottom: 1.6rem;
      border-bottom: 1px solid $color-border-section;

      &-label {
        width: 50%;

        @media (min-width: 768px) {
          width: 40%;
        }
      }
      &-value {
        font-weight: 600;
      }
    }
  }
}
