<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView
        #dv
        [value]="employees"
        [paginator]="true"
        [rows]="7"
        [lazy]="true"
        (onLazyLoad)="loadEmployeesLazy($event)"
        [totalRecords]="total"
        [alwaysShowPaginator]="false"
        paginatorPosition="bottom"
        styleClass="table-wrapper"
      >
        <p-header>
          <div style="display:flex;">
            <div style="width: 30%">{{ 'first-name' | translate }}</div>
            <div style="width: 20%">{{ 'phone' | translate }}</div>
            <div style="width: 25%">{{ 'label-position' | translate }}</div>
            <div style="width: 25%"></div>
          </div>
        </p-header>

        <ng-template let-employee pTemplate="listItem">
          <div class="table-row">
            <div class="table-cell" style="width: 30%">
              <div class="avatar avatar--size-m">
                <img *ngIf="employee.avatar" [src]="employee.avatar" alt="" />
                <i *ngIf="!employee.avatar" class="icon-avatar"></i>
              </div>
              <b>{{ employee.user_last_name }} {{ employee.user_first_name }}</b>
            </div>

            <div style="width: 20%">+{{ employee.user_phone_code }}{{ employee.user_phone_number }}</div>

            <div style="width: 25%">{{ employee.role_title | translate }}</div>

            <div style="width: 25%">
              <button class="btn-regular btn-smooth" (click)="restoreEmployee(employee.id)">
                {{ 'restore' | translate }}
              </button>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>
  <div *ngIf="loading" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && !employees.length && !search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-clients"></i>
    </div>
    <div class="table-no-data-message">{{ 'no-any-inactive-member' | translate }}</div>
  </div>

  <div *ngIf="!loading && !employees.length && search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="table-no-data-message">{{ 'member-not-found' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</div>
