<div class="header-not-found d-flex">
  <div class="logo d-flex">
    <img src="../../../assets/img/Bodywell-Full-blue.svg" />
  </div>
  <div class="right-bar d-flex">
    <p>Have a problem?</p>
    <button class="btn-light-blue" routerLink="javascript:0">Contact Us</button>
  </div>
</div>
<div class="main-container">
  <div class="content">
    <h1>Page not found</h1>
    <p>Sorry, but the page you are looking for does not exist.</p>
    <button *ngIf="isLoggedIn" class="btn-blue" routerLink="/">Go to Dashboard</button>
    <button *ngIf="!isLoggedIn" class="btn-blue" routerLink="/">Go to Login</button>
  </div>
</div>
