:host {
  width: 100%;
}
.header-not-found {
  width: 100%;
  justify-content: space-between;
  padding: 24px 55px 0 55px;
  .right-bar {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #3e3e3e;
    z-index: 1;
    p {
      padding-right: 24px;
    }
  }
}
.main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  overflow: auto;
  justify-content: center;
  .content {
    position: absolute;
    top: 40%;
    width: 450px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    h1 {
      font-size: 48px;
      line-height: 58px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #186fda;
      margin: 0;
    }
    p {
      font-size: 16px;
      text-align: center;
      line-height: 18px;
      color: #3e3e3e;
      margin: 0;
      padding: 17px 0 24px 0;
    }
  }
}
