<div class="modal-header">
  <div class="modal-title">{{ 'edit-staff-member' | translate }}</div>
  <div><i class="icon-close icon--bg-circle-on-hover icon--color-black" (click)="goBack()"></i></div>
</div>
<form class="form" (ngSubmit)="onSubmit()" [formGroup]="editEmployeeForm">
  <div class="modal-body-wrapper">
    <div class="tabs modal-tabs">
      <div class="tab" [ngClass]="{ 'tab--active': selectedTab === 0 }" (click)="switchTab(0)">
        {{ 'general' | translate }}
      </div>
      <div
        class="tab"
        [ngSwitch]="businessType"
        [ngClass]="{ 'tab--active': selectedTab === 1 }"
        (click)="switchTab(1)"
      >
        <ng-container *ngSwitchCase="0">
          {{ 'services' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="1">
          {{ 'classes' | translate }}
        </ng-container>
      </div>
    </div>

    <app-general
      *ngIf="selectedTab === 0"
      [roles]="roles"
      [isEdit]="true"
      [employeeInfoFormGroup]="editEmployeeForm.get('employeeInfo')"
    ></app-general>

    <app-related-services
      *ngIf="selectedTab === 1"
      [branch_id]="editEmployeeForm.value.employeeInfo.branch_id"
      [businessType]="businessType"
      [employeeProductsFormGroup]="editEmployeeForm.get('employeeProducts')"
    ></app-related-services>

    <div class="modal-footer">
      <button type="button" class="btn-regular btn-smooth" (click)="goBack()">{{ 'cancel' | translate }}</button>
      <button type="submit" class="btn-regular btn-green" [disabled]="!editEmployeeForm.valid">
        {{ 'submit' | translate }}
      </button>
    </div>
  </div>
</form>
