:host {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.settings-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .input-group-prepend {
    padding-left: 0.8rem;
    padding-right: 1rem;
  }
}

.company-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 3.2rem;

  @media (min-width: 568px) {
    flex-direction: row;
  }
}

.company-info {
  padding-top: 2.4rem;

  text-align: center;

  @media (min-width: 568px) {
    padding-top: 0;
    padding-left: 1.6rem;

    text-align: left;
  }
}

.company-name {
  padding-bottom: 0.8rem;

  font-size: 2.4rem;
  font-weight: 600;
}

.company-position {

  padding-bottom: 4px;
}

.form-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 3.2rem 1.6rem 1.6rem;

  @media (min-width: 768px) {
    padding: 3.2rem;
  }
}

.form-content {
  width: 100%;
  max-width: 880px;
}

.form-fields-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.left-form-group, .right-form-group {
  width: 100%;

  @media (min-width: 650px) {
    width: 50%;
  }
}

.left-form-group {

  @media (min-width: 650px) {
    padding-right: 0.8rem;
  }

  @media (min-width: 768px) {
    padding-right: 1.6rem;
  }
}
.right-form-group {

  @media (min-width: 650px) {
    padding-left: 0.8rem;
  }

  @media (min-width: 768px) {
    padding-left: 1.6rem;
  }
}

.bottom-form-group {
  width: 100%;

  @media (min-width: 800px) {
    width: 50%;
    padding-right: 1.6rem;
  }
}
