<form #companyForm *ngIf="companyProfile" class="settings-form" [formGroup]="companyProfile">
  <app-scroll-panel>
    <div class="form-content-wrapper">
      <div class="form-content">
        <div class="company-info-wrapper">
          <app-avatar-cropper formControlName="logo"></app-avatar-cropper>
          <div class="company-info">
            <div class="company-name">{{ companyProfile.get('title').value }}</div>
            <div class="company-position">
              <div>{{ companyType | translate }}</div>
            </div>
          </div>
        </div>

        <div class="form-fields-wrapper">
          <div class="left-form-group">
            <div class="form-group">
              <label for="company-name">{{ 'label-company-name' | translate }}</label>
              <input type="text" class="form-control" id="company-name" formControlName="title" />
            </div>

            <div class="form-group">
              <label for="industry">{{ 'label-industry' | translate }}</label>
              <p-dropdown
                styleClass="base-select"
                panelStyleClass="base-select"
                inputId="industry"
                dropdownIcon="icon icon-select icon--color-gray"
                formControlName="industry_id"
                [appendTo]="companyForm"
                [options]="industries"
                [group]="true"
              >
                <ng-template let-group pTemplate="group">
                  {{ group.label | translate }}
                </ng-template>
                <ng-template let-item pTemplate="selectedItem">
                  {{ item.label | translate }}
                </ng-template>
                <ng-template let-industry pTemplate="item">
                  <div class="pl-2">
                    {{ industry.label | translate }}
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="form-group">
              <label>{{ 'label-currency' | translate }}</label>
              <p-dropdown
                styleClass="base-select"
                dropdownIcon="icon icon-select icon--color-gray"
                formControlName="currency_id"
                [appendTo]="companyForm"
                [options]="currencies"
              >
                <ng-template let-item pTemplate="selectedItem">
                  {{ item.label | translate }}
                </ng-template>
                <ng-template let-currency pTemplate="item">
                  {{ currency.label | translate }}
                </ng-template>
              </p-dropdown>
            </div>

            <div class="form-group">
              <label>{{ 'language' | translate }}</label>
              <p-dropdown
                styleClass="base-select"
                dropdownIcon="icon icon-select icon--color-gray"
                formControlName="language"
                [appendTo]="companyForm"
                [options]="languages"
              >
                <ng-template let-item pTemplate="selectedItem">
                  <img src="{{ item.img }}" style="width:16px;vertical-align:middle" />
                  <span style="vertical-align:middle; margin-left: .5em">{{ item.label }}</span>
                </ng-template>
                <ng-template let-list pTemplate="item">
                  <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <img src="{{ list.img }}" style="width:24px;position:absolute;top:1px;left:5px" />
                    <div style="font-size:14px;margin-left: 40px;margin-top:4px">{{ list.label }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>

          <div class="right-form-group">
            <div class="form-group">
              <label for="email">{{ 'email' | translate }}</label>
              <div #email class="input-group">
                <div class="input-group-prepend input-group-prepend--bg-gray">
                  <i class="icon icon-email icon--color-gray"></i>
                </div>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  (focus)="email.classList.add('input-group--focus')"
                  (blur)="email.classList.remove('input-group--focus')"
                  formControlName="email"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="web-site">{{ 'label-official-website' | translate }}</label>
              <div #site_url class="input-group">
                <div class="input-group-prepend input-group-prepend--bg-gray">
                  <i class="icon icon-website icon--color-gray"></i>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="web-site"
                  (focus)="site_url.classList.add('input-group--focus')"
                  (blur)="site_url.classList.remove('input-group--focus')"
                  formControlName="site_url"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="fb-page">{{ 'label-facebook-page' | translate }}</label>
              <div #fb_url class="input-group">
                <div class="input-group-prepend input-group-prepend--bg-gray">
                  <i class="icon icon-facebook icon--color-gray"></i>
                </div>
                <input
                  type="text"
                  class="form-control form-control--facebook"
                  id="fb-page"
                  (focus)="fb_url.classList.add('input-group--focus')"
                  (blur)="fb_url.classList.remove('input-group--focus')"
                  formControlName="fb_url"
                />
                <label for="fb-page" class="placeholder--facebook">www.facebook.com/</label>
              </div>
            </div>

            <div class="form-group">
              <label for="inst-page">{{ 'label-instagram-page' | translate }}</label>
              <div #ig_url class="input-group">
                <div class="input-group-prepend input-group-prepend--bg-gray">
                  <i class="icon icon-instagram icon--color-gray"></i>
                </div>
                <input
                  type="text"
                  class="form-control form-control--instagram"
                  id="inst-page"
                  (focus)="ig_url.classList.add('input-group--focus')"
                  (blur)="ig_url.classList.remove('input-group--focus')"
                  formControlName="ig_url"
                />
                <label for="fb-page" class="placeholder--instagram">www.instagram.com/</label>
              </div>
            </div>
          </div>

          <div class="bottom-form-group">
            <div class="form-group">
              <label for="company-description">{{ 'label-business-description' | translate }}</label>
              <textarea name="" id="company-description" cols="30" rows="5" formControlName="description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-scroll-panel>

  <div class="page-footer">
    <button type="submit" class="btn-green" (click)="onSubmit()">{{ 'update' | translate }}</button>
  </div>
</form>
