<form [ngClass]="{ hidden: display }" class="modal-body" [formGroup]="employeeInfoForm">
  <app-scroll-panel>
    <div class="modal-content">
      <div class="modal-content-container">
        <div class="employee-avatar-block">
          <app-avatar-cropper formControlName="avatar"></app-avatar-cropper>
          <div>
            <div class="employee-avatar-title">{{ 'employee-avatar-title' | translate }}</div>
            <div class="employee-avatar-description">{{ 'employee-avatar-description' | translate }}</div>
          </div>
        </div>
        <div class="left-form-group" [ngStyle]="{ width: isEdit ? '100%' : '50%' }">
          <div class="form-group">
            <label appFieldRequired>{{ 'label-position' | translate }}</label>
            <p-dropdown
              styleClass="base-select"
              dropdownIcon="icon icon-select icon--color-gray"
              formControlName="role_id"
              [autoDisplayFirst]="false"
              [options]="roles"
              (onChange)="changeIsService($event)"
            >
              <ng-template let-item pTemplate="selectedItem">
                {{ item.label | translate }}
              </ng-template>
              <ng-template let-role pTemplate="item">
                {{ role.label | translate }}
              </ng-template>
            </p-dropdown>
          </div>

          <div class="form-group">
            <div class="switch-group">
              <label class="switch">
                <input id="online_booking" name="online_booking" type="checkbox" formControlName="is_service" />
                <span class="slider round"></span>
              </label>
              <label class="switch-label" for="online_booking">
                {{ 'booking-settings-turn-online-booking-on' | translate }}
              </label>
            </div>
          </div>

          <div *ngIf="!isEdit" class="form-group">
            <label appFieldRequired>{{ 'location' | translate }}</label>
            <p-dropdown
              styleClass="base-select"
              dropdownIcon="icon icon-select icon--color-gray"
              formControlName="branch_id"
              [autoDisplayFirst]="false"
              [options]="branches"
            >
              <ng-template let-item pTemplate="selectedItem">
                {{ item.label | translate }}
              </ng-template>
              <ng-template let-branch pTemplate="item">
                {{ branch.label | translate }}
              </ng-template>
            </p-dropdown>
          </div>
          <div *ngIf="!isEdit" class="form-group">
            <label for="email" appFieldRequired>{{ 'email' | translate }}</label>
            <input type="email" name="email" id="email" formControlName="email" />
            <div class="email-description">{{ 'employee-email-description' | translate }}</div>
          </div>
        </div>
        <div *ngIf="!isEdit" class="right-form-group">
          <div class="form-group">
            <label for="first_name" appFieldRequired>{{ 'first-name' | translate }}</label>
            <input type="text" name="first_name" id="first_name" formControlName="first_name" />
          </div>
          <div class="form-group">
            <label for="last_name" appFieldRequired>{{ 'last-name' | translate }}</label>
            <input type="text" name="last_name" id="last_name" formControlName="last_name" />
          </div>

          <div class="form-group">
            <label for="phone" appFieldRequired>{{ 'phone' | translate }}</label>
            <div #phone class="input-group">
              <div class="input-group-prepend">
                <app-phone-field [options]="phoneCodes" [appendTo]="'body'" formControlName="phone"> </app-phone-field>
              </div>
              <div class="phone-code">+{{ (employeeInfoForm?.controls)['phone'].value.phone_code }}</div>
              <input
                class="form-control"
                type="text"
                name="phone_number"
                id="phone"
                formControlName="phone_number"
                (focus)="phone.classList.add('input-group--focus')"
                (blur)="phone.classList.remove('input-group--focus')"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-scroll-panel>
</form>
