@import '../../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  height: 100%;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 1.6rem;

    @media (min-width: 768px) {
      max-width: calc(100% / 6 * 5);
      padding-top: 5.6rem;
    }

    @media (min-width: 992px) {
      max-width: calc(100% / 3 * 2);
    }

    @media (min-width: 1600px) {
      max-width: calc(100% / 2);
    }
  }

  .employee-avatar-block {
    display: flex;
    width: 100%;

    padding-bottom: 1.6rem;

    @media (min-width: 768px) {
      padding-bottom: 2.4rem;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      align-content: center;

      margin-left: 0.8rem;
    }
  }

  .employee-avatar-title {
    width: 100%;
    font-weight: 600;
  }

  .employee-avatar-description {
    width: 100%;
    max-width: 32rem;
    color: $color-opacity-text;
  }

  .left-form-group {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      padding-left: 0;
      padding-right: 1.6rem;
    }
  }
  .right-form-group {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      padding-left: 1.6rem;
      padding-right: 0;
    }
  }
}

.email-description {
  color: $color-opacity-text;
}

.phone-code {
  position: relative;

  display: flex;
  align-items: center;

  padding-left: 0.8rem;

  font-size: 1.5rem;
  border-left: 2px solid #e3e3e3;

  ~ .form-control {
    border-left: none;
  }
}
