@import '../../../../../assets/scss/variables/colors';
@import '../../../../../assets/scss/variables/variables';

:host {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.table-wrapper {
  padding: 3.2rem;
}

.no-classes-wrapper {
  display: flex;
  align-items: center;
}

p-dataView {
  .table-row {
    height: 7.2rem;
  }
}

.employees-container {
  background-color: #fff;
  border-radius: 3px;
  padding-top: 1rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.employees-title {
  font-weight: 600;
  padding-right: 1.6rem;
}

.employee-wrapper {
  display: flex;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid $color-border-block;
}

.employee-link {
  color: $color-black-text;
  cursor: pointer;
  &:hover {
    color: #186fda;
  }
}

.employee-add {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #186fda;
  cursor: pointer;
}
