<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView
        #dv
        [value]="passes"
        [paginator]="true"
        [rows]="7"
        [lazy]="true"
        (onLazyLoad)="loadGoodsLazy($event)"
        [totalRecords]="total"
        [alwaysShowPaginator]="false"
        paginatorPosition="bottom"
        styleClass="table-wrapper"
      >
        <p-header>
          <div style="display:flex;">
            <div style="flex-basis: 35%">{{ 'label-pass' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-visit-limit' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-related-classes' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-price' | translate }}</div>
            <div style="flex-basis: 5%"></div>
          </div>
        </p-header>

        <ng-template let-product pTemplate="listItem">
          <div class="table-row">
            <div class="table-cell" style="flex-basis: 35%">
              <b>{{ product.title }}</b>
            </div>

            <div class="table-cell" style="flex-basis: 20%">
              <ng-container *ngIf="product.limit === -1">
                {{ 'no-limit' | translate }}
              </ng-container>
              <ng-container *ngIf="product.limit > 0"> {{ product.limit }} {{ 'pc' | translate }} </ng-container>
            </div>

            <div class="table-cell" style="flex-basis: 20%">

              <ng-container *ngIf="!product.relations">
                <div class="no-classes-wrapper">
                  <div class="pr-2">
                    {{ 'none' | translate }}
                  </div>
                  <a routerLink="/products/edit/pass/{{ product.id }}/1" class="btn btn-regular btn-smooth">
                    <i class="icon-plus"></i>
                  </a>
                </div>
              </ng-container>

              <ng-container *ngIf="product.relations">

                <button class="btn-regular btn-smooth" (click)="employeesList.show($event)">
                  {{ product.relations.length }}
                  {{
                    helperService.plural(product.relations.length, [
                      'classes-plural-1',
                      'classes-plural-2',
                      'classes-plural-3'
                    ]) | translate
                  }}
                </button>
                <p-overlayPanel [appendTo]="'body'" #employeesList>
                  <div class="employees-container">
                    <div class="title-wrapper">
                      <div class="employees-title">{{ 'label-related-classes' | translate }}</div>
                      <i class="icon-close icon--size-xs" (click)="op.hide()"></i>
                    </div>
                    <div class="employee-wrapper" *ngFor="let relation of product.relations">
                      <a routerLink="/products/edit/class/{{ relation.product_id }}/0" class="employee-link">{{
                        relation.product_title
                      }}</a>
                    </div>
                    <a routerLink="/products/edit/pass/{{ product.id }}/1" class="employee-add">{{
                      'add-new-related-class' | translate
                    }}</a>
                  </div>
                </p-overlayPanel>
              </ng-container>
            </div>

            <div class="table-cell" style="flex-basis: 20%">
              {{ currency_symbol }} {{ (product.price / 100).toFixed(2) }}
            </div>

            <div class="table-cell" style="flex-basis: 5%">
              <div class="d-flex">
                <button class="btn-more" (click)="op.toggle($event)">
                  <i class="icon-menu-list"></i>
                </button>
                <p-overlayPanel [appendTo]="'body'" #op>
                  <div class="btn-more-menu">
                    <a routerLink="/products/edit/pass/{{ product.id }}/0" class="btn-more-item">{{
                      'edit' | translate
                    }}</a>
                    <div class="btn-more-item" (click)="toArchive(product.id)">{{ 'to-archive' | translate }}</div>
                  </div>
                </p-overlayPanel>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>

  <div *ngIf="loading && !search" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && !passes.length && !search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-user-card"></i>
    </div>
    <div class="table-no-data-message">{{ 'you-have-no-pass' | translate }}</div>
    <a *ngIf="user_role === 1 || user_role === 3" routerLink="/products/create/pass" class="btn btn-regular btn-green">
      {{ 'add-first-pass' | translate }}
    </a>
  </div>

  <div *ngIf="!loading && !passes.length && search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="table-no-data-message">{{ 'passes-not-found' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</div>
