<div class="modal-body">
  <app-scroll-panel>
    <div class="modal-content">
      <div class="modal-content-container">
        <ng-container *ngIf="!isLoading; else loading">
          <ng-container *ngIf="classes.length; else noProducts">
            <div #search class="input-group search-field" *ngIf="classes.length >= 6">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="icon-search"></i>
                </div>
              </div>
              <input
                #searchInput
                class="form-control"
                type="text"
                placeholder="{{ 'search' | translate }}"
                [value]="searchValue$ | async"
                (focus)="search.classList.add('input-group--focus')"
                (blur)="search.classList.remove('input-group--focus')"
                (keyup)="searchProducts(searchInput.value)"
              />
            </div>

            <div class="select-all-btn" (click)="toggleAllProducts()">
              {{ (!isAllSelected ? 'select-all' : 'check-all') | translate }}
            </div>

            <div class="products-list">
              <ng-container *ngIf="!isNoResults; else noSearchResult">
                <ng-container *ngFor="let item of filteredProductsByCategory">
                  <div *ngIf="item.is_category_visible" class="category">
                    <div class="category-title">{{ item?.category_title }}</div>
                    <ng-container *ngFor="let product of item.products">
                      <div
                        class="bordered-item bordered-item--hover"
                        *ngIf="product.visible"
                        [ngClass]="{ 'bordered-item--active': product.selected }"
                        (click)="toggleProduct(product)"
                      >
                        <div>{{ product.title }}</div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </app-scroll-panel>
</div>

<ng-template #loading>
  <div class="preloader">
    <img src="../../../../../../../assets/img/preloader.gif" alt="" />
  </div>
</ng-template>

<ng-template #noSearchResult>
  <div class="list-no-data">
    <div class="list-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="list-no-data-message">{{ 'filter-no-result-message' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="list-no-data list-no-data--pos-center">
    <div class="list-no-data-icon">
      <i class="icon-yoga"></i>
    </div>
    <div class="list-no-data-message">
        {{ 'you-have-no-classes' | translate }}
    </div>
  </div>
</ng-template>
