  <form class="settings-form" #targetLayout [formGroup]="userProfile">
    <app-scroll-panel>
      <div class="form-content">
        <div class="user-info-wrapper">
          <app-avatar-cropper formControlName="avatar"></app-avatar-cropper>
          <div class="user-info">
            <div class="user-name">{{user_name}}</div>
            <div class="user-position">
              <div>Владелец в&nbsp;</div>
              <a routerLink="/company-profile">Touch Day SPA</a>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="user-first-name">{{'first-name' | translate}}</label>
          <input type="text" class="form-default" id="user-first-name" formControlName="first_name"/>
        </div>

        <div class="form-group">
          <label for="user-last-name">{{'last-name' | translate}}</label>
          <input type="text" class="form-default" id="user-last-name" formControlName="last_name"/>
        </div>
        <div>

        <div class="form-group">
          <label for="birth_date">{{'date-of-birth' | translate}}</label>
          <div #targetField class="input-group" (click)="op.toggle($event, targetField)">
            <input class="form-control" type="text" id="birth_date" [value]="userProfile?.controls['birth_date'].value" readonly>
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="icon icon-calendar icon--color-gray"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-overlayPanel [appendTo]="targetLayout" #op>
        <app-date-picker formControlName="birth_date" (toggle)="op.hide()" [view]="'year'"></app-date-picker>
      </p-overlayPanel>
        <div class="form-group">
          <label for="phone">{{'phone' | translate}}</label>
          <div #phone class="input-group">
            <div class="input-group-prepend">
              <app-phone-field
                [options]="phoneCodes"
                [appendTo]="targetLayout"
                formControlName="phone"
              >
              </app-phone-field>
            </div>
            <div class="phone-code">+{{userProfile?.controls['phone'].value.phone_code}}</div>
            <input
              class="form-control"
              type="text"
              id="phone"
              formControlName="phone_number"
              (focus)="phone.classList.add('input-group--focus')"
              (blur)="phone.classList.remove('input-group--focus')"
            >
          </div>
        </div>

        <div class="form-group">
          <label>{{'language' | translate}}</label>
          <p-dropdown
            styleClass="base-select"
            dropdownIcon="icon icon-select icon--color-gray"
            formControlName="language"
            [options]="languages"
            (onShow)="rotateIcon()"
            (onHide)="rotateIcon()"
          >
          </p-dropdown>
        </div>
      </div>
    </app-scroll-panel>
    <div class="form-footer">
      <button type="submit" class="btn-green" (click)="onSubmit()">{{'update' | translate}}</button>
    </div>
  </form>
