@import '../../../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.settings-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.form-content {
  width: 100%;
  height: 100%;

  padding: 3.2rem 1.6rem 1.6rem;

  @media (min-width: 768px) {
    max-width: 45rem;
    padding: 3.2rem;
  }
}

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 3.2rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.user-info {
  padding-top: 2.4rem;

  text-align: center;

  @media (min-width: 768px) {
    padding-top: 0;
    padding-left: 1.6rem;

    text-align: left;
  }
}

.user-name {
  padding-bottom: 1.6rem;

  font-size: 2.4rem;
  font-weight: 600;
}

.user-position {
  display: flex;
  padding-bottom: 4px;
}

.form-footer {
  padding: 0.8rem 1.6rem;

  border-top: 1px solid $color-border-block;

  @media (min-width: 768px) {
    padding: 1.6rem 3.2rem;
  }
}
.phone-code {
  position: relative;

  display: flex;
  align-items: center;

  padding-left: 0.8rem;

  font-size: 1.5rem;
  border-left: 2px solid #e3e3e3;

  ~ .form-control {
    border-left: none;
  }
}
