@import '../../../../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  height: 100%;
}

.modal-content {
  position: relative;

  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  padding-top: 3.2rem;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 3.2rem;

    @media (min-width: 768px) {
      max-width: calc(100% / 6 * 5);
    }

    @media (min-width: 992px) {
      max-width: calc(100% / 3 * 2);
    }

    @media (min-width: 1600px) {
      max-width: calc(100% / 2);
    }
  }
}

.form-group {
  width: 100%;
}

.form-group-left,
.form-group-right {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.form-group-left {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.form-group-right {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 768px) {
    padding-right: 0;
  }
}

.add-category {
  display: flex;
  align-items: center;

  padding: 1.5rem;

  cursor: pointer;

  button {
    margin-right: 0.8rem;
    transition: background-color ease 0.2s;
  }

  &:hover {
    button {
      background-color: rgba(24, 111, 218, 0.09);
      transition: background-color ease 0.2s;
    }
  }
}

.switch-group {
  display: flex;
  align-items: center;

  width: 100%;
  padding-bottom: 2.4rem;

  label {
    flex-shrink: 0;
    margin: 0 1.6rem 0 0;
  }
}

.class-description {
  width: 100%;
  color: $color-opacity-text;
  text-align: right;
}
