<form class="modal-body" [formGroup]="_generalForm">
  <app-scroll-panel>
    <div class="modal-content">
      <div class="modal-content-container">
        <!-- Название класса -->
        <div class="form-group-left">
          <div class="form-group">
            <label appFieldRequired for="title">{{ 'label-class' | translate }}</label>
            <input type="text" formControlName="title" id="title" />
          </div>
        </div>

        <!-- Цена класса -->
        <div class="form-group-right">
          <label appFieldRequired for="duration">{{ 'label-duration' | translate }}</label>
          <div class="form-group">
            <app-time-picker
              [minutesStep]="5"
              [inputId]="'duration'"
              [hoursPrefix]="'hr' | translate"
              [minutesPrefix]="'min' | translate"
              [placeholder]="'placeholder-duration' | translate"
              formControlName="duration"
            ></app-time-picker>
          </div>
        </div>

        <!-- Назначение категории -->
        <div class="form-group-left">
          <div class="form-group">
            <label appFieldRequired for="category">{{ 'label-category' | translate }}</label>
            <ng-select
              [items]="categories"
              [searchable]="false"
              [clearable]="false"
              [inputAttrs]="{ id: 'category' }"
              [placeholder]="'placeholder-category' | translate"
              class="custom-select"
              appendTo="body"
              bindLabel="title"
              bindValue="id"
              formControlName="category_id"
            >
              <ng-template ng-header-tmp>
                <div class="add-category" (click)="createModal.toggle()">
                  <button class="btn-rounded btn-rounded--gray">
                    <i class="icon-plus"></i>
                  </button>
                  <div>{{ 'create-category' | translate }}</div>
                </div>
              </ng-template>

              <ng-template ng-option-tmp let-category="item">
                <div>{{ category.title }}</div>
                <div (click)="selectedCategory = category; editModal.toggle()">
                  <i class="icon-edit category-icon"></i>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>

        <!-- Срок действия абонемента -->
        <div class="form-group-right">
          <label appFieldRequired for="restrict-visits">{{ 'label-restrict-visits' | translate }}</label>
          <div class="switch-group">
            <input
              type="number"
              id="restrict-visits"
              [placeholder]="!limit_status ? ('placeholder-maximum-members' | translate) : ''"
              [value]="limit_status ? '' : limit"
              [disabled]="limit_status"
              (input)="_generalForm.patchValue({ limit: $event.target.value })"
            />
            <div class="pl-3">
              <label class="switch">
                <input type="checkbox" [checked]="limit_status" (change)="onVisitsStatusChange($event.target.checked)" />
                <span class="slider round"></span>
              </label>
            </div>
            <label class="switch-label" for="">
              {{ 'personal' | translate }}
            </label>
          </div>
        </div>

        <!-- Описание класса -->
        <div class="form-group-left">
          <label for="class-description">{{ 'label-class-description' | translate }}</label>
          <textarea name="" id="class-description" cols="30" rows="5" maxlength="128" formControlName="description"></textarea>
          <div class="class-description">{{ description.length }}/128</div>
        </div>
      </div>
    </div>
  </app-scroll-panel>
</form>

<app-modal #createModal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <ng-container *ngIf="createModal.isOpen">
    <app-category-create
      [product_type]="3"
      (close)="createModal.toggle()"
      (categoryCreated)="createModal.toggle(); pushCategory($event)"
    ></app-category-create>
  </ng-container>
</app-modal>

<app-modal #editModal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <ng-container *ngIf="editModal.isOpen">
    <app-category-edit
      [editingCategory]="selectedCategory"
      (close)="editModal.toggle()"
      (categoryEdited)="editModal.toggle(); replaceCategory($event)"
    ></app-category-edit>
  </ng-container>
</app-modal>
