<div class="page-content">
  <div class="header-create-company">
    <h3>{{ 'create-company-session-type-title' | translate }}</h3>
    <h2>{{ 'create-company-session-type-subtitle-rate-selection' | translate }}</h2>
  </div>

  <div
    class="info-card"
    *ngFor="let type of sessionTypes"
    (click)="onSelectType(type)"
    [ngClass]="{ active: selectedType.value === type.value }"
  >
    <div>
      <div class="circle-icon">
        <i *ngIf="type.value === '0'" class="icon-enterprise"></i>
        <i *ngIf="type.value === '1'" class="icon-home"></i>
      </div>
    </div>
    <div>
      <h4>{{ type.label | translate }}</h4>
      <p>{{ type.label + '-description' | translate }}</p>
    </div>
  </div>

  <button class="btn-blue" (click)="continueCreation()">
    {{ 'create-company-session-type-button-continue' | translate }}
  </button>
</div>
