@import '../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  padding: 3.2rem 1.6rem 1.6rem;

  @media (min-width: 768px) {
    padding: 3.2rem;
  }
}

agm-map {
  width: 320px;
  height: 415px;
}

.page-content {
  width: 100%;
  max-width: 880px;

  padding-bottom: 20px;
}

.circle-icon {
  width: 72px;
  height: 72px;
  min-width: 72px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(176, 185, 194, 0.15);
  margin-right: 24px;
  > i {
    color: #b0b9c2;
    font-size: 24px;
  }
}
.selection-location {
  display: flex;
  max-width: 520px;

  h4 {
    font-size: 18px;
    color: #3e3e3e;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0;
  }
  p {
    font-size: 15px;
    color: #3e3e3e;
    opacity: 0.65;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 24px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  button {
    margin-top: 16px;
  }
}
.add-location {
  width: 90%;
  .img-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    background: #60ba69;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    img {
      width: 16px;
    }
  }

  p {
    font-size: 16px;
    color: #3e3e3e;
    line-height: 24px;
    margin: 0;
    font-weight: 600;
  }

  .add {
    align-items: center;
    margin-bottom: 16px;
    outline: none;
    cursor: pointer;
    width: 50%;
    min-width: 250px;

    p {
      font-weight: 600;
    }
  }

  .location {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #f5f5f5;
    display: flex;

    > div {
      display: flex;
    }

    .maps-location {
      width: 320px;
      height: 415px;
      background: #e3d9c9;
      border-radius: 3px;
      margin-right: 24px;
    }

    .address-location {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;

      .country-info-block {
        padding-bottom: 1.6rem;
      }
    }

    .btns {
      display: flex;
    }
  }
}

.active-branch-badge {
  padding: 0.4rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #186fda;
  background-color: rgba(#186fda, 0.15);
  border-radius: 9999px;
}

.work-times {
  width: 272px;
  margin-bottom: 0.8rem;
  border: 1px solid $color-border-block;
}

.work-times-item {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2.4rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-border-block;
  }

  &--inactive {
    color: $color-opacity-text;
  }
}
