<app-scroll-panel>
  <div class="page-wrapper">
    <div class="page-content">
      <div class="add-location" *ngIf="branches">
        <div class="add d-flex" routerLink="/create-location">
          <div class="img-icon">
            <img src="../../../../assets/img/icon/plus-icon.png" alt="" />
          </div>
          <p>Добавить локацию</p>
        </div>
        <div class="location" *ngFor="let branch of branches">
          <div class="maps-location">
            <agm-map [latitude]="branch.latitude" [longitude]="branch.longitude" [zoom]="18" [fullscreenControl]="true">
              <agm-marker [latitude]="branch.latitude" [longitude]="branch.longitude" [markerDraggable]="false"> </agm-marker>
            </agm-map>
          </div>
          <div class="address-location">
            <div>
              <div class="country-info-block">
                <div class="d-flex">
                  <div class="text-lg font-semibold pr-3">{{ branch.country }}, {{ branch.street }}</div>
                  <div *ngIf="branch.active" class="active-branch-badge">текущая</div>
                </div>
                <ng-container *ngFor="let phone of branch.phones">
                  <div><span class="text-additional">Тел.</span>+{{ phone.phone_code }} {{ phone.phone_number }}</div>
                </ng-container>
              </div>

              <div class="work-times">
                <div *ngFor="let time of branch.times" class="work-times-item">
                  <div class="font-semibold">
                    {{
                      moment()
                        .day(time.day)
                        .format('dddd')
                    }}
                  </div>
                  <div [ngClass]="{ 'work-times-item--inactive': !time.is_active }">
                    <ng-container *ngIf="time.is_active"> {{ time.from }} - {{ time.to }} </ng-container>
                    <ng-container *ngIf="!time.is_active">
                      {{ 'day-off' | translate }}
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="btns">
              <button class="btn-light-blue">Редактировать</button>
              <button class="btn-text" (click)="openRemoveModal(branch.id)">Удалить локацию</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-scroll-panel>

<app-modal #modal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '450px', 'max-height': '300px' }">
  <div class="dialog-header w-full">
    <span class="dialog-title">{{ 'location-confirm-modal-title' | translate }}</span>
    <i class="icon-close" (click)="modal.hideModal()"></i>
  </div>

  <div class="dialog-body">
    <div>{{ 'location-content-confirm-text' | translate }}</div>
  </div>

  <div class="dialog-footer">
    <button class="btn-regular btn-smooth" (click)="modal.hideModal()">{{ 'cancel' | translate }}</button>
    <button class="btn-regular btn-red" (click)="removeLocation()">{{ 'delete' | translate }}</button>
  </div>
</app-modal>
