<div *ngIf="isOpen" class="dialog dialog-overlay" [ngClass]="overlayClass" [ngStyle]="overlayStyle">
  <div #content class="dialog-content" [ngClass]="contentClass" [ngStyle]="contentStyle">
    <ng-content></ng-content>
  </div>
</div>
