<app-modal [overlayStyle]="{ padding: '1.6rem' }"
  [contentStyle]="{ width: '100%', 'max-width': '450px', 'max-height': '300px' }" [isOpen]="isOpen"
  (hide)="isOpen = false">
  <div class="dialog-header w-full">
    <span class="dialog-title">{{ 'confirm-modal-title' | translate }}</span>
    <i class="icon icon-close cursor_click" (click)="toggleOpen()"></i>
  </div>

  <div class="dialog-body">
    <div class="content">
      <p>{{ 'content-confirm-text' | translate }}</p>
    </div>
  </div>

  <div class="dialog-footer d-flex">
    <button class="btn-smooth btn-regular" (click)="toggleOpen()">{{ 'cancel-button' | translate }}</button>
    <button class="btn-red" (click)="removeTransaction()">{{ 'delete-button' | translate }}</button>
  </div>
</app-modal>