.dialog-header {
  border: none;
}

.dialog-body {
  .content {
    padding: 0;
    p {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      color: #3e3e3e;
      margin: 0;
    }
  }
}

.dialog-footer {
  border: none;
  justify-content: space-between;
}
