@import '../../../../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  height: 100%;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 100%;
    height: 100%;

    padding: 0 3.2rem 1.6rem;
  }
}

.notification-request {
  display: flex;
  width: 100%;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $color-border-block;
    margin-bottom: 1.6rem;
  }

  &-title {
    width: 100%;
    font-weight: 600;
    padding-bottom: 1.6rem;
  }

  &-body-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &-body {
    display: flex;
    width: 100%;
    padding-bottom: 1.6rem;

    & > div {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
    }
  }

  &-btn-block {
    display: flex;
    padding-bottom: 1.6rem;
  }

  &-get-more {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 1.6rem 3.2rem;
  }
}

.notifications-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}
