<app-scroll-panel>
  <div class="modal-content">
    <div class="modal-content-container">
      <div *ngIf="!requests.length" class="notifications-not-found">
        <div class="pb-2">
          <i class="icon-calendar icon--size-xxl"></i>
        </div>
        <div class="text-black-65">{{ 'no-requests' | translate }}</div>
      </div>
      <div *ngFor="let request of requests" class="notification-request">
        <div class="notification-request-wrapper">
          <div class="notification-request-body-wrapper">
            <div class="notification-request-title w-full font-semibold pb-3">Новая заявка на запись</div>

            <div class="notification-request-body">
              <div>
                <div class="text-additional text-xs font-semibold">{{ 'date-and-time' | translate }}</div>
                <div>{{ moment(request.text.booking_from_date).format('MMMM DD, HH:mm') }}</div>
              </div>
              <div>
                <div class="text-additional text-xs font-semibold">{{ 'client' | translate }}</div>
                <a [routerLink]="'/client-card/' + request.text.client_id" class="text-blue font-semibold">
                  {{ request.text.client_last_name }} {{ request.text.client_first_name }}
                </a>
              </div>
              <div>
                <div class="text-additional text-xs font-semibold">{{ 'label-employees' | translate }}</div>
                <div>{{ request.text.employee_last_name }} {{ request.text.employee_first_name }}</div>
              </div>
            </div>
          </div>
          <div class="notification-request-btn-block">
            <button class="btn-regular btn-green" (click)="confirmRequest(request)">
              {{ 'accept' | translate }}
            </button>
            <button class="btn-regular btn-text" (click)="rejectRequest(request)">
              {{ 'reject' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="notification-request-get-more">
        <button
          class="btn-regular btn-smooth"
          *ngIf="all_requests.length > 6"
          [disabled]="requests_limit.getValue() >= all_requests.length"
          (click)="getMoreNotifications()"
        >
          Загрузить ранние уведомления
        </button>
      </div>
    </div>
  </div>
</app-scroll-panel>
