:host {
  width: 100%;
  height: 100%;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 1.6rem;

    @media (min-width: 768px) {
      max-width: calc(100% / 6 * 5);
      padding-top: 1.6rem;
    }

    @media (min-width: 992px) {
      max-width: calc(100% / 3 * 2);
    }

    @media (min-width: 1600px) {
      max-width: calc(100% / 2);
    }
  }
}

.form-group-left,
.form-group-right {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.form-group-left {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.form-group-right {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 768px) {
    padding-right: 0;
  }
}
