<app-scroll-panel>
  <div class="modal-content" [formGroup]="servicePackageForm">
    <div class="modal-content-container">
      <div class="form-group-left">
        <div class="form-group">
          <label appFieldRequired for="title">{{ 'label-service-package' | translate }}</label>
          <input type="text" id="title" [placeholder]="'placeholder-service-package-title' | translate" formControlName="title" />
        </div>
      </div>
      <div class="form-group-right">
        <div class="form-group">
          <label appFieldRequired for="quantity">{{ 'label-service-package-quantity' | translate }}</label>
          <input type="number" id="quantity" [placeholder]="'placeholder-quantity' | translate" formControlName="limit" />
        </div>
      </div>
      <div class="form-group-left">
        <div class="form-group">
          <label appFieldRequired for="service-package-services">{{ 'label-service-package-services' | translate }}</label>
          <ng-select
            [items]="services"
            appendTo="body"
            bindLabel="label"
            bindValue="value"
            [searchable]="false"
            [clearable]="false"
            [placeholder]="'placeholder-select-service' | translate"
            class="custom-select"
            formControlName="product_id"
            (change)="relationChange($event.value)"
          >
            <ng-template ng-label-tmp let-item="item">
              <div>{{ item.label | translate }}</div>
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              <div>{{ item.label | translate }}</div>
            </ng-template>
          </ng-select>
          {{ 'service-package-services-description' | translate }} -
          <a routerLink="/products/create/service">{{ 'service-package-services-link' | translate }}</a>
        </div>
      </div>
      <div class="form-group-right">
        <label appFieldRequired for="price">{{ 'label-service-package-price' | translate }}</label>
        <div class="input-group">
          <input
            class="form-control"
            type="number"
            id="price"
            [placeholder]="'placeholder-price' | translate"
            [value]="price && price / 100"
            (input)="priceChange($event.target.value)"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              {{ currency_symbol }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group-left">
        <label appFieldRequired for="lifetime">{{ 'label-lifetime' | translate }}</label>
        <div class="input-group" #targetField>
          <input *ngIf="lifetime_type !== 3" type="number" id="lifetime" class="form-control" formControlName="time" />
          <input
            *ngIf="lifetime_type === 3"
            class="form-control"
            type="text"
            [value]="servicePackageForm.get('time').value"
            readonly
            (click)="op.show($event, targetField)"
          />
          <div *ngIf="lifetime_type === 3" class="input-group-append">
            <div class="input-group-text">
              <i class="icon icon-calendar icon--color-gray"></i>
            </div>
          </div>
          <div class="input-group-append">
            <ng-select
              [items]="lifetime_types"
              appendTo="body"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              [clearable]="false"
              class="custom-select"
              formControlName="lifetime_type"
              (change)="lifetimeTypeChange()"
            >
              <ng-template ng-label-tmp let-item="item">
                <div>{{ item.label | translate }}</div>
              </ng-template>

              <ng-template ng-option-tmp let-item="item">
                <div>{{ item.label | translate }}</div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <p-overlayPanel [appendTo]="'body'" #op>
          <app-date-picker (toggle)="op.hide()" [view]="'day'" formControlName="time"></app-date-picker>
        </p-overlayPanel>
      </div>
    </div>
  </div>
</app-scroll-panel>
<app-modal #createModal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <ng-container *ngIf="createModal.isOpen">
    <app-category-create
      [product_type]="4"
      (close)="createModal.toggle()"
      (categoryCreated)="createModal.toggle(); pushCategory($event)"
    ></app-category-create>
  </ng-container>
</app-modal>

<app-modal #editModal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <ng-container *ngIf="editModal.isOpen">
    <app-category-edit
      [editingCategory]="selectedCategory"
      (close)="editModal.toggle()"
      (categoryEdited)="editModal.toggle(); replaceCategory($event)"
    ></app-category-edit>
  </ng-container>
</app-modal>
