.page-content {
  padding-bottom: 20px;
  .circle-icon {
    width: 72px;
    height: 72px;
    min-width: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(176, 185, 194, 0.15);
    margin-right: 24px;
    > i {
      color: #b0b9c2;
      font-size: 24px;
    }
  }
  .selection-location {
    display: flex;
    max-width: 520px;

    h4 {
      font-size: 18px;
      color: #3e3e3e;
      font-weight: 600;
      margin-bottom: 16px;
      margin-top: 0;
    }
    p {
      font-size: 15px;
      color: #3e3e3e;
      opacity: 0.65;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 24px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    button {
      margin-top: 16px;
    }
  }
  .add-location {
    width: 90%;
    .img-icon {
      width: 40px;
      height: 40px;
      min-width: 40px;
      background: #60ba69;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      img {
        width: 16px;
      }
    }
    p {
      font-size: 16px;
      color: #3e3e3e;
      line-height: 24px;
      margin: 0;
      font-weight: 600;
    }
    .add {
      align-items: center;
      margin-bottom: 24px;
      outline: none;
      cursor: pointer;
      width: 50%;
      min-width: 250px;
      p {
        font-weight: 600;
      }
    }
    .location {
      padding-bottom: 20px;
      padding-top: 20px;
      border-bottom: 1px solid #f5f5f5;
      display: flex;
      > div {
        display: flex;
      }
      .maps-location {
        width: 240px;
        height: 137px;
        background: #e3d9c9;
        border-radius: 3px;
        margin-right: 24px;
      }
      h4 {
        font-size: 18px;
        color: #3e3e3e;
        font-weight: 600;
        margin-bottom: 16px;
        margin-top: 0;
      }
      .address-location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .country-info-block {
          padding-bottom: 1.6rem;
          p {
            font-weight: 400;
          }
        }
      }
      .btns {
        display: flex;
      }
    }
  }
}
agm-map {
  width: 240px;
  height: 137px;
}
.dialog-header {
  border: none;
}

.dialog-body {
  .content {
    padding: 0;
    p {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      color: #3e3e3e;
      margin: 0;
    }
  }
}

.dialog-footer {
  border: none;
  justify-content: space-between;
}
