<div class="create-company-form">
  <app-scroll-panel>
    <div class="header-create-company">
      <h3>Создание компании</h3>
      <h2>Локации</h2>
    </div>
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="selection-location" *ngIf="!branches">
          <div class="circle-icon">
            <i class="icon-locationpoint"></i>
          </div>
          <div>
            <ng-container *ngIf="type === '1'">
              <h4>{{ 'create-company-location-type-one' | translate }}</h4>
              <p>{{ 'create-company-location-type-one-description' | translate }}</p>
            </ng-container>
            <ng-container *ngIf="type === '2'">
              <h4>{{ 'create-company-location-type-two' | translate }}</h4>
              <p>{{ 'create-company-location-type-two-description' | translate }}</p>
              <p>{{ 'create-company-location-type-two-description-two' | translate }}</p>
            </ng-container>
            <ng-container *ngIf="type === '3'">
              <h4>{{ 'create-company-location-type-three' | translate }}</h4>
              <p>{{ 'create-company-location-type-three-description' | translate }}</p>
              <p>{{ 'create-company-location-type-three-description-two' | translate }}</p>
            </ng-container>

            <button class="btn-green"
              routerLink="/create-location/{{companyId}}">{{ 'create-company-location-add-location-button' | translate }}</button>
          </div>
        </div>

        <div class="add-location" *ngIf="branches">
          <div class="add d-flex" routerLink="/create-location/{{company_id}}">
            <div class="img-icon">
              <img src="../../../../assets/img/icon/plus-icon.png" alt="" />
            </div>
            <p>Добавить локацию</p>
          </div>
          <div class="location" *ngFor="let branch of branches; let i = index;">
            <div>
              <div class="maps-location">
                <agm-map [latitude]="branch.latitude" [longitude]="branch.longitude" [zoom]="18">
                  <agm-marker [latitude]="branch.latitude" [longitude]="branch.longitude" [markerDraggable]="false">
                  </agm-marker>
                </agm-map>
              </div>
              <div class="address-location">
                <div class="country-info-block">
                  <h4>{{ branch.country }}, {{ branch.street }}</h4>
                  <ng-container *ngFor="let phone of getPhonesArray(i)">
                    <p>Тел. +{{ phone.phone_code }} {{ phone.phone_number }}</p>
                  </ng-container>
                </div>
                <div class="btns">
                  <button class="btn-light-blue">Редактировать</button>
                  <button class="btn-text" (click)="toggleOpen(branch.id)">Удалить локацию</button>
                </div>
              </div>
            </div>
          </div>
          <div class="button-block">
            <button class="btn-blue" value="3">{{ 'create-company-session-type-button-continue' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </app-scroll-panel>
</div>

<app-modal [overlayStyle]="{ padding: '1.6rem' }"
  [contentStyle]="{ width: '100%', 'max-width': '450px', 'max-height': '300px' }" [isOpen]="isOpen"
  (hide)="isOpen = false">
  <div class="dialog-header w-full">
    <span class="dialog-title">{{ 'location-confirm-modal-title' | translate }}</span>
    <i class="icon icon-close cursor_click" (click)="toggleOpen()"></i>
  </div>

  <div class="dialog-body">
    <div class="content">
      <p>{{ 'location-content-confirm-text' | translate }}</p>
    </div>
  </div>

  <div class="dialog-footer d-flex">
    <button class="btn-smooth btn-regular" (click)="toggleOpen()">{{ 'cancel-button' | translate }}</button>
    <button class="btn-red" (click)="removeLocation()">{{ 'delete-button' | translate }}</button>
  </div>
</app-modal>