<form (ngSubmit)="onSubmit()" [formGroup]="productForm">
  <div class="modal-header">
    <div class="modal-title">{{ product_create_token[product_type] | translate }}</div>
    <div (click)="goBack()">
      <i class="icon-close icon--bg-circle-on-hover icon--color-black"></i>
    </div>
  </div>
  <div class="modal-body">
    <ng-container [ngSwitch]="product_type_name">
      <app-form-good *ngSwitchCase="'good'" (formReady)="formInitialized($event)"></app-form-good>
      <app-form-service *ngSwitchCase="'service'" (formReady)="formInitialized($event)"></app-form-service>
      <app-form-service-package
        *ngSwitchCase="'service-package'"
        (formReady)="formInitialized($event)"
      ></app-form-service-package>
      <app-form-pass *ngSwitchCase="'pass'" (formReady)="formInitialized($event)"></app-form-pass>
      <app-form-class *ngSwitchCase="'class'" (formReady)="formInitialized($event)"></app-form-class>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-regular btn-smooth" (click)="goBack()">{{ 'cancel' | translate }}</button>
    <button type="submit" class="btn-regular btn-green"
      [ngClass]="{ 'btn-disabled': productForm.invalid }"
      [disabled]="productForm.invalid">{{ 'submit' | translate }}</button>
  </div>
</form>
