@import '../../../../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 1.6rem;

    @media (min-width: 768px) {
      max-width: 60%;
      padding-top: 1.6rem;
    }

    @media (min-width: 992px) {
      max-width: 50%;
    }

    @media (min-width: 1280px) {
      max-width: 40%;
    }
  }
}
.section {
  width: 100%;
}
.section-service {
  padding-bottom: 4rem;
}

.sf-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 2.4rem;
}
.session-form {
  &-section {
    width: 100%;
  }
  &-row {
    display: flex;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    min-height: 6rem;

    border-bottom: 1px solid $color-border-block;

    &:first-child {
      border-top: 1px solid $color-border-block;
    }

    &-label {
      width: calc(100% / 3);

      @media (min-width: 640px) {
        width: 25%;
      }

      @media (min-width: 992px) {
        width: calc(100% / 3);
      }

      @media (min-width: 1200px) {
        width: 25%;
      }
    }
  }
}
.date-select {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-value {
    font-weight: 600;
    padding-right: 1.6rem;
  }
}

ng-select {
  .custom-group-select,
  &.employees-select {
    width: 100%;
  }
  .session-form-row-label {
    width: calc(100% / 3);

    @media (min-width: 640px) {
      width: 25%;
    }

    @media (min-width: 992px) {
      width: calc(100% / 3);
    }

    @media (min-width: 1200px) {
      width: 25%;
    }
  }
  .employees-select-value,
  .time-select-value {
    z-index: 1;
    display: flex;
    cursor: pointer;
  }
}

.form-group {
  width: 100%;
}
.switch-group {
  display: flex;
  align-items: center;

  .switch-label {
    padding-left: 1.6rem;
  }
}

.phone-code {
  position: relative;

  display: flex;
  align-items: center;

  padding-left: 0.8rem;

  font-size: 1.5rem;
  border-left: 2px solid #e3e3e3;

  ~ .form-control {
    border-left: none;
  }
}

.switch-group {
  padding-bottom: 1.6rem;
}

.text-additional {
  color: $color-opacity-text;
}
