<app-scroll-panel>
  <div class="modal-content" [formGroup]="sessionForm">
    <div class="modal-content-container">
      <!-- Выбор услуги -->
      <div class="section section-service">
        <div class="sf-title">
          {{ 'session-select-service' | translate }}
        </div>
        <ng-select
          #productSelect
          [items]="services"
          [searchable]="false"
          [clearable]="false"
          [placeholder]="'placeholder-service' | translate"
          groupBy="category_title"
          class="custom-select custom-group-select"
          appendTo="body"
          bindLabel="title"
          bindValue="full_name"
          (change)="onServiceSelect($event)"
        >
          <ng-template ng-header-tmp let-item="item" let-index="index">
            <input type="text" (input)="productSelect.filter($event.target.value)" />
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-index="index">
            {{ item.category_title }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            {{ item.title }}
          </ng-template>
        </ng-select>
      </div>

      <div class="sf-title">
        {{ 'session-select-date-and-time' | translate }}
      </div>
      <div class="session-form-section">
        <!-- Выбор исполнителя -->
        <div class="session-form-row">
          <ng-select
            #employeeSelect
            [items]="selectedServiceEmployees"
            [searchable]="false"
            [clearable]="false"
            [placeholder]="'placeholder-service' | translate"
            [readonly]="!product_id"
            groupBy="category_title"
            class="custom-select employees-select"
            appendTo="body"
            bindLabel="full_name"
            bindValue="employee_id"
            formControlName="employee_id"
            (change)="onEmployeeSelect()"
            (open)="is_employees_select_open = true"
            (close)="is_employees_select_open = false"
          >
            <ng-template ng-label-tmp let-item="item" let-index="index" #employeesSelectLabel>
              <div class="session-form-row-label">{{ 'employees' | translate }}:</div>
              <div
                class="employees-select-value"
                [ngClass]="{ 'cursor-not-allowed': !product_id }"
                pTooltip="{{ 'placeholder-service' | translate }}"
                tooltipPosition="right"
                [tooltipDisabled]="product_id"
              >
                <div *ngIf="employee_id !== 0" class="avatar avatar--size-s">
                  <img [src]="'https://api.dev.bodywell.io/employee/avatar?employee_id=' + item.employee_id" alt="" />
                </div>
                <div class="pr-3">{{ item.full_name }}</div>
                <div>
                  <i class="icon-select" [ngStyle]="{ transform: is_employees_select_open ? 'rotate(180deg)' : 'rotate(0)' }"></i>
                </div>
              </div>
            </ng-template>
            <ng-template ng-header-tmp let-item="item" let-index="index">
              <input type="text" (input)="employeeSelect.filter($event.target.value)" />
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              {{ item.full_name }}
            </ng-template>
          </ng-select>
        </div>

        <!-- Выбор даты -->
        <div class="session-form-row">
          <div class="session-form-row-label" (click)="product_id && op.toggle($event, targetField)">{{ 'date' | translate }}:</div>
          <div
            class="date-select"
            #targetField
            (click)="product_id && op.toggle($event, targetField)"
            [ngClass]="{ 'cursor-not-allowed': !product_id }"
            pTooltip="{{ 'placeholder-service' | translate }}"
            tooltipPosition="right"
            [tooltipDisabled]="product_id"
          >
            <div class="date-select-value">
              {{ from_date ? moment(from_date).format('MMMM DD, YYYY') : ('not-selected' | translate) }}
            </div>
            <div>
              <i class="icon-select" [ngStyle]="{ transform: op.visible ? 'rotate(180deg)' : 'rotate(0)' }"></i>
            </div>
          </div>
        </div>
        <p-overlayPanel [appendTo]="'body'" #op>
          <app-date-picker formControlName="from_date" (toggle)="op.hide()" [view]="'day'"></app-date-picker>
        </p-overlayPanel>

        <!-- Выбор времени -->
        <div class="session-form-row">
          <div class="session-form-row-label" (click)="timeSelect.open()">{{ 'label-time' | translate }}</div>
          <div
            class="time-select-value"
            [ngClass]="{ 'cursor-not-allowed': !product_id }"
            pTooltip="{{ 'placeholder-service' | translate }}"
            tooltipPosition="right"
            [tooltipDisabled]="product_id"
          >
            <ng-select
              #timeSelect
              [items]="available_times"
              [searchable]="false"
              [clearable]="false"
              [placeholder]="'placeholder-service' | translate"
              [readonly]="!product_id"
              groupBy="category_title"
              class="custom-select"
              appendTo="body"
              (change)="onTimeSelect($event)"
              formControlName="from_time"
            >
              <ng-template ng-label-tmp let-item="item">
                <div>{{ item }}</div>
              </ng-template>
              <ng-template ng-notfound-tmp>
                <div class="select-not-found ng-option disabled">
                  {{ 'no-time-available' | translate }}
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="sf-title pt-3">
        {{ 'about-client' | translate }}
      </div>
      <!-- Переключатель новый/старый клиент -->
      <div class="session-form-section">
        <div class="switch-group">
          <label class="switch">
            <input id="online_booking" name="online_booking" type="checkbox" formControlName="is_new_client" />
            <span class="slider round"></span>
          </label>
          <label class="switch-label" for="online_booking">
            {{ 'label-new-client' | translate }}
          </label>
        </div>
      </div>

      <!-- Поискт старого клиента -->
      <div class="form-group" *ngIf="!is_new_client">
        <label for="client-name" (click)="clientSearch.open()">{{ 'label-search-clients' | translate }}</label>
        <ng-select
          #clientSearch
          [items]="clients_found_arr"
          [clearable]="false"
          [inputAttrs]="{ id: 'client-name' }"
          [typeahead]="clientTypeahead"
          class="custom-select search-input-select"
          appendTo="body"
          [bindLabel]="'full_name'"
          (change)="addClient($event)"
        >
          <ng-template ng-typetosearch-tmp> </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div>
              <div>{{ item?.last_name }} {{ item?.first_name }}</div>
              <div class="text-xs">
                {{ 'phone' | translate }}: <span class="text-additional">+{{ item.phone_code }}{{ item.phone_number }}</span>
              </div>
            </div>
          </ng-template>
          <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm"> </ng-template>

          <ng-template ng-notfound-tmp let-searchTerm="searchTerm"></ng-template>
        </ng-select>
      </div>

      <!-- Новый клиент -->
      <ng-container *ngIf="is_new_client">
        <div class="form-group">
          <label for="client-first-name">{{ 'label-client-first-name' | translate }}</label>
          <input type="text" id="client-first-name" formControlName="client_first_name" />
        </div>
        <div class="form-group">
          <label for="client-phone">{{ 'phone' | translate }}</label>
          <div #phone class="input-group">
            <div class="input-group-prepend">
              <app-phone-field [options]="phoneCodes" [appendTo]="'body'" formControlName="phone_code"> </app-phone-field>
            </div>
            <div class="phone-code">+{{ (sessionForm?.controls)['phone_code'].value.phone_code }}</div>
            <input
              class="form-control"
              type="text"
              name="client-phone"
              id="client-phone"
              formControlName="phone_number"
              (focus)="phone.classList.add('input-group--focus')"
              (blur)="phone.classList.remove('input-group--focus')"
            />
          </div>
        </div>
      </ng-container>

      <!-- Заметка к сеансу -->
      <div class="session-form-section">
        <label for="appointment-note">{{ 'label-appointment-note' | translate }}</label>
        <textarea name="" id="appointment-note" cols="30" rows="7"></textarea>
      </div>
    </div>
  </div>
</app-scroll-panel>
