.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 0.8rem;

  border-radius: 50%;
  background-color: #f6f8fa;

  &--size {
    &-s {
      width: 2.5rem;
      height: 2.5rem;
    }

    &-m {
      width: 3.2rem;
      height: 3.2rem;
    }

    &-l {
      width: 4rem;
      height: 4rem;
    }

    &-xl {
      width: 5.5rem;
      height: 5.5rem;
    }

    &-xxl {
      width: 9.6rem;
      height: 9.6rem;
    }
  }

  img {
    width: 100%;
    border-radius: 50%;
  }
}
