.bordered-item {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 2rem;
  margin-bottom: 2.4rem;

  border: 2px solid rgba(24, 111, 218, 0.1);
  border-radius: 0.3rem;

  transition: border-color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;

  &--hover {
    &:hover {
      background-color: rgba(24, 111, 218, 0.03);
    }
  }

  &--active {
    color: #186fda;
    background-color: rgba(24, 111, 218, 0.03);
    border: 2px solid rgba(24, 111, 218, 0.35);

    transition: border-color 0.3s ease;
  }
}
