.create-company-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  app-scroll-panel {
    background-color: #f6f8fa !important;
    .header-create-company {
      background-color: #fafafa;
      h2 {
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        padding: 8px 0 40px 0;
      }
      h3 {
        color: #3e3e3e;
        opacity: 0.65;
        font-size: 15px;
        margin: 0;
        padding: 32px 0 8px 0;
      }
    }
    .page-content-wrapper {
      background-color: #fafafa;
    }
    .button-block {
      padding: 1.6rem 0.1rem;
      margin-bottom: 24px;
    }
  }
}
