.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  background: rgba(29, 45, 68, 0.25);

  &::before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
  }
}

.dialog-content {
  position: relative;
  border: 0px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  padding: 0px;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.dialog-header,
.dialog-body,
.dialog-footer {
  display: flex;
  align-items: center;
  padding: 1.6rem;

  @media (min-width: 768px) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.dialog-header {
  justify-content: space-between;
  border-bottom: 1px solid $color-border-block;

  .dialog-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.dialog-body {
  flex-wrap: wrap;
}

.dialog-footer {
  justify-content: flex-end;
  border-top: 1px solid $color-border-block;

  button:not(:last-of-type) {
    margin-right: 1.6rem;
  }
}

.ui-dialog {
  box-shadow: none !important;
  font-size: 15px;
}

body .ui-dialog-content {
  border: 0 !important;
  border-radius: 3px;
  box-shadow: none !important;
  padding: 0 !important;
  font-size: 15px;
}

body .ui-widget-overlay {
  background-color: rgba(29, 45, 68, 0.25);
  z-index: 0 !important;
}
