.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  border: 2px solid $color-stroke;
  border-radius: 3px;

  transition: border-color ease 0.2s;

  &:hover:not(.input-group--focus) {
    border-color: $color-stroke-hover;
  }

  &--focus {
    transition: border-color ease 0.2s;
    border-color: $color-stroke-active;
  }

  > .form-control {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    width: 100%;
    height: 36px;
    margin-bottom: 0;
    border: 0;

    &:hover {
      border: 0;
    }

    + .form-control {
      margin-left: -2px;
    }
  }

  > .form-control {
    &:not(:last-child) {
      border-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.input-group-prepend,
.input-group-append {
  position: relative;
  display: flex;

  &--bg-gray {
    background-color: #f2f5f8;
  }
}

.input-group-prepend {
  margin-right: -2px;
}

.input-group-append {
  margin-left: -2px;
}

.input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
}

.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
