.modal-header,
.modal-content,
.modal-footer {
  display: flex;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;

  min-height: 5.2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  border-bottom: 1px solid $color-border-block;

  @media (min-width: 768px) {
    min-height: 7.8rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  @media (min-width: 1280px) {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  .modal-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.modal-body-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-y: hidden;
}

.modal-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 1.6rem;
}

.modal-tabs {
  @media (min-width: 768px) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  @media (min-width: 1280px) {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

.modal-body {
  flex-wrap: wrap;
}

.modal-footer {
  justify-content: flex-end;
  border-top: 1px solid $color-border-block;

  padding: 0.8rem 1.6rem;

  @media (min-width: 768px) {
    padding: 1.6rem 3.2rem;
  }

  @media (min-width: 1280px) {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  button {
    &:not(:last-of-type) {
      margin-right: 1.6rem;
    }
  }

  &-btn-left {
    justify-content: flex-start;
  }
}
