.alert.ui-toast-bottom-center {
  bottom: 80px;
  z-index: 999999;
  width: 300px;
  box-sizing: border-box;

  .ui-toast-message {
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: rgba(#3e3e3e, 0.9);
    box-shadow: 0 5px 21px 0 rgba(207, 218, 232, 0.4);
  }
}

.notification.ui-toast-bottom-right {
  z-index: 999999;
  .ui-toast-message {
    background-color: #fff;
    box-shadow: $shadow;
    border-left: 2px solid #64bf7c;
    border-radius: 3px;
  }
  .ui-toast-message-content {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
  }
  .ui-toast-close-icon {
    position: relative;
    display: flex;
    align-items: center;

    padding-left: 2rem;
    padding-right: 2rem;

    border: none;
    border-left: 1px solid rgba(89, 89, 89, 0.05);
    background-color: transparent;
    cursor: pointer;
    color: #595959;
  }
}
