.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-page-bg;

  img {
    width: 40px;
    height: 40px;
  }
}
