body .ui-slider .ui-slider-handle {
  border: 0;
  background-color: $color-brand-blue;

  &:focus {
    outline: none;
  }
}
body .ui-slider {
  background: #f4f8fc;
  border-radius: .3rem;
  cursor: pointer;
  display: block;
  height: .6rem !important;
}
