.base-select.ui-dropdown {
  display: flex;

  width: 100%;
  min-width: initial;
  height: 40px;
  padding: 0;
  background-color: #f2f5f8;
  border: 0;
  border-radius: 3px;
  transition: background ease 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #eaf1f8;
    transition: background ease 0.3s;
  }
}

.phone-select .ui-dropdown-label-container,
.base-select .ui-dropdown-label-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 3rem;
}

.base-select .ui-dropdown-trigger {
  height: calc(100% - 2px);
  margin-top: 1px;
  background-color: transparent !important;
}

.base-select .ui-inputtext {
  padding-left: 1.6rem;
  font-size: 1.5rem;
  background-color: transparent;
  overflow-x: hidden;
}

.base-select .ui-dropdown-item-group {
  font-size: 1.3rem;
  line-height: 2.5rem !important;
  text-transform: uppercase !important;

  &:hover {
    background-color: #fff !important;
  }

  &:not(:first-of-type) {
    border-top: 1px solid $color-border-block !important;
  }
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: $color-stroke-active;
  box-shadow: none;
}

.ng-select-opened > .ng-select-container .ng-arrow {
  border-width: 0 6px 8px !important;
  border-radius: 2px !important;
}

.input-group .ng-select.custom-select .ng-select-container {
  height: 3.6rem;
}

.ng-select.custom-select {
  .ng-select-container {
    display: flex;
    align-content: center;
    height: 40px;
    padding: 0;
    background-color: #f2f5f8;
    border: 0;
    border-radius: 0 !important;
    transition: background ease 0.3s;
    overflow: initial;

    &:hover {
      background-color: #eaf1f8;
      transition: background ease 0.3s;
      box-shadow: none;
    }

    & * {
      outline: none;
      box-shadow: none;
    }

    .ng-value-container {
      height: 100%;
      padding-left: 0;
    }

    .ng-placeholder {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }

    .ng-value {
      display: flex;
      align-items: center;
      padding-left: 1.6rem;
      padding-right: 1.6rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .ng-arrow-wrapper .ng-arrow {
    border-width: 8px 6px 1.5px;
    border-radius: 2px;
  }
}

.ng-select.employees-select {
  .ng-select-container {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    .ng-value {
      width: 100%;
      padding-left: 0;

      &:hover {
        cursor: default;
      }
    }
  }

  .ng-arrow-wrapper {
    display: none;
  }
}
.ng-select.search-input-select {
  .ng-select-container {
    background-color: $color-white;
    border: 2px solid $color-stroke;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: inherit;
    width: 100%;
    outline: none;

    &:hover {
      background-color: #fff;
    }
    &:focus {
      border: 2px solid $color-stroke-active;
      outline: none;
      box-shadow: none;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #f9f9f9;
      border: 2px solid #eaeaea;
    }

    &:hover:not(:focus) {
      border: 2px solid $color-stroke-hover;
      transition: border ease 0.3s;
    }

    .ng-value-container {
      height: 100%;
      padding: 10px 16px;

      .ng-input {
        top: 0;

        input {
          line-height: initial;
          height: 3.6rem;
          padding: 0;
        }
      }
      .ng-value {
        padding: 0;
      }
    }
  }

  .ng-arrow-wrapper {
    display: none;
  }
}

.ng-dropdown-panel {
  margin-top: 6px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 0;

  & .ng-dropdown-header {
    padding: 0 !important;
    border: 0;
  }

  & .ng-dropdown-panel-items .ng-option {
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 8px 12px;

    list-style: none;
    text-decoration: none;
    white-space: normal !important;
    border-top: 1px solid rgb(245, 245, 245);

    .category-icon {
      padding: 1.6rem;
    }
    &.ng-option-marked {
      background-color: rgb(222, 235, 255);
    }
  }
}

.custom-group-select.ng-dropdown-panel,
.employees-select.ng-dropdown-panel {
  .ng-dropdown-header {
    padding: 1rem !important;
    border-bottom: 1px solid $color-border-block;
  }
  & .ng-dropdown-panel-items {
    .ng-optgroup {
      color: #3e3e3e;
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .ng-option {
      border: none;
    }
  }
}

.select-not-found {
  white-space: nowrap;
}
