.tabs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-shrink: 0;
  height: 4.8rem;
  list-style: none;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 768px) {
    height: 6.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .tab {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-width: 0.2rem;
    border-bottom-width: 0.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    color: $color-black-text;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: transparent;
      color: rgba(89, 89, 89, 0.35);
      cursor: not-allowed;

      &:hover {
        background-color: transparent !important;
      }
    }

    &--active {
      position: relative;
      color: $color-brand-blue;
      font-weight: 600;
      border-bottom: 0.2rem solid $color-brand-blue;
      cursor: default;

      @media (max-width: 991px) {
        border-bottom: 1px solid $color-brand-blue;
      }
    }
  }
}
