body .ui-dataview {
  .ui-dataview-header {
    border: initial;
    background-color: initial;
    padding: initial;
    margin-bottom: 0.8rem;
  }
  .ui-dataview-content {
    border: initial;
    background-color: initial;
    padding: initial;

    .table-row {
      display: inline-flex;
      flex: 1 0 auto;
      align-items: center;

      & > div:first-of-type {
        padding-left: 1.6rem;
      }
      & > div:last-of-type {
        padding-right: 1.6rem;
      }

      &:hover {
        background-color: rgba(24, 111, 218, 0.1) !important;
      }

      .table-cell {
        display: flex;
        align-items: center;

        &:last-of-type {
          justify-content: flex-end;
          padding-right: 1.6rem;
        }
      }

      .btn {
        display: block;
        margin-left: auto;
        white-space: nowrap;
      }
    }
  }
}

body .ui-paginator {
  border: initial;
  background-color: initial;
  text-align: initial !important;
  padding: 20px 10px;
}

.ui-dataview.ui-dataview-list > .ui-dataview-content > div.ui-g > div {
  transition: all 0.3s ease;
  background-color: #fff;
  margin-bottom: 8px;
  box-shadow: 0 5px 15px rgba(207, 218, 232, 0.15);
}

.table-no-data {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-page-bg;

  &-icon {
    width: 100%;
    font-size: 6rem;
    text-align: center;
  }

  &-message {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 0.8rem;
  }

  &-clean {
    color: #186fda;
    cursor: pointer;
  }

  button {
    margin-top: 0.8em;
  }
}

body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-prev,
body .ui-paginator .ui-paginator-next,
body .ui-paginator .ui-paginator-last {
  outline: none;
}

body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):not(.ui-state-active):hover,
body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):not(.ui-state-active):hover,
body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):not(.ui-state-active):hover,
body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):not(.ui-state-active):hover {
  background-color: rgba(24, 111, 218, 0.09);
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &:focus {
    outline: none;
  }

  &.ui-state-active {
    background-color: rgba(24, 111, 218, 0.09);
    color: #186fda;
  }

  &:not(.ui-state-active):hover {
    background-color: rgba(24, 111, 218, 0.09);
  }
}
