@import 'assets/scss/icons';
.ui-steps .ui-steps-item.ui-state-highlight.ui-steps-current {
  .ui-steps-number {
    background: rgba(24, 111, 218, 0.25) !important;
    top: 0;
    margin-bottom: 0;
    border: 0 !important;
    color: $color-brand-blue !important;
  }
  .ui-steps-title {
    color: $color-brand-blue !important;
  }
}
.ui-steps .ui-steps-item .ui-menuitem-link {
  padding: 0;
  display: flex !important;
  text-align: start !important;
  overflow: unset !important;
  align-items: center !important;
  padding-bottom: 32px;
  outline: none;
  .ui-steps-title {
    display: flex !important;
    margin-top: 0 !important;
    font-size: 15px;
    padding-left: 16px;
    font-weight: unset !important;
  }
  .ui-steps-number {
    display: flex !important;
    align-items: center;
    justify-content: center;
    top: 0 !important;
    margin-bottom: 0 !important;
    width: 32px !important;
    height: 32px !important;
    border: 0 !important;
    background: rgba(62, 62, 62, 0.05) !important;
    color: rgba(62, 62, 62, 0.65) !important;
  }
}
.ui-widget {
  & * {
    float: none !important;
  }
  &.ui-steps {
    .ui-steps-item {
      &.ui-state-default {
        &.ui-state-disabled {
          opacity: 1;
        }
        &.ui-state-complete {
          .ui-menuitem-link {
            .ui-steps-number {
              background: #186fda !important;
              color: #186fda !important;
              &::before {
                content: "";
                display: flex;
                width: 100%;
                height: 10px;
                background: url(/assets/icons/ok.svg) no-repeat;
                z-index: 1;
                margin-left: 9px;
              }
            }
            .ui-steps-title {
              color: #333 !important;
            }
          }
        }
      }
    }
  }
}
.ui-steps:before {
  border: none !important;
}
