.phone-select.ui-dropdown {
  background: rgb(242, 245, 248);
  width: 65px !important;
  height: 100%;
  border: 0;
  min-width: initial;
}

.phone-select .ui-dropdown-trigger {
  height: calc(100% - 2px);
  margin-top: 1px;
  background-color: rgb(242, 245, 248) !important;
}

.phone-select .ui-dropdown-label-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.phone-select .ui-inputtext {
  background: rgb(242, 245, 248);
  padding-right: 0 !important;
}

.ui-dropdown-open .ui-dropdown-trigger-icon {
  transform: rotate(180deg);
  transition: transform ease 0.2s;
}

.ui-dropdown-trigger-icon {
  transition: transform ease 0.2s;
}

.ui-dropdown-filter {
  border: 2px solid #e3e3e3 !important;

  ~ .ui-dropdown-filter-icon {
    color: $color-icon-gray !important;
  }

  &:focus {
    border-color: $color-stroke-active !important;
    & ~ .ui-dropdown-filter-icon {
      color: $color-brand-blue !important;
    }
  }
}

.ui-dropdown-panel {
  width: 300px;
  margin-left: -2px;
  margin-top: 6px;
  border: 0 !important;
}
.ui-dropdown-item {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.5rem;

  &:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color: #eaf1f8 !important;
  }
}
.ui-dropdown-item.ui-state-highlight {
  background-color: #2684ff !important;

  .list-item-code {
    color: #fff;
  }
}
