<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="panel">
        <div class="input-group search-field">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="icon-search"></i>
            </div>
          </div>
          <input #searchInput class="form-control" type="text" placeholder="{{ 'search' | translate }}"
            (keyup)="search(searchInput.value)" />
        </div>
        <a routerLink="/client-create" class="btn btn-regular btn-green">
          <i class="icon-plus icon--color-white"></i>{{ 'add-client' | translate }}
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</main>