<form *ngIf="isReady" class="form" [formGroup]="classForm">
  <div class="modal-body-wrapper">
    <div class="tabs modal-tabs">
      <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 0 }" (click)="switchTab(0)">
        {{ 'general' | translate }}
      </div>
      <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 1 }" (click)="switchTab(1)">
        {{ 'related-employees' | translate }}
      </div>
      <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 2 }" (click)="switchTab(2)">
        {{ 'related-classes' | translate }}
      </div>
    </div>
  </div>

  <app-form-class-general *ngIf="selected_tab === 0" [generalForm]="classForm"></app-form-class-general>
  <app-form-class-employees
    *ngIf="selected_tab === 1"
    [employeesForm]="classForm.get('employees')"
  ></app-form-class-employees>
  <app-form-class-related-passes
    *ngIf="selected_tab === 2"
    [inputPasses]="classForm.get('relations')"
  ></app-form-class-related-passes>
</form>
