<div class="dashboard-header">
  <div class="dashboard-header-items-wrapper">
    <div class="dashboard-header-item">
      <span>{{ pageTitle | translate }}</span>
    </div>
    <div class="dashboard-header-item right-info">
      <div class="dashboard-header-item">
        <app-language-selector [mode]="'img'" [customClass]="'select'"></app-language-selector>
      </div>
      <div class="dashboard-header-item">
        <app-header-menu #menu></app-header-menu>
      </div>
      <app-notifications></app-notifications>
    </div>
  </div>
</div>