@import '../../../../assets/scss/variables/colors';

.dashboard-header {
  min-height: 72px;
  max-height: 72px;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
  z-index: 1;

  .dashboard-header-items-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;

    .dashboard-header-item {
      display: flex;
      align-items: center;

      span {
        font-size: 24px;
        line-height: 29px;
        color: #3e3e3e;
        font-weight: 600;
      }

      &.right-info {
        display: flex;
      }
    }
  }
}
