:host {
  width: 100%;
  height: 100%;
  display: flex;
}
@import '../../../../../assets/scss/variables/colors';

.main-section {
  width: 100%;
  display: flex;
  .business-section {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .reg-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: initial;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    .reg-form {
      padding: 90px 118px 30px;
      height: 100%;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      @media (max-width: 1200px) {
        padding: 90px 78px 30px;
      }
    }
  }
}

.chevron-left {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 27px;
  &:before {
    content: '';
    display: block;
    background: url(../../../../../assets/icons/Chevron.svg) no-repeat;
    width: 12px;
    height: 12px;
  }
}
h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: $color-black-text;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.btns {
  display: flex;
  margin-bottom: 24px;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
  > * {
    flex-grow: 1;
  }
  app-facebook-login {
    margin-right: 24px;
    @media (max-width: 1200px) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}

.input-group {
  display: flex;
  .phone-code {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 1.5rem;
  }
}
i {
  z-index: 1;
  &.visible-true {
    background: url(../../../../../assets/icons/visible-pass.svg) no-repeat;
    width: 14px;
    height: 9px;
    position: absolute;
    top: 16px;
    right: 20px;
  }
  &.visible-false {
    background: url(../../../../../assets/icons/invisible-pass.svg) no-repeat;
    width: 14px;
    height: 9px;
    position: absolute;
    top: 16px;
    right: 20px;
  }
}

.btn-login {
  background: $color-brand-blue;
  border-radius: 3px;
  color: $color-white;
  padding: 15px 20px;
  border: 0;
  outline: none;
  width: 100%;
  cursor: pointer;
  justify-content: center;
}
.invalid-feedback {
  display: block;
  color: #ff552d;
}
.error_input {
  display: block;
  input {
    border: 2px solid #ff552d;
  }
}
.acc {
  margin-top: 50px;
  p {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-black-text;
    > a {
      display: inline-flex;
      color: $color-brand-blue;
      font-weight: 600;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .business-section {
    display: none;
  }
}
