<div class="main-section">
  <div class="business-section">
    <app-business-block></app-business-block>
  </div>
  <div class="reg-section">
    <div class="reg-form">
      <div class="">
        <h1><i class="chevron-left"></i>{{ 'auth-registration-creation-account' | translate }}</h1>
      </div>
      <div class="btns">
        <app-facebook-login (click)="loginFacebook()"></app-facebook-login>
        <app-google-login (click)="loginGoogle()"></app-google-login>
      </div>
      <form action="" [formGroup]="registrationUser">
        <div class="form-group" [ngClass]="
            registrationUser.controls['name'].errors && registrationUser.controls['name'].touched
              ? 'error_input'
              : 'success_input'
          ">
          <div class="input_withicon user">
            <input type="text" class="form-default" [placeholder]="'auth-registration-name' | translate"
              formControlName="name" />
          </div>
          <div *ngIf="registrationUser.controls['name'].errors && registrationUser.controls['name'].touched"
            class="invalid-feedback">
            {{ 'auth-required' | translate }}
          </div>
        </div>
        <div class="form-group" [ngClass]="
            registrationUser.controls['email'].errors && registrationUser.controls['email'].touched
              ? 'error_input'
              : 'success_input'
          ">
          <div class="input_withicon email">
            <input type="email" class="form-default login-input" [placeholder]="'auth-registration-email' | translate"
              formControlName="email" />
          </div>
          <div *ngIf="registrationUser.controls['email'].errors && registrationUser.controls['email'].touched"
            class="invalid-feedback">
            {{ 'auth-required' | translate }}
          </div>
        </div>
        <div class="form-group">
          <div #phone class="input-group">
            <div class="input-group-prepend">
              <app-phone-field [options]="phoneCodes" formControlName="phone" [appendTo]="'body'"></app-phone-field>
            </div>
            <div class="phone-code">+{{ (registrationUser?.controls)['phone'].value.phone_code }}</div>
            <input class="form-control" type="text" id="phone" formControlName="phone_number"
              (focus)="phone.classList.add('input-group--focus')"
              (blur)="phone.classList.remove('input-group--focus')" />
          </div>
          <div *ngIf="
              registrationUser.controls['phone_number'].errors && registrationUser.controls['phone_number'].touched
            " class="invalid-feedback">
            {{ 'auth-required' | translate }}
          </div>
        </div>
        <div formGroupName="password">
          <div class="form-group">
            <i class="visible-true"></i>
            <i *ngIf="registrationUser.get('password.pass').value.length" [ngClass]="{
                'visible-true': showPass[0],
                'visible-false': !showPass[0]
              }" (click)="showPass[0] = !showPass[0]"></i>
            <div class="input_withicon password" [ngClass]="
                registrationUser.get('password.pass').errors && registrationUser.get('password.pass').touched
                  ? 'error_input'
                  : 'success_input'
              ">
              <input type="{{ showPass[0] ? 'text' : 'password' }}" class="form-default login-input"
                [placeholder]="'auth-registration-password' | translate" formControlName="pass" />
            </div>
            <div *ngIf="registrationUser.get('password.pass').errors && registrationUser.get('password.pass').touched"
              class="invalid-feedback">
              {{ 'auth-required' | translate }}
            </div>
          </div>

          <div class="form-group">
            <i class="visible-true"></i>
            <i *ngIf="registrationUser.get('password.confirmPass').value.length" [ngClass]="{
                'visible-true': showPass[1],
                'visible-false': !showPass[1]
              }" (click)="showPass[1] = !showPass[1]"></i>
            <div class="input_withicon password" [ngClass]="
                registrationUser.get('password.confirmPass').errors && registrationUser.get('password.confirmPass')
                  ? 'error_input'
                  : 'success_input'
              ">
              <input type="{{ showPass[1] ? 'text' : 'password' }}" class="form-default login-input"
                [placeholder]="'auth-registration-confirm-password' | translate" formControlName="confirmPass" />
            </div>
            <div *ngIf="
                registrationUser.get('password.confirmPass') !== registrationUser.get('password.pass') &&
                registrationUser.get('password.confirmPass').errors
              " class="invalid-feedback">
              {{ 'auth-wrong-confirm-password' | translate }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <label class="control control-checkbox">
              {{ 'auth-registration-agree' | translate }}
              <a href="javascript:0">{{ 'auth-registration-agree-link' | translate }}</a>
              <input type="checkbox" (change)="checkAgreeDocuments($event.target.checked)" />
              <div class="control_indicator"></div>
            </label>
          </div>
        </div>

        <button type="button" class="btn_default btn-login" id="reg" (click)="register()">
          {{ 'auth-registration-button-text' | translate }}
        </button>

        <div class="acc">
          <p>
            {{ 'auth-registration-have-account' | translate }}
            <a [routerLink]="['/login']">{{ 'auth-registration-sign-in' | translate }}</a>
          </p>
        </div>
      </form>
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>