<div class="notifications" (click)="modal.toggle()">
  <div *ngIf="new_notifications_count > 0" class="notifications-counter notifications-counter--pos-absolute">
    {{ new_notifications_count }}
  </div>
  <div class="notifications-icon">
    <i class="icon-notification"></i>
  </div>
</div>

<app-modal
  #modal
  [overlayStyle]="{ display: 'flex', 'justify-content': 'flex-end' }"
  [contentStyle]="{
    top: 0,
    right: 0,
    bottom: 0,
    'border-radius': 0,
    width: '100%',
    'max-width': '64rem',
    display: 'flex',
    'flex-direction': 'column',
    'flex-grow': 1
  }"
>
  <div class="modal-header">
    <div class="modal-title">{{ 'notifications' | translate }}</div>
    <div (click)="modal.toggle()">
      <i class="icon-close icon--bg-circle-on-hover"></i>
    </div>
  </div>

  <div class="tabs">
    <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 0 }" (click)="changeTab(0)">{{ 'activity' | translate }}</div>
    <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 1 }" (click)="changeTab(1)">
      <div class="pr-2">{{ 'requests' | translate }}</div>
      <div *ngIf="new_requests_count > 0" class="notifications-counter">
        {{ new_requests_count }}
      </div>
    </div>
  </div>

  <div *ngIf="modal.isOpen" class="modal-body">
    <app-notifications-activity *ngIf="selected_tab === 0"></app-notifications-activity>
    <app-notifications-requests *ngIf="selected_tab === 1"></app-notifications-requests>
  </div>

  <div *ngIf="selected_tab === 0" class="modal-footer modal-footer-btn-left">
    <button type="button" class="btn-regular btn-smooth" (click)="clearNotifications()">{{ 'delete' | translate }}</button>
  </div>
</app-modal>
