@import '../../../../../../assets/scss/variables/colors';

.notifications {
  position: relative;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  margin-bottom: -0.8rem;

  &-counter {
    top: 0;
    right: 0;
    z-index: 10;

    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-right: 0.8rem;

    font-size: 1.2rem;

    border-radius: 9999px;
    color: #fff;
    background-color: $color-warn-red;
    overflow: hidden;

    &--pos-absolute {
      position: absolute;
    }
  }

  &-icon {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.8rem;

    font-size: 2rem;

    border-radius: 9999px;
    transition: background-color ease 0.2s;

    &:hover {
      background-color: rgba(62, 62, 62, 0.05);
      transition: background-color ease 0.2s;
    }
  }
}

.modal-header,
.modal-footer {
  @media (min-width: 1280px) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
