<div class="modal-header">
  <div class="modal-title">Продажа</div>
  <div (click)="goBack()">
    <i class="icon-close icon--color-black"></i>
  </div>
</div>
<div class="content">
  <div class="client left-form-group">
    <h3>Клиент</h3>
    <div class="switch d-flex">
      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
      <p>Новый клиент</p>
    </div>
    <div class="form-group">
      <label for="">Имя клиента *</label>
      <input type="text">
    </div>
  </div>

  <div class="right-form-group">
    <div class="receipt" style="display: none;">
      <div>
        <h3>Чек</h3>
        <button class="btn btn-position">
          <i class="icon-plus"></i>
          Добавить позицию
        </button>

        <div class="cardclients-table-flex">
          <div class="table-flex-head">
            <span>Позиция</span>
            <span>Количество</span>
            <span>Стоимость</span>
          </div>
          <div class="table-flex-body">
            <div class="services-row">
              <div class="service-name">
                <div class="service-remove">
                  <span><i class="icon-close"></i></span>
                </div>
                <div class="">
                  <span class="service-title">Шампунь Estel 1L</span>
                  <span class="service-details">Товары – Шампуни</span>
                </div>
              </div>
              <div class="service-count">
                <span class="counts">
                  <i class="icon-minus"></i>
                </span>
                <span class="">2</span>
                <span class="counts">
                  <i class="icon-plus"></i>
                </span>
              </div>
              <div>
                <div class="price">
                  <div class="price-name">150 грн.</div>
                </div>
              </div>
            </div>

            <div class="services-row">
              <div class="service-name">
                <div class="service-remove">
                  <span><i class="icon-close"></i></span>
                </div>
                <div class="">
                  <span class="service-title">Мужская стрижка</span>
                  <span class="service-details">Услуги – Стрижки</span>
                </div>
              </div>
              <div class="service-count">
                <span class="counts">
                  <i class="icon-minus"></i>
                </span>
                <span class="">1</span>
                <span class="counts">
                  <i class="icon-plus"></i>
                </span>
              </div>
              <div>
                <div class="price">
                  <div class="price-name">
                    <div class="input-group">
                      <input type="text" placeholder="120">
                      <div class="input-group-append">
                        <span class="input-group-text">грн.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="sales">
          <div class="switch d-flex">
            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
            <p>Скидка</p> 
          </div>
          <div class="input-group">
            <input type="text" placeholder="120">
            <div class="input-group-append">
              <select name="" id="">
                <option value="1">грн.</option>
                <option value="1">eur.</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <div class="d-flex">
            <span>Итого</span>
            <span>450 грн</span>
          </div>
          <button class="btn btn-green">Продать</button>
        </div>
      </div>
    </div>

    <div class="add-products">
      <app-add-products></app-add-products>
    </div>
  </div>
</div>