@import '../../../../assets/scss/variables/colors';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.content {
  display: flex;
  height: 100%;

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0;
  }

  .left-form-group {
    width: 100%;

    border-right: 1px solid #f0f0f0;

    @media (min-width: 768px) {
      width: 50%;
      padding: 40px 30px 24px 55px;
    }
  }

  .right-form-group {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  .switch {
    width: 100%;
    margin-bottom: 20px;

    p {
      font-size: 15px;
      margin-left: 8px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .modal-footer {
    padding-left: 24px;
    padding-right: 55px;
    div {
      width: 100%;
      > div{
        justify-content: space-between;
        margin-bottom: 16px;
        span{
          font-size: 18px;
          font-weight: 600;
        }
      }
      button{
        width: 100%;
      }
    }
  }
  .add-products{
    height: 100%;
  }
  .receipt{
    height: 100%;
    > div{
     &:first-of-type{
      height: calc(100% - 120px);
      @media (min-width: 768px) {
        padding: 40px 55px 24px 24px;
      }
     }
    }
    .btn-position{
      padding: 15px 16px;
      border-radius: 3px;
      font-weight: 600;
      border: 2px solid rgba(24, 111, 218, 0.35);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $color-brand-blue;
      background: transparent;
      > i{
        color: #186FDA;
        font-size: 13px;
        margin-right: 8px;
      }

      &:hover {
        background: rgba(24, 111, 218, 0.15);
        box-shadow: 0px 5px 10px rgba(103, 212, 132, 0.2);
      }
    }
    .sales{
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      .switch{
        p{
          font-weight: 600;
        }
      }
      .input-group{
        max-width: 160px;
        > input{
          flex-basis: 50%;
        }
        .input-group-append{
          flex-basis: 50%;
          select{
            width: 100%;
          }
        }
      }
    }
  }
  
  .cardclients-table-flex {
    margin-top: 24px;
    .table-flex-head {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      span {
        color: $color-opacity-text;
        font-weight: 600;
        flex-basis: 25%;

        &:first-of-type {
          flex-basis: 50%;
        }
        &:last-of-type{
          text-align: right;
        }
      }
    }

    .table-flex-body {

      .services {
        &-row {
          display: flex;
          margin-bottom: 8px;
          padding: 16px 0;
          border-bottom: 1px solid #F5F5F5;
          >div {
            flex-basis: 25%;
            &:first-of-type {
              flex-basis: 50%;
            }
            &:last-of-type{
              text-align: right;
            }
          }

          span {
            display: block;
          }

          .service {
            &-name{
              display: flex;
            }
            &-title {
              font-weight: 600;
            }
            &-remove{
              margin-right: 16px;
              i{
                font-size: 10px;
                &::before{
                  padding: 0 !important;
                }
              }
            }
            &-details {
              color: $color-opacity-text;
            }
            &-count{
              display: flex;
              .counts{
                background: rgba(62, 62, 62, 0.05);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:hover{
                  background: rgba(24, 111, 218, 0.15);
                  > i{
                    color: $color-brand-blue;
                  }
                }
                > i{
                  font-size: 10px;
                  color: $color-opacity-text;
                }
                + span{
                  margin: 0 8px;
                }
              }
            }
          }

          .price {
            padding-left: 13px;
            &-name{
              font-weight: 600;
              display: flex;
              justify-content: flex-end;
              .input-group{
                max-width: 125px;
              }
            }
          }
        }
      }
    }
  }
  .input-group{
    flex-wrap: nowrap;
    max-width: 160px;
    > input{
      border: 0;
    }
    .input-group-append{
      .input-group-text{
        display: flex !important;
        color: $color-opacity-text;
      }
    }
  }
}
