<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView
        #dv
        [value]="classes"
        [paginator]="true"
        [rows]="7"
        [lazy]="true"
        (onLazyLoad)="loadGoodsLazy($event)"
        [totalRecords]="total"
        [alwaysShowPaginator]="false"
        paginatorPosition="bottom"
        styleClass="table-wrapper"
      >
        <p-header>
          <div style="display:flex;">
            <div style="flex-basis: 35%">{{ 'label-class' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-category' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-available-slots' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-employees' | translate }}</div>
            <div style="flex-basis: 5%"></div>
          </div>
        </p-header>

        <ng-template let-product pTemplate="listItem">
          <div class="table-row">
            <!-- Название занятия -->
            <div class="table-cell" style="flex-basis: 35%">
              <b>{{ product.title }}</b>
            </div>

            <!-- Категория занятия -->
            <div class="table-cell" style="flex-basis: 20%">{{ product.category_title }}</div>

            <!-- Доступно мест на занятии -->
            <div class="table-cell" style="flex-basis: 20%">
              <ng-container *ngIf="product.limit > 1"> {{ product.limit }} {{ 'members' | translate }} </ng-container>
              <ng-container *ngIf="product.limit === 1">{{ 'personal' | translate }}</ng-container>
            </div>

            <!-- Сотрудники, предоставляющие данное занятие -->
            <div class="table-cell" style="flex-basis: 20%">
              <ng-container *ngIf="!product.employees">
                <div class="no-employees-wrapper">
                  <div class="pr-2">
                    {{ 'none' | translate }}
                  </div>
                  <a routerLink="/products/edit/class/{{ product.id }}/1" class="btn btn-regular btn-smooth">
                    <i class="icon-plus"></i>
                  </a>
                </div>
              </ng-container>

              <ng-container *ngIf="product.employees">
                <button class="btn-regular btn-smooth" (click)="op.toggle($event)">
                  {{ product.employees.length }}

                  <!-- В зависимости от количества сотрудников, подставляется перевод с разным окончанием -->
                  {{
                    helperService.plural(product.employees.length, [
                      'provider',
                      'provider-plural-1',
                      'provider-plural-2'
                    ]) | translate
                  }}
                </button>
                <p-overlayPanel [appendTo]="'body'" #op>
                  <div class="employees-container">
                    <div class="title-wrapper">
                      <div class="employees-title">{{ 'service-provided-by' | translate }}</div>
                      <i class="icon-close icon--size-xs" (click)="op.hide()"></i>
                    </div>
                    <div class="employee-wrapper" *ngFor="let employee of product.employees">
                      <div class="avatar avatar--size-m">
                        <img
                          *ngIf="op.visible"
                          [src]="'https://api.dev.bodywell.io/employee/avatar?employee_id=' + employee.employee_id"
                          alt=""
                        />
                      </div>
                      <a routerLink="/staff/{{ employee.employee_id }}" class="employee-link"
                        >{{ employee.first_name }} {{ employee.last_name }}</a
                      >
                    </div>
                    <a routerLink="/products/edit/class/{{ product.id }}/1" class="employee-add">{{
                      'add-providers' | translate
                    }}</a>
                  </div>
                </p-overlayPanel>
              </ng-container>
            </div>

            <div class="table-cell" style="flex-basis: 5%">
              <div class="d-flex">
                <button class="btn-more" (click)="op.toggle($event)">
                  <i class="icon-menu-list"></i>
                </button>
                <p-overlayPanel [appendTo]="'body'" #op>
                  <div class="btn-more-menu">
                    <a routerLink="/products/edit/class/{{ product.id }}/0" class="btn-more-item">{{
                      'edit' | translate
                    }}</a>
                    <div class="btn-more-item" (click)="toArchive(product.id)">{{ 'to-archive' | translate }}</div>
                  </div>
                </p-overlayPanel>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>

  <div *ngIf="loading && !search" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && !classes.length && !search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-peoples"></i>
    </div>
    <div class="table-no-data-message">{{ 'you-have-no-class' | translate }}</div>
    <a *ngIf="user_role === 1 || user_role === 3" routerLink="/products/create/class" class="btn btn-regular btn-green">
      {{ 'add-first-class' | translate }}
    </a>
  </div>

  <div *ngIf="!loading && !classes.length && search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="table-no-data-message">{{ 'classes-not-found' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</div>
