@import '../../../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.settings-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.form-content-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 3.2rem 1.6rem 1.6rem;

  @media (min-width: 768px) {
    padding: 3.2rem;
  }
}

.form-content {
  width: 100%;
  max-width: 56rem;
}

.form-section {
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;

  &:not(:last-child) {
    border-bottom: 1px solid $color-border-section;
  }

  &-description {
    max-width: 42rem;
    color: $color-opacity-text;
    padding-bottom: 0.8rem;
  }
}

.switch-group {
  display: flex;
  align-items: center;
  padding-bottom: 1.6rem;
}

.switch-label {
  padding-left: 0.8rem;
}

.booking-link {
  display: flex;
  align-items: center;

  input {
    max-width: 42rem;
  }

  div {
    margin-left: 1.6rem;
    color: $color-brand-blue;
    font-weight: 600;
  }
}

.input-group {
  max-width: 42rem;
}
