<form *ngIf="isReady" class="modal-body" [formGroup]="_generalForm">
  <app-scroll-panel>
    <div class="modal-content">
      <div class="modal-content-container">
        <!-- Название услуги -->
        <div class="form-group-left">
          <div class="form-group">
            <label appFieldRequired for="title">{{ 'label-service' | translate }}</label>
            <input type="text" formControlName="title" id="title" />
          </div>
        </div>

        <!-- Длительность услуги -->
        <div class="form-group-right">
          <label appFieldRequired for="duration">{{ 'label-duration' | translate }}</label>
          <div class="form-group">
            <app-time-picker
              [minutesStep]="5"
              [inputId]="'duration'"
              [hoursPrefix]="'hr' | translate"
              [minutesPrefix]="'min' | translate"
              [placeholder]="'placeholder-duration' | translate"
              formControlName="duration"
            ></app-time-picker>
          </div>
        </div>

        <!-- Ограничение посещений услуги -->
        <div class="form-group-left">
          <div class="form-group">
            <label appFieldRequired for="category">{{ 'label-category' | translate }}</label>
            <ng-select
              [items]="categories"
              [searchable]="false"
              [clearable]="false"
              [inputAttrs]="{ id: 'category' }"
              class="custom-select"
              appendTo="body"
              [placeholder]="'placeholder-category' | translate"
              bindLabel="title"
              bindValue="id"
              formControlName="category_id"
            >
              <ng-template ng-header-tmp>
                <div class="add-category" (click)="createModal.toggle()">
                  <button class="btn-rounded btn-rounded--gray">
                    <i class="icon-plus"></i>
                  </button>
                  <div>{{ 'create-category' | translate }}</div>
                </div>
              </ng-template>

              <ng-template ng-option-tmp let-category="item">
                <div>{{ category.title }}</div>
                <div (click)="selectedCategory = category; editModal.toggle()">
                  <i class="icon-edit category-icon"></i>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>

        <!-- Цена услуги -->
        <div class="form-group-right">
          <label appFieldRequired for="price">{{ 'label-price' | translate }}</label>
          <div class="form-group form-group-price">
            <div class="input-group">
              <div class="input-group-prepend" *ngIf="flexible_price">
                <div class="input-group-text">
                  {{ 'from' | translate }}
                </div>
              </div>
              <input class="form-control" type="number" id="price" [value]="price && price / 100" (input)="setPrice($event.target.value)" />
              <div class="input-group-append">
                <div class="input-group-text">
                  {{ currency_symbol }}
                </div>
              </div>
            </div>
            <div class="input-group" *ngIf="flexible_price">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ 'to' | translate }}</div>
              </div>
              <input class="form-control" type="text" [value]="price_max && price_max / 100" (input)="setMaxPrice($event.target.value)" />
              <div class="input-group-append">
                <div class="input-group-text">{{ currency_symbol }}</div>
              </div>
            </div>
          </div>

          <div class="switch-group">
            <label class="switch">
              <input type="checkbox" formControlName="flexible_price" (change)="flexPriceChange($event.target.checked)" />
              <span class="slider round"></span>
            </label>
            <label class="switch-label" for="">
              {{ 'flexible-price' | translate }}
            </label>
          </div>
        </div>

        <!-- Описание услуги -->
        <div class="form-group-left">
          <label for="class-description">{{ 'label-class-description' | translate }}</label>
          <textarea
            name=""
            id="class-description"
            cols="30"
            rows="5"
            maxlength="128"
            [value]="description"
            (input)="descriptionChange($event.target.value)"
          ></textarea>
          <div class="class-description">{{ description.length }}/128</div>
        </div>
      </div>
    </div>
  </app-scroll-panel>
</form>

<app-modal #createModal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <ng-container *ngIf="createModal.isOpen">
    <app-category-create
      [product_type]="1"
      (close)="createModal.toggle()"
      (categoryCreated)="createModal.toggle(); pushCategory($event)"
    ></app-category-create>
  </ng-container>
</app-modal>

<app-modal #editModal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <ng-container *ngIf="editModal.isOpen">
    <app-category-edit
      [editingCategory]="selectedCategory"
      (close)="editModal.toggle()"
      (categoryEdited)="editModal.toggle(); replaceCategory($event)"
    ></app-category-edit>
  </ng-container>
</app-modal>
