<p-dropdown
  styleClass="phone-select"
  dropdownIcon="icon icon-select icon--color-gray"
  [appendTo]="appendTo"
  [options]="options"
  [(ngModel)]="selectedPhoneCode"
  (onChange)="onChange($event.value)"
  (onShow)="rotateIcon()"
  (onHide)="rotateIcon()"
  [filter]="true"
  filterBy="label,value.phone_code"
>
  <ng-template let-item pTemplate="selectedItem">
    <div class="selected-value">
      <i class="flag flag-{{ item.value.code }}"></i>
    </div>
  </ng-template>
  <ng-template let-list pTemplate="item">
    <i class="flag flag-{{ list.value.code }}"></i>
    <div class="list-item-name">{{ list.value.name }}</div>
    <div class="list-item-code">+{{ list.value.phone_code }}</div>
  </ng-template>
</p-dropdown>
