<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView #dv [value]="payments" [paginator]="true" [rows]="7" [lazy]="true"
        (onLazyLoad)="loadGoodsLazy($event)" [totalRecords]="total" [alwaysShowPaginator]="false"
        paginatorPosition="bottom" styleClass="table-wrapper">
        <p-header>
          <div style="display:flex;">
            <div style="flex-basis: 25%">{{ 'label-transaction-number' | translate }}</div>
            <div style="flex-basis: 20%">{{ 'label-payer' | translate }}</div>
            <div style="flex-basis: 10%">{{ 'label-summ' | translate }}</div>
            <div style="flex-basis: 10%">{{ 'label-period' | translate }}</div>
            <div style="flex-basis: 15%">{{ 'label-status' | translate }}</div>
            <div class="d-flex" style="flex-basis: 20%; justify-content: flex-end;">{{ 'label-date' | translate }}</div>
          </div>
        </p-header>

        <ng-template let-payment pTemplate="listItem">
          <div class="table-row">
            <div class="table-cell" style="flex-basis: 25%">
              <p>{{ payment.transaction }}</p>
            </div>

            <div class="table-cell" style="flex-basis: 20%">
              <p>{{ payment.employee_first_name }} {{ payment.employee_last_name }}</p>
            </div>

            <div class="table-cell" style="flex-basis: 10%">
              <p>$ {{ payment.amount / 100 }}</p>
            </div>

            <div class="table-cell" style="flex-basis: 10%;">
              <p>{{ payment.period }} {{ 'months' | translate }}</p>
            </div>

            <div class="table-cell" style="flex-basis: 15%">
              <ng-container>
                <p *ngIf="payment.status === 0">{{ 'payment-status-reject' | translate }}</p>
                <p *ngIf="payment.status === 1">{{ 'payment-status-success' | translate }}</p>
                <p *ngIf="payment.status !== 0 && payment.status !== 1">{{ 'payment-status-pending' | translate }}</p>
              </ng-container>
            </div>

            <div class="table-cell" style="flex-basis: 20%;">
              <p>{{ payment.date }}</p>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>

  <div *ngIf="loading" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && !payments.length" class="table-no-data">
    <div class="table-no-data-message">{{ 'payments-empty' | translate }}</div>
  </div>
</div>