<div class="create-company-form">
  <app-scroll-panel>
    <div class="header-create-company">
      <h3>{{ 'create-company-session-type-title' | translate }}</h3>
      <h2>{{ 'create-company-session-type-subtitle-session-type' | translate }}</h2>
    </div>
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="info-block d-flex">
          <img class="info-img" src="../../../assets/img/icon/info.png" alt="" />
          <p>{{ 'create-company-session-type-info' | translate }}</p>
        </div>

        <div
          class="info-card"
          *ngFor="let type of companyTypes"
          (click)="onSelectType(type)"
          [ngClass]="{ active: selectedType.id === type.id }"
        >
          <div>
            <div class="circle-icon">
              <i *ngIf="type.id === 1" class="icon-avatar"></i>
              <i *ngIf="type.id === 2" class="icon-home"></i>
              <i *ngIf="type.id === 3" class="icon-enterprise"></i>
            </div>
          </div>
          <div>
            <h4>{{ type.title | translate }}</h4>
            <p class="text-blue" *ngFor="let price of prices">
              <span *ngIf="type.id === price.company_type_id">От {{ price.amount / 100 }}$ / мес.</span>
            </p>
            <p>{{ type.title + '_description' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-block">
      <button class="btn-blue" value="1" (click)="continueCreation($event.target.value)">
        {{ 'create-company-session-type-button-continue' | translate }}
      </button>
    </div>
  </app-scroll-panel>
</div>
