<form class="form" [formGroup]="serviceForm">
  <div class="modal-body-wrapper">
    <div class="tabs modal-tabs">
      <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 0 }" (click)="switchTab(0)">
        {{ 'general' | translate }}
      </div>
      <div class="tab" [ngClass]="{ 'tab--active': selected_tab === 1 }" (click)="switchTab(1)">
        {{ 'related-employees' | translate }}
      </div>
    </div>
  </div>

  <app-form-service-general *ngIf="selected_tab === 0" [generalForm]="serviceForm"></app-form-service-general>
  <app-form-service-employees
    *ngIf="selected_tab === 1"
    [employeesForm]="serviceForm.get('employees')"
  ></app-form-service-employees>
</form>
