<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="tabs">
        <a class="tab" [routerLink]="['/products/list/goods']" routerLinkActive="tab--active">
          {{ 'goods' | translate }}
        </a>
        <a *ngIf="businessType === 0" class="tab" [routerLink]="['/products/list/services']" routerLinkActive="tab--active">
          {{ 'services' | translate }}
        </a>
        <a *ngIf="businessType === 0" class="tab" [routerLink]="['/products/list/service-packages']" routerLinkActive="tab--active">
          {{ 'service-packages' | translate }}
        </a>
        <a *ngIf="businessType === 1" class="tab" [routerLink]="['/products/list/passes']" routerLinkActive="tab--active">
          {{ 'passes' | translate }}
        </a>
        <a *ngIf="businessType === 1" class="tab" [routerLink]="['/products/list/classes']" routerLinkActive="tab--active">
          {{ 'classes' | translate }}
        </a>
        <a class="tab" [routerLink]="['/products/list/archive']" routerLinkActive="tab--active">
          {{ 'archive' | translate }}
        </a>
      </div>
      <div class="panel">
        <div class="input-group search-field">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="icon-search"></i>
            </div>
          </div>
          <input
            #searchInput
            class="form-control"
            type="text"
            [value]="searchText"
            placeholder="{{ 'search' | translate }}"
            (keyup)="search(searchInput.value)"
          />
        </div>
        <a *ngIf="product_type !== -1" [routerLink]="selected_link" class="btn btn-regular btn-green">
          <i class="icon-plus icon--color-white"></i>
          {{ product_translate_token[product_type] | translate }}
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
