:host {
  width: 100%;
}
.create-locatin-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .create-location-header {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    border-bottom: 1px solid #f0f0f0;
    z-index: 1;
    background: #fff;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    .title {
      h2 {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

  .page-content-wrapper {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    .find-location-block {
      display: flex;
      width: 100%;
      .add-location-form {
        width: 50%;
        padding-right: 15px;
        .online-booking {
          display: flex;
          align-items: center;
          p {
            padding-left: 8px;
          }
        }
        .form-group {
          margin: 0;
          margin-bottom: 8px;
          .phone-code {
            display: flex;
            align-items: center;
            width: 50px;
            padding-left: 5px;
          }
        }
      }
      .location-preview {
        width: 50%;
        padding-left: 15px;
      }
    }
    .page-content {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 2.5rem 9rem 0 9rem;
      .use-my-location {
        padding: 0;
        color: #186fda;
        padding-bottom: 16px;
        padding-top: 8px;
        &:hover {
          color: #828282;
        }
      }
      .zip-code {
        margin-bottom: 24px;
      }
      .work-hours {
        width: 100%;
        > div {
          max-width: 670px;
          margin: 0 auto;
          padding: 35px 16px 0px 16px;
          border-bottom: 1px solid #f5f5f5;
        }
        .inputs-hours {
          align-items: center;
          input {
            max-width: 89px;
            text-align: center;
          }
          p {
            margin: 0 8px;
          }
          .btn-text {
            padding: 11px 16px !important;
          }
        }
        .interval-block {
          .int {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .switch-hours {
            margin-right: 8px;
            + p {
              font-size: 15px;
              color: #3e3e3e;
              font-weight: 600;
              margin: 0 24px 0 0;
            }
          }
        }
        .add-int {
          justify-content: flex-end;
          &.ifadded {
            flex-direction: column;
            align-items: flex-end;
            padding-top: 22px;
            .added {
              > p {
                font-size: 15px;
                color: #3e3e3e;
                font-weight: 600;
                margin-bottom: 7px;
                margin-top: 0;
              }
              .btn-text {
                color: #f86262;
              }
            }
          }
          > div {
            min-width: 390px;
            display: block;
            &.button-add {
              .btn-text {
                padding-left: 0 !important;
                color: #186fda;
              }
            }
          }
        }
      }
    }
  }

  .create-location-footer {
    height: 71px;
    border-top: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #fff;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    .delete-location {
      button {
        font-size: 15px;
        color: rgba(62, 62, 62, 0.65);
      }
    }
    .action-buttom-block {
      display: flex;
      align-items: center;
      .btn-text {
        padding: 13px 24px;
      }
    }
  }
  .invalid-feedback {
    display: block;
    color: #ff552d;
  }
  .error_input {
    display: block;
    input {
      border: 2px solid #ff552d;
    }
  }

  agm-map {
    height: 364px;
  }
}
