<div class="create-locatin-form">
  <app-scroll-panel>
    <div class="create-location-header">
      <div class="title">
        <h2>Добавить локацию</h2>
      </div>
      <div class="close-page">
        <button class="close" (click)="location.back()"><i class="icon-close"></i></button>
      </div>
    </div>
    <div class="page-content-wrapper">
      <div class="page-content">
        <ng-container *ngIf="!workHoursStep">
          <div class="find-location-block">
            <form class="add-location-form" [formGroup]="createLocation">
              <div class="form-group"
                [ngClass]="createLocation.controls['title'].errors ? 'error_input' : 'success_input'">
                <div class="">
                  <label>Адрес локации</label>
                  <input type="text" class="form-default" (keydown.enter)="$event.preventDefault()"
                    formControlName="title" placeholder="" autocorrect="off" autocapitalize="off" spellcheck="off"
                    type="text" #search>
                </div>
                <div *ngIf="createLocation.controls['title'].errors" class="invalid-feedback">
                  {{ 'auth-required' | translate }}
                </div>
              </div>
              <button class="btn-text use-my-location" (click)="setCurrentLocation()">Использовать текущее
                местоположение</button>
              <div class="form-group"
                [ngClass]="createLocation.controls['zip'].errors ? 'error_input' : 'success_input'">
                <div class="zip-code">
                  <label>Почтовый индекс</label>
                  <input type="text" class="form-default login-input" [placeholder]="" formControlName="zip" />
                  <div *ngIf="createLocation.controls['zip'].errors" class="invalid-feedback">
                    {{ 'auth-required' | translate }}
                  </div>
                </div>
              </div>
              <div formArrayName="phones">
                <label for="phone">Телефон локации</label>
                <div class="form-group" *ngFor="let phone of formPhones.controls; let i = index">
                  <div #phone [formGroupName]="i">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <app-phone-field [options]="phoneCodes" formControlName="phone_code">
                        </app-phone-field>
                      </div>
                      <div class="phone-code">+{{ formPhones['controls'][i]['controls'].phone_code.value.phone_code }}
                      </div>
                      <input class="form-control" type="number" id="phone" formControlName="phone_number">
                      <button *ngIf="i > 0" (click)="removePhone(i);">
                        <i class="icon-close icon--bg-circle-on-hover"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button *ngIf="formPhones.valid" class="btn-text use-my-location" (click)="addPhone();">Добавить
                телефон</button>
              <div class="online-booking">
                <p-inputSwitch class="d-flex" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">
                </p-inputSwitch>
                <p>Разрешить онлайн запись для локации</p>
              </div>
            </form>
            <div class="location-preview">
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="workHoursStep">
          <div *ngFor="let day of daysOfTheWeek" class="work-hours">
            <div class="interval-block">

              <div class="int">
                <div class="days-switcher d-flex">
                  <p-inputSwitch class="d-flex switch-hours" [(ngModel)]="day.is_active"
                    [ngModelOptions]="{standalone: true}">
                  </p-inputSwitch>
                  <p>{{ day.label | translate }}</p>
                </div>
                <div class="d-flex inputs-hours">
                  <app-work-time-select [(ngModel)]="day.timeFrom"></app-work-time-select>
                  <p>-</p>
                  <app-work-time-select [(ngModel)]="day.timeTo" (click)="log()"></app-work-time-select>
                  <button class="btn-text">Копировать на все дни</button>
                </div>
              </div>

              <div class="add-int d-flex ifadded">
                <div class="added">
                  <p>Перерыв 1</p>
                  <div class="d-flex inputs-hours">
                    <input type="text" />
                    <p>-</p>
                    <input type="text" />
                    <button class="btn-text">Удалить перерыв</button>
                  </div>
                </div>
                <div class="button-add">
                  <button class="btn-text">Добавить перерыв</button>
                </div>
              </div>

            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </app-scroll-panel>
  <div class="create-location-footer">
    <div class="delete-location">
      <button class="btn-text" style="display: none;">Удалить локацию</button>
    </div>
    <div class="action-buttom-block">
      <button class="btn-text" (click)="goToLocationAdress();">Отмена</button>
      <button class="btn-green" (click)="goToWorkHours();">Далее</button>
    </div>
  </div>
</div>