<form (ngSubmit)="onSubmit()" [formGroup]="sessionForm">
  <div class="modal-header">
    <div class="modal-title">{{ 'create-session' | translate }}</div>
    <div (click)="goBack()">
      <i class="icon-close icon--color-black"></i>
    </div>
  </div>
  <div class="modal-body">
    <ng-container [ngSwitch]="session_type_name">
      <app-session-form-service *ngSwitchCase="'service'" (formReady)="formInitialized($event)"></app-session-form-service>
      <app-session-form-class *ngSwitchCase="'class'" (formReady)="formInitialized($event)"></app-session-form-class>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-regular btn-green-border">{{ 'create-and-pay' | translate }}</button>
    <button type="submit" class="btn-regular btn-green">{{ 'submit' | translate }}</button>
  </div>
</form>
