@import '../../../../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 1.6rem;

    @media (min-width: 768px) {
      max-width: calc(100% / 6 * 5);
      padding-top: 1.6rem;
    }

    @media (min-width: 992px) {
      max-width: calc(100% / 3 * 2);
    }

    @media (min-width: 1600px) {
      max-width: calc(100% / 2);
    }
  }
}

ng-select {
  width: 100%;
}

.form-group {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.price-form-group {
  display: flex;

  & > div {
    width: calc(100% / 3);

    &:not(:last-of-type) {
      padding-right: 0.8rem;
    }

    &:not(:first-of-type) {
      padding-left: 1.6rem;
    }
  }
}

.add-category {
  display: flex;
  align-items: center;

  padding: 1.5rem;

  cursor: pointer;

  button {
    margin-right: 0.8rem;
    transition: background-color ease 0.2s;
  }

  &:hover {
    button {
      background-color: rgba(24, 111, 218, 0.09);
      transition: background-color ease 0.2s;
    }
  }
}

.good-description {
  width: 100%;
  color: $color-opacity-text;
  text-align: right;
}
