<app-scroll-panel>
  <div class="modal-content" [formGroup]="productForm">
    <div class="modal-content-container">
      <div class="form-group">
        <label appFieldRequired for="title">{{ 'label-good' | translate }}</label>
        <input type="text" id="title" formControlName="title" />
      </div>
      <div class="form-group">
        <label appFieldRequired for="category">{{ 'label-category' | translate }}</label>
        <ng-select
          [items]="categories"
          [searchable]="false"
          [clearable]="false"
          [inputAttrs]="{ id: 'category' }"
          [placeholder]="'placeholder-category' | translate"
          class="custom-select"
          appendTo="body"
          placeholder="Select category"
          bindLabel="title"
          bindValue="id"
          formControlName="category_id"
        >
          <ng-template ng-header-tmp>
            <div class="add-category" (click)="createModal.toggle()">
              <button class="btn-rounded btn-rounded--gray">
                <i class="icon-plus"></i>
              </button>
              <div>{{ 'create-category' | translate }}</div>
            </div>
          </ng-template>

          <ng-template ng-option-tmp let-category="item">
            <div>{{ category.title }}</div>
            <div (click)="selectedCategory = category; editModal.toggle()">
              <i class="icon-edit category-icon"></i>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <div class="form-group price-form-group">
        <div>
          <label for="supply-price">{{ 'label-supply-price' | translate }}</label>
          <div class="input-group">
            <input
              class="form-control"
              type="number"
              id="supply-price"
              [value]="cost.value / 100 || ''"
              (input)="supplyPriceChange($event.target.value)"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                {{ currency_symbol }}
              </div>
            </div>
          </div>
        </div>
        <div>
          <label for="extra_charge">{{ 'label-extra-charge' | translate }}</label>
          <div class="input-group">
            <input
              class="form-control"
              type="number"
              id="extra_charge"
              [value]="selected_charge_type.value == 1 ? extra_charge.value : extra_charge.value / 100"
              (input)="extraChargeChange($event.target.value)"
            />
            <div class="input-group-append">
              <ng-select
                [items]="extra_charge_types"
                [searchable]="false"
                [clearable]="false"
                class="custom-select"
                appendTo="body"
                bindLabel="label"
                bindValue="value"
                formControlName="selected_charge_type"
                (change)="extraChargeTypeChange($event.value)"
              ></ng-select>
            </div>
          </div>
        </div>
        <div>
          <label appFieldRequired for="price">{{ 'label-price' | translate }}</label>
          <div class="input-group">
            <input
              class="form-control"
              type="number"
              id="price"
              [value]="price.value / 100 || ''"
              (input)="priceChange($event.target.value)"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                {{ currency_symbol }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="vendor_code">{{ 'label-vendor-code' | translate }}</label>
        <input type="text" id="vendor_code" formControlName="vendor" />
      </div>

      <div class="form-group">
        <label for="good_description">{{ 'label-good-description' | translate }}</label>
        <textarea name="" id="good_description" cols="30" rows="5" maxlength="128" formControlName="description"></textarea>
        <div class="good-description">{{ description.length }}/128</div>
      </div>
    </div>
  </div>
</app-scroll-panel>

<app-modal #createModal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <ng-container *ngIf="createModal.isOpen">
    <app-category-create
      [product_type]="0"
      (close)="createModal.toggle()"
      (categoryCreated)="createModal.toggle(); pushCategory($event)"
    ></app-category-create>
  </ng-container>
</app-modal>

<app-modal #editModal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <ng-container *ngIf="editModal.isOpen">
    <app-category-edit
      [editingCategory]="selectedCategory"
      (close)="editModal.toggle()"
      (categoryEdited)="editModal.toggle(); replaceCategory($event)"
    ></app-category-edit>
  </ng-container>
</app-modal>
