<form class="settings-form" (ngSubmit)="onSubmit()" [formGroup]="rateSelectionForm">
  <app-scroll-panel>
    <div class="form-content-wrapper">
      <div class="form-content">
        <div class="tariff-attention-wrapper">
          <div class="tariff-attention">
            <i class="icon icon-attention icon--color-white text-sm"></i>
          </div>
          <span class="font-semibold">{{ 'company-tariff-attention' | translate }}</span>
        </div>
        <div
          class="info-card"
          *ngFor="let type of companyTypes"
          (click)="onSelectType(type)"
          [ngClass]="{ active: selectedType.id === type.id }"
        >
          <div>
            <div class="circle-icon">
              <i *ngIf="type.id === 1" class="icon-avatar"></i>
              <i *ngIf="type.id === 2" class="icon-home"></i>
              <i *ngIf="type.id === 3" class="icon-enterprise"></i>
            </div>
          </div>
          <div>
            <h4>{{ type.title | translate }}</h4>
            <p class="text-blue" *ngFor="let price of prices">
              <span *ngIf="type.id === price.company_type_id">От {{ price.amount / 100 }}$ / мес.</span>
            </p>
            <p>{{ type.title + '_description' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </app-scroll-panel>

  <div class="page-footer">
    <button type="submit" class="btn-green">{{ 'update' | translate }}</button>
  </div>
</form>
