<main>
  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="sidebar-header-logo d-flex">
        <img class="logo" src="../../../assets/img/logo-blue.svg" alt="" />
        <img src="../../../assets/img/logo-blue-text.svg" alt="" />
      </div>
    </div>
    <div class="sidebar-item-group">
      <div>
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
      </div>
    </div>
    <pre>{{ createCompanyForm.value | json }}</pre>
  </aside>

  <section class="page" [formGroup]="createCompanyForm">
    <app-rate-selection *ngIf="activeIndex === 0" (formReady)="formInitialized('rateSelection', $event)" (goToSecondStep)="goToStep(1)"></app-rate-selection>
    <app-general-information *ngIf="activeIndex === 1" (formReady)="formInitialized('generalInfoForm', $event)" (createCompany)="createCompany()"></app-general-information>
    <app-locations [type]="createCompanyForm.get('rateSelection').value.type_id" *ngIf="activeIndex === 2" [companyId]="createdCompanyId"></app-locations>
    <app-session-type *ngIf="activeIndex === 3" (formReady)="formInitialized('sessionType', $event)"></app-session-type>
    <app-staff *ngIf="activeIndex === 4"></app-staff>
  </section>
</main>
