@import '../../../assets/scss/variables/colors';
:host {
  width: 100%;
}
.sidebar {
  z-index: 1;
  background: $color-page-bg;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 280px;
  min-width: 280px;
  overflow: hidden;
  padding-left: 32px;
  border-radius: 3px;
  .sidebar-header {
    padding: 32px 0 43px 0;
    .sidebar-header-logo {
      .logo {
        width: 32px;
        padding-right: 8px;
      }
    }
  }
  .sidebar-item-group {
    display: flex;
  }
}
.page {
  padding-left: 32px;
  margin: 0;
  background-color: #fafafa;
}
