<div #userMenu class="user-dropdown">
  <div class="dashboard-header-item" (click)="toggleMenu()">
    {{user_name}}
    <div class="profile-image">
      <img src="../../../assets/img/avatar.jpg" alt="">
    </div>
  </div>

  <div *ngIf="isMenuOpen" class="dropdown-menu dropdown-menu-lvl-1">
    <div class="dropdown-menu-item" (mouseenter)="toggleCompanies()" (mouseleave)="toggleCompanies()">
      Сменить пространство
      <i class="icon icon-chevron icon--color-gray" style="transform: rotate(-90deg); margin-left: 0.8rem"></i>

      <div class="dropdown-menu-wrapper">
        <div *ngIf="isCompaniesOpen" class="dropdown-menu-lvl-2">

          <ng-template ngFor let-company [ngForOf]="companies">
            <div #item class="dropdown-menu-item"
              (mouseenter)="onCompanyMouseEnter($event, item); getCompanyBranches($event, company)"
              (mouseleave)="onCompanyMouseLeave()">
              <div class="company-logo" [ngClass]="{'company-logo--active': company.value.is_current}">
                <img [src]="company.logo" alt="">
              </div>
              <div>
                {{company.label}}
              </div>
              <i class="icon icon-chevron icon--color-gray" style="transform: rotate(-90deg); margin-left: 0.8rem"></i>

              <div class="dropdown-menu-wrapper" [ngClass]="{'dropdown-menu--active': activeCompany === item}">
                <div class="dropdown-menu-lvl-3">
                  <ng-container *ngIf="company.branches.length">
                    <div class="dropdown-menu-item" *ngFor="let branch of company.branches"
                      (click)="setCurrentBranch($event, company.value, branch.value)">
                      {{branch.label}}
                      <div *ngIf="branch.value.is_current" class="branch-active">
                        <div>{{'current' | translate}}</div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!company.branches.length">
                    <div class="dropdown-menu-item">
                      Локации отсутствуют
                    </div>
                  </ng-container>
                </div>
              </div>

            </div>
          </ng-template>

        </div>
      </div>

    </div>
    <a routerLink="/user-profile/settings" class="dropdown-menu-item">Профиль</a>
    <div class="dropdown-menu-item logout" (click)="logout()">Выйти</div>
  </div>
</div>