<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="tabs">
        <a class="tab" [routerLink]="['/staff/active']" routerLinkActive="tab--active">
          {{ 'staff' | translate }}
        </a>
        <a class="tab" [routerLink]="['/staff/fired']" routerLinkActive="tab--active">
          {{ 'deactivated-plural' | translate }}
        </a>
      </div>
      <div class="panel">
        <div class="input-group search-field">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="icon-search"></i>
            </div>
          </div>
          <input class="form-control" type="text" placeholder="{{ 'search' | translate }}" [value]="searchText"
            (input)="search($event.target.value)" />
        </div>
        <a routerLink="/create-staff-member" class="btn btn-regular btn-green">
          <i class="icon-plus icon--color-white"></i>
          {{ 'invite-employee' | translate }}
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</main>