@import '../../../assets/scss/variables/colors';

:host {
  width: 100%;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 7.2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  background-color: #fff;
  border-bottom: 1px solid $color-border-section;

  @media (min-width: 768px) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.search-field {
  max-width: 300px;

  input {
    padding-left: 0;
  }
}

.icon-plus {
  margin-right: 0.8rem;
}
