@import '../../../../../../../assets/scss/variables/colors';

:host {
  display: none;

  width: 100%;
  max-width: 42rem;
  padding-left: 1.6rem;

  @media (min-width: 768px) {
    display: block;
  }
}

.qr-code {
  display: flex;
  justify-content: center;

  margin-bottom: 2.4rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  background-color: #fff;

  border-radius: 3px;

  &-container {
    justify-content: center;

    width: 100%;
    padding: 2.4rem;

    background-color: $color-light-gray;
  }

  &-title {
    padding-bottom: 0.8rem;

    font-size: 1.8rem;
    font-weight: 600;
  }

  &-description {
    padding-bottom: 1.6rem;
  }
}

button {
  width: 100%;
  justify-content: center;
}
