<app-sidebar *ngIf="isReady && isCompanyReady"></app-sidebar>
<router-outlet *ngIf="isReady"></router-outlet>

<p-toast #notificationMessages styleClass="notification" position="bottom-right" key="notification">
  <ng-template let-message pTemplate="message">
    <div style="padding: 1rem 1rem 1rem 2rem">
      <a *ngIf="message.data.link_pathname" [routerLink]="message.data.link_pathname">
        {{ message.data.link_title }}
      </a>
      <div>{{ message.data.message }}</div>
    </div>
  </ng-template>
</p-toast>

<p-toast #requestsMessages styleClass="alert" position="bottom-center" key="alert">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <div>{{ message.detail | translate }}</div>
    </div>
  </ng-template>
</p-toast>
