  <div #container class="bw-scrollpanel">
    <div #content class="bw-scrollpanel-content">
      <ng-content></ng-content>
    </div>
    <div class="bw-scrollpanel-bar-y-wrapper">
      <div #yBar class="bw-scrollpanel-bar"></div>
    </div>
    <div class="bw-scrollpanel-bar-x-wrapper">
      <div #xBar class="bw-scrollpanel-bar"></div>
    </div>
  </div>
