:host {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.bw-scrollpanel {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  height: 100%;
}

.bw-scrollpanel-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-right: -20px;
  margin-bottom: -20px;

  overflow: scroll;
}

.bw-scrollpanel-bar-y-wrapper {
  position: absolute;
  width: 6px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
}

.bw-scrollpanel-bar-x-wrapper {
  position: absolute;
  height: 6px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 3px;
}

.bw-scrollpanel-bar {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.bw-scrollpanel-hidden {
  visibility: hidden;
}

.bw-scrollpanel-grabbed {
  user-select: none;
}
