<div class="add-products-component">
  <h3>
    <i class="arrow-back"></i>
    Добавление продуктов
  </h3>
  <div class="tabs-product">
    <div class="tabs">
        <a class="tab" [routerLink]="['/new-sale/goods']" routerLinkActive="tab--active">Товары</a>
        <a class="tab" [routerLink]="['/new-sale/services']" routerLinkActive="tab--active">Услуги</a>
      </div>

      <router-outlet></router-outlet>
  </div>
</div>
