<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="tabs">
        <a class="tab" [routerLink]="['/user-profile/settings']" routerLinkActive="tab--active">{{
          'general' | translate
        }}</a>
        <a class="tab" [routerLink]="['/user-profile/security']" routerLinkActive="tab--active">{{
          'security' | translate
        }}</a>
      </div>

      <router-outlet></router-outlet>
    </div>
  </section>
</main>
