@import '../../../../../../../assets/scss/variables/colors';

.search {
  padding: 16px;

  .search-field {
    max-width: 300px;

    input {
      padding-left: 0;
    }
  }
}
.content {
  height: 100%;

  .tickets-tables {
    height: 100%;
    background-color: $color-page-bg;
    padding: 24px 55px 24px 24px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 16px;
      margin-top: 0;
    }
    .ticket {
      margin-bottom: 32px;
    }
    .cardclients-table-flex {
      .table-flex-head {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        span {
          color: $color-opacity-text;
          font-weight: 600;
          flex-basis: 25%;
          &:first-of-type {
            flex-basis: 50%;
          }
        }
      }
      .table-flex-body {
        .services {
          &-row {
            display: flex;
            margin-bottom: 8px;
            padding: 16px 24px;
            background-color: $color-white;
            box-shadow: 0px 5px 20px rgba(207, 218, 232, 0.25);
            > div {
              flex-basis: 25%;
              &:first-of-type {
                flex-basis: 50%;
              }
            }
            span {
              display: block;
            }
            .service {
              &-name {
                font-weight: 600;
              }
              &-details {
                color: $color-opacity-text;
              }
            }
            .executor {
              display: flex;
              align-items: center;
              padding-left: 13px;
              &-avatar {
                width: 24px;
                margin-right: 8px;
                border-radius: 50%;
                overflow: hidden;
                height: 24px;
                object-fit: cover;
                object-position: center;
                > img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
