<div class="content">
  <div class="search">
    <div class="input-group search-field">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="icon-search"></i>
        </div>
      </div>
      <input #searchInput class="form-control" type="text" placeholder="{{ 'search' | translate }}"
        (keyup)="search(searchInput.value);" />
    </div>
  </div>
  <app-scroll-panel>
    <div class="tickets-tables">

      <div *ngIf="filteredUnfreezeCourses().length" class="acting ticket">
        <h3>{{ 'title-unfreeze' | translate }}</h3>
        <div class="cardclients-table-flex">
          <div class="table-flex-head">
            <span style="flex-basis: 40%">{{ 'label-name' | translate }}</span>
            <span style="flex-basis: 30%">{{ 'label-end' | translate }}</span>
            <span style="flex-basis: 20%">{{ 'label-visits-left' | translate }}</span>
            <span style="flex-basis: 10%"></span>
          </div>
          <div class="table-flex-body" *ngFor="let item of filteredUnfreezeCourses()">
            <div class="services-row">
              <div style="flex-basis: 40%">
                <span class="service-name">{{ item?.product_title }}</span>
                <span class="service-details">{{ 'purchased' | translate }}:
                  {{ moment(item?.start_date).format('LL') }}</span>
              </div>

              <div style="flex-basis: 30%">
                <span class="service-date">{{ moment(item?.end_date).format('LL') }}</span>
              </div>

              <div style="flex-basis: 20%">
                <div class="executor">
                  <div class="executor-name">{{ item?.limit - item?.count }} / {{ item?.limit }}</div>
                </div>
              </div>

              <div class="table-cell d-flex" style="flex-basis: 10%; align-items: center;">
                <div class="d-flex">
                  <button class="btn-more" (click)="op.toggle($event)">
                    <i class="icon-menu-list"></i>
                  </button>
                  <p-overlayPanel [appendTo]="'body'" #op>
                    <div class="btn-more-menu">
                      <a class="btn-more-item">
                        {{ 'sell-package-of-services' | translate }}
                      </a>
                      <a class="btn-more-item">
                        {{ 'buy-package-of-services' | translate }}
                      </a>
                    </div>
                  </p-overlayPanel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="filteredFreezeCourses().length" class="frozen ticket">
        <h3>{{ 'title-freeze' | translate }}</h3>
        <div class="cardclients-table-flex">
          <div class="table-flex-head">
            <span style="flex-basis: 40%">{{ 'label-name' | translate }}</span>
            <span style="flex-basis: 30%">{{ 'label-end' | translate }}</span>
            <span style="flex-basis: 20%">{{ 'label-visits-left' | translate }}</span>
            <span style="flex-basis: 10%"></span>
          </div>
          <div class="table-flex-body" *ngFor="let item of filteredFreezeCourses()">
            <div class="services-row">
              <div style="flex-basis: 40%">
                <span class="service-name">{{ item?.product_title }}</span>
                <span class="service-details">{{ 'purchased' | translate }}:
                  {{ moment(item?.start_date).format('LL') }}</span>
              </div>

              <div style="flex-basis: 30%">
                <span class="service-date">{{ moment(item?.end_date).format('LL') }}</span>
              </div>

              <div style="flex-basis: 20%">
                <div class="executor">
                  <div class="executor-name">{{ item?.limit - item?.count }} / {{ item?.limit }}</div>
                </div>
              </div>

              <div class="table-cell d-flex" style="flex-basis: 10%; align-items: center;">
                <div class="d-flex">
                  <button class="btn-more" (click)="op.toggle($event)">
                    <i class="icon-menu-list"></i>
                  </button>
                  <p-overlayPanel [appendTo]="'body'" #op>
                    <div class="btn-more-menu">
                      <a class="btn-more-item">
                        {{ 'sell-package-of-services' | translate }}
                      </a>
                      <a class="btn-more-item">
                        {{ 'buy-package-of-services' | translate }}
                      </a>
                    </div>
                  </p-overlayPanel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="filteredDisabledCourses().length" class="deactivated ticket">
        <h3>{{ 'title-deactivated' | translate }}</h3>
        <div class="cardclients-table-flex">
          <div class="table-flex-head">
            <span style="flex-basis: 40%">{{ 'label-name' | translate }}</span>
            <span style="flex-basis: 30%">{{ 'label-end' | translate }}</span>
            <span style="flex-basis: 20%">{{ 'label-visits-left' | translate }}</span>
            <span style="flex-basis: 10%"></span>
          </div>
          <div class="table-flex-body" *ngFor="let item of filteredDisabledCourses()">
            <div class="services-row">
              <div style="flex-basis: 40%">
                <span class="service-name">{{ item?.product_title }}</span>
                <span class="service-details">{{ 'purchased' | translate }}:
                  {{ moment(item?.start_date).format('LL') }}</span>
              </div>

              <div style="flex-basis: 30%">
                <span class="service-date">{{ moment(item?.end_date).format('LL') }}</span>
              </div>

              <div style="flex-basis: 20%">
                <div class="executor">
                  <div class="executor-name">{{ item?.limit - item?.count }} / {{ item?.limit }}</div>
                </div>
              </div>

              <div class="table-cell d-flex" style="flex-basis: 10%; align-items: center;">
                <div class="d-flex">
                  <button class="btn-more" (click)="op.toggle($event)">
                    <i class="icon-menu-list"></i>
                  </button>
                  <p-overlayPanel [appendTo]="'body'" #op>
                    <div class="btn-more-menu">
                      <a class="btn-more-item">
                        {{ 'sell-package-of-services' | translate }}
                      </a>
                      <a class="btn-more-item">
                        {{ 'buy-package-of-services' | translate }}
                      </a>
                    </div>
                  </p-overlayPanel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!courses.length" class="table-no-data">
        <div class="table-no-data-icon">
          <i class="icon-wallet"></i>
        </div>
        <div class="table-no-data-message">{{ 'no-any-session' | translate }}</div>
      </div>
    </div>
  </app-scroll-panel>
</div>