@import '../../../../assets/scss/variables/colors';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.content {
  display: flex;
  height: 100%;
}

.preloader {
  background-color: #fff;
}
