<div>
  <div class="avatar avatar--hover" (click)="toggleOpen()">
    <img [src]="imageDestination || '../../../../assets/img/avatar.jpg'" alt="" />
  </div>

  <p-dialog
    [styleClass]="'dialog'"
    [style]="{ padding: '1.6rem' }"
    [showHeader]="false"
    [breakpoint]="470"
    [modal]="true"
    [dismissableMask]="true"
    [(visible)]="isModalOpen"
    (onHide)="isReady = false"
  >
    <div class="dialog-header w-full">
      <span class="dialog-title">{{ 'avatar-cropper-upload-img' | translate }}</span>
      <i class="icon icon-close icon--bg-circle-on-hover cursor_click" (click)="toggleOpen()"></i>
    </div>

    <div class="dialog-body">
      <div class="drop-zone-wrapper" *ngIf="!isReady">
        <ngx-file-drop
          dropZoneClassName="drop-zone-container"
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event)"
        >
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="upload-container">
              <i class="icon icon-import"></i>
              <div>{{ 'avatar-cropper-img-must-be-jpg-or-png' | translate }}</div>
            </div>
          </ng-template>
        </ngx-file-drop>
      </div>

      <div class="img-container" [ngClass]="{ 'img-container--visible': isReady }">
        <img #image src="" alt="" crossorigin />
      </div>

      <ng-container *ngIf="isReady">
        <div class="pb-3">
          <p-slider
            [(ngModel)]="zoom"
            [style]="{ width: '14em' }"
            [max]="80"
            (onChange)="resize($event.value)"
          ></p-slider>
        </div>
      </ng-container>

      <div *ngIf="!isReady" class="text-lg font-semibold pb-3">{{ 'avatar-cropper-drug-img' | translate }}</div>
      <div class="pb-3">{{ 'avatar-cropper-or' | translate }}</div>
      <div class="pb-5">
        <button (click)="avatarInput.click()" class="btn-regular btn-smooth font-regular">
          {{ 'avatar-cropper-upload-new-photo' | translate }}
        </button>
        <input
          #avatarInput
          style="display: none"
          type="file"
          (change)="onFileChange($event); avatarInput.value = null"
        />
      </div>
    </div>

    <div class="dialog-footer">
      <button class="btn-regular btn-smooth" (click)="toggleOpen()">{{ 'cancel' | translate }}</button>
      <button class="btn-regular btn-green" (click)="onSubmit()">{{ 'submit' | translate }}</button>
    </div>
  </p-dialog>
</div>
