.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 13rem;
  height: 13rem;

  background-color: #ccd0db;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 50%;

  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
  }

  &--hover {
    display: block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      opacity: 0;
      z-index: 999;
      background-image: url('../../../../../assets/img/icon/Camera.svg');
      background-size: 100%;
      background-position: center;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 51%;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity ease 0.3s;
    }

    &:hover:before,
    &:hover:after {
      transition: opacity ease 0.2s;
      opacity: 1;
    }
  }
}

.img-container {
  width: 250px;
  height: 0;
  margin-bottom: 1.6rem;
  border-radius: 10px;
  overflow: hidden;

  &--visible {
    height: 250px;
  }
}

.cropper-container {
  width: 250px !important;
  height: 250px !important;
}

.cropper-crop-box {
  height: 250px !important;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 25rem;
  height: 25rem;
  padding: 5rem;

  margin-top: 2rem;
  margin-bottom: 1.6rem;

  font-weight: 400;

  border: 0;
  border-radius: 1rem;
  background-color: #f4f8fc;
}

.ui-dialog-content {
  @media (min-width: 430px) {
    min-width: 400px;
  }
}

.dialog-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.dialog-footer {
  justify-content: space-between;
}

.cropper-view-box {
  border-radius: 50%;
}
