<div class="create-company-form">
  <app-scroll-panel>
    <div class="header-create-company">
      <h3>{{ 'create-company-session-type-title' | translate }}</h3>
      <h2>{{ 'create-company-session-type-subtitle-staff' | translate }}</h2>
    </div>
    <div class="page-content-wrapper">
      <div class="page-content">
        <div *ngIf="!employees" class="selection-staff">
          <div class="circle-icon">
            <i class="icon-locationpoint"></i>
          </div>
          <div>
            <h4>Пригласите первого сотрудника</h4>
            <p>При добавлении сотрудников, они получают приглашение на почту в Вашу компанию. Все сотрудники имеют
              доступ к фунционалу соответственно их роли.</p>
            <button class="btn-green" routerLink="/create-staff-member">Пригласить сотрудника</button>
          </div>
        </div>

        <div *ngIf="employees" class="table-wrapper">
          <p-dataView #dv [value]="employees" [paginator]="true" [rows]="7" [alwaysShowPaginator]="false"
            paginatorPosition="bottom" styleClass="table-wrapper">
            <p-header>
              <div style="display:flex;">
                <div style="width: 30%">{{ 'first-name' | translate }}</div>
                <div style="width: 20%">{{ 'phone' | translate }}</div>
                <div style="width: 25%">
                  {{ 'label-position' | translate }}
                </div>
                <div style="width: 25%"></div>
              </div>
            </p-header>

            <ng-template let-employee pTemplate="listItem">
              <div class="table-row">
                <div class="table-cell" style="width: 30%">
                  <div class="avatar avatar--size-m">
                    <img *ngIf="employee.avatar" [src]="employee.avatar" alt="" />
                    <i *ngIf="!employee.avatar" class="icon-avatar"></i>
                  </div>
                  <b>{{ employee.user_last_name }} {{ employee.user_first_name }}</b>
                </div>

                <div style="width: 20%">+{{ employee.user_phone_code }}{{ employee.user_phone_number }}</div>

                <div style="width: 25%">{{ employee.role_title | translate }}</div>

                <div style="width: 25%">
                  <div class="d-flex pr-3">
                    <button [routerLink]="['/staff/', employee.id]" [state]="{ employee_id: employee.id }"
                      class="btn btn-regular btn-smooth">
                      {{ 'employee-card' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>
    </div>
  </app-scroll-panel>
</div>