.page-content {
  padding-bottom: 20px;
  .circle-icon {
    width: 72px;
    height: 72px;
    min-width: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(176, 185, 194, 0.15);
    margin-right: 24px;
    > i {
      color: #b0b9c2;
      font-size: 24px;
    }
  }
  .selection-staff {
    display: flex;
    max-width: 520px;

    h4 {
      font-size: 18px;
      color: #3e3e3e;
      font-weight: 600;
      margin-bottom: 16px;
      margin-top: 0;
    }
    p {
      font-size: 15px;
      color: #3e3e3e;
      opacity: 0.65;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 24px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    button {
      margin-top: 16px;
    }
  }
}
:host {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.table-wrapper {
  padding: 3.2rem;
}

p-dataView {
  .table-row {
    height: 7.2rem;
  }
}
