@import '../../../assets/scss/variables/colors';

:host {
  width: 100%;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 7.2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  background-color: #fff;
  border-bottom: 1px solid $color-border-section;

  @media (min-width: 768px) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  .btn-smooth {
    margin-left: auto;
  }
}
.drag-section {
    padding: 3.2rem;
    .drag-block {
        border-bottom: 1px solid #f5f5f5;
        padding: 2rem;
        margin-bottom: 3rem;
        background-color: #fff;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 0.5rem 2.1rem 0 rgba(207,218,232,.4);
        .upload-container {
            width: 100%;
            max-width: 39.2rem;
            position: relative;
            padding-top: 2rem;
            padding-bottom: 2rem;
            border: 1px dotted #e9ecef;
            border-radius: 3px;
            background-color: #fafafa;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            i {
                display: inline-flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                font-size: 3.4rem;
                color: rgb(24, 111, 218);
                transform: none;
                transition: color 0.1s ease-out 0s, transform 0.1s ease-out 0s;
            }
            .text-lg {
                margin: 0;
                font-size: 15px;
                line-height: 18px;
                padding-top: 1.5rem;
                color: $color-black-text;
                font-weight: 300;
            }
        }
        .info-text {
            justify-content: center;
            align-items: center;
            background-color: rgba(255,85,45,.1);
            color: $color-warn-red;
            border-radius: .3rem;
            padding: .4rem;
            margin-bottom: 4rem;
            u {
                padding-left: 5px;
                padding-right: 5px;
                color: $color-warn-red;
                cursor: pointer;
            }
            p {
                margin: 0;
            }
        }
        .section-upload {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            p-progressBar {
                width: 250px;
                padding-top: 2rem;
            }
        }
    }
}
.dialog-body {
    .information {
        padding-bottom: 2.4rem;
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: 1.6rem;
        img {
            max-width: 100%;
            margin-bottom: 1.6rem;
        }
        p {
            margin: 0;
        }
    }
    .tag-container {
        padding-bottom: 1.6rem;
        .section-tag {
            padding-bottom: 1.6rem;
            p {
                margin: 0;
                padding-left: 1.6rem;
                padding-right: 1.6rem;
            }
            .tag {
                width: 30%;
            }
            .description {
                width: 70%;
            }
        }
        h2 {
            margin: 0;
            padding-bottom: 1.6rem;
            color: #3e3e3e;
            font-weight: 600;
            font-size: 15px;
            padding-left: 1.6rem;
            padding-right: 1.6rem;
        }
        .codes {
            padding-top: .8rem;
            padding-bottom: .8rem;
            padding-left: 3.2rem;
            padding-right: 3.2rem;
            width: 100%;
            p {
                margin: 0;
            }
            .dash {
                margin: 0;
                padding-left: 1.6rem;
                padding-right: 1.6rem;
            }
        }
    }
}