<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="panel">
        <button class="btn-smooth btn-regular">Экспорт Клиентов</button>
      </div>
      <div class="drag-section">
        <div class="drag-block">
          <div class="info-text d-flex">
            <p>Внимание! Прежде чем загружать Вашу базу данных, </p>
            <u (click)="toggleOpen()">ознакомтесь с правилами </u>
            <p>оформления БД.</p>
          </div>
          <div class="drop-zone-wrapper" (click)="dropZone.click()">
            <ngx-file-drop dropZoneClassName="" (onFileDrop)="dropped($event)">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <div class="upload-container d-flex">
                  <i class="icon-upload"></i>
                  <div class="text-lg font-semibold">{{ 'file-upload-field' | translate }}</div>
                </div>
              </ng-template>
            </ngx-file-drop>
            <input #dropZone style="display: none" type="file" (change)="onFileChange($event); dropZone.value = null" />
          </div>
          <div class="section-upload d-flex">
            <button class="btn-green">Начать импорт</button>
            <p-progressBar *ngIf="false" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
<app-modal [overlayStyle]="{ padding: '1.6rem' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }"
  [isOpen]="isOpen" (hide)="isOpen = false">
  <div class="dialog-header w-full">
    <span class="dialog-title">Руководство по импорту</span>
    <i class="icon icon-close cursor_click" (click)="toggleOpen()"></i>
  </div>

  <div class="dialog-body">
    <div class="information">
      <p>Для импорта Вашей базы данных, скачайте наш шаблон базы и заполните его в соответствие с данными колонками.</p>
      <img src="../../../assets/img/output-onlinepngtools.png">
      <a class="btn-blue" [href]="apiService.apiUrl + '/client/template'" download>{{ 'download' | translate }}</a>
    </div>
    <div class="tag-container">
      <div class="section-tag d-flex">
        <p class="tag">source_id</p>
        <p class="description">Источник привлечения клиента</p>
      </div>
      <div class="tag-container">
        <h2>Впишите цифру, соответствующую вашему источнику</h2>
        <div class="codes d-flex">
          <p>22</p>
          <p class="dash">-</p>
          <p>Веб-сайт</p>
        </div>
        <div class="codes d-flex">
          <p>23</p>
          <p class="dash">-</p>
          <p>Социальные сети</p>
        </div>
        <div class="codes d-flex">
          <p>24</p>
          <p class="dash">-</p>
          <p>Нашел в интернете</p>
        </div>
        <div class="codes d-flex">
          <p>25</p>
          <p class="dash">-</p>
          <p>По рекомендации</p>
        </div>
        <div class="codes d-flex">
          <p>26</p>
          <p class="dash">-</p>
          <p>Проезжал мимо</p>
        </div>
        <div class="codes d-flex">
          <p>27</p>
          <p class="dash">-</p>
          <p>Промо акции</p>
        </div>
        <div class="codes d-flex">
          <p>28</p>
          <p class="dash">-</p>
          <p>Не определено</p>
        </div>
      </div>
      <div class="section-tag d-flex">
        <p class="tag">first_name</p>
        <p class="description">Имя клиента</p>
      </div>
      <div class="section-tag d-flex">
        <p class="tag">last_name</p>
        <p class="description">Фамилия клиента</p>
      </div>
      <div class="section-tag d-flex">
        <p class="tag">middle_name</p>
        <p class="description">Отчество клиента</p>
      </div>
      <div class="section-tag d-flex">
        <p class="tag">email</p>
        <p class="description">Адрес эл. почты клиента</p>
      </div>
      <div class="section-tag d-flex">
        <p class="tag">phone_country</p>
        <p class="description">Страна телефона (например EN, EU, UA и т.д.)</p>
      </div>
      <div class="section-tag d-flex">
        <p class="tag">phone_code</p>
        <p class="description">Код страны (например 380 или 7)</p>
      </div>
      <div class="section-tag d-flex">
        <p class="tag">phone_number</p>
        <p class="description">Номер телефона клиента (без кода страны)</p>
      </div>
      <div class="section-tag d-flex">
        <p class="tag">birth</p>
        <p class="description">Дата рождения клиента (в формате ДД/ММ/ГГГГ)</p>
      </div>
    </div>
  </div>
</app-modal>