<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="tabs">
        <a class="tab" [routerLink]="['/payments/general']" routerLinkActive="tab--active">
          {{ 'general' | translate }}
        </a>
        <a class="tab" [routerLink]="['/payments/history']" routerLinkActive="tab--active">
          {{ 'payments-history' | translate }}
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
