@import '../../../../../../../assets/scss/variables/colors';

.content {
  padding: 24px 55px 50px 24px;
  .new-note {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    .img-icon {
      margin-right: 16px;
      height: 40px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 40px;
      background: #64bf7c;
      border-radius: 50%;
      justify-content: center;

      img {
        width: 14px;
      }
    }

    p {
      font-weight: 600;
    }
  }

  .notes {
    border-bottom: 1px solid $color-border-section;
    margin-bottom: 22px;

    .action {
      display: flex;

      .btn-blue-text {
        padding-left: 0;
      }
    }

    .note {
      &-row {
        width: 100%;
        margin-top: 0;

        &-text {
          margin-bottom: 16px;
        }

        &-date {
          color: $color-opacity-text;
        }
      }
    }
  }
}
