<app-scroll-panel>
  <div class="content">

    <div class="new-note">
      <div class="img-icon" (click)="toggleOpenNote();">
        <img src="../../../../assets/img/icon/plus-icon.png" alt="" />
      </div>
      <p>{{ 'new-note' | translate }}</p>
    </div>

    <div class="notes" *ngFor="let note of notes">

      <div class="note-row">
        <p class="note-row-text">
          {{ note?.note }}
        </p>
        <ng-container>
          <div class="note-row-date">
            {{ moment(note?.date).format('LL') }}
          </div>
        </ng-container>
      </div>
      <div class="action">
        <button class="btn-regular btn-blue-text"
          (click)="toggleOpenNote(note);">{{ 'update-note' | translate }}</button>
        <button class="btn-regular btn-text" (click)="toggleOpen(note);">{{ 'remove-note' | translate }}</button>
      </div>

    </div>
  </div>
</app-scroll-panel>

<app-modal [overlayStyle]="{ padding: '1.6rem' }"
  [contentStyle]="{ width: '100%', 'max-width': '500px', 'max-height': '500px' }" [isOpen]="isOpen"
  (hide)="isOpen = false">
  <div class="dialog-header">
    <div class="dialog-title">{{'dialog-create-note' | translate}}</div>
    <div (click)="toggleOpenNote()">
      <i class="icon-close icon--bg-circle-on-hover icon--color-black"></i>
    </div>
  </div>
  <div class="dialog-body">
    <textarea [(ngModel)]="note" cols="30" rows="10"></textarea>
  </div>
  <div class="dialog-footer">
    <button type="button" class="btn-regular btn-smooth" (click)="toggleOpenNote()">{{ 'cancel' | translate }}</button>
    <button *ngIf="!this.selectedNote" type="button" class="btn-regular btn-green"
      (click)="createClientNote(); toggleOpenNote()">{{'create-note' | translate}}</button>
    <button *ngIf="this.selectedNote" type="button" class="btn-regular btn-green"
      (click)="updateNote(); toggleOpenNote()">{{'update-note' | translate}}</button>
  </div>
</app-modal>

<app-modal [overlayStyle]="{ padding: '1.6rem' }" [isOpen]="isRemoveOpen" (hide)="isRemoveOpen = false">
  <div class="dialog-header">
    <div class="dialog-title">{{'dialog-confirm-remove-note-title' | translate}}</div>
    <div (click)="toggleOpen()">
      <i class="icon-close icon--bg-circle-on-hover icon--color-black"></i>
    </div>
  </div>
  <div class="dialog-body">
    {{'dialog-confirm-remove-note' | translate}}
  </div>
  <div class="dialog-footer">
    <button type="button" class="btn-regular btn-smooth" (click)="toggleOpen()">{{ 'cancel' | translate }}</button>
    <button type="button" class="btn-regular btn-red"
      (click)="removeNote(); toggleOpen();">{{'remove-note' | translate}}</button>
  </div>
</app-modal>