*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;

  line-height: 1.15;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: $font-stack !important;
  font-size: 1.5rem;
  color: $color-black-text;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  height: auto;
}
