@import 'assets/scss/variables/index';

.ui-widget{
    font-family: $font-stack !important;
}
.tab_view{
    .ui-tabview{
        padding: 0;
        height: 100%;
        .ui-tabview-nav{
            display: flex;
            li{ 
                flex-grow: 1;
                background-color: #fff  !important;
                border: 0 !important;
                border-bottom: 1px solid #F0F0F0 !important;
                margin: 0 !important;
                border-radius: 0;
                text-align: center;
                &:focus{
                    outline: none;
                }
                > a{
                    padding: 25.6px 10px !important;
                    font-size: 15px;
                    line-height: 18px;
                    color: rgba(62, 62, 62, 0.65) !important;
                    font-weight: 500 !important;
                }
                &.ui-state-active{
                    background-color: #fff !important;
                    border-bottom: 2px solid #186FDA !important;
                    > a{
                        color: #186FDA !important;
                        font-weight: 600 !important;
                    }
                }
                &:hover {
                    background-color: #F6F8FA;
                }
            }
        }
        .ui-tabview-panels{
            padding: 0;
            border: 0;
            height: 100%;
        }
    }
}
