@font-face {
  font-family: 'Proxima Nova';
  font-display: fallback;
  src: url('./assets/fonts/ProximaNova-Regular.woff2') format('woff2'), url('./assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  font-display: fallback;
  src: url('./assets/fonts/ProximaNova-Semibold.woff2') format('woff2'), url('./assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Semibold.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.text-xs {
  font-size: 1.2rem;
}
.text-sm {
  font-size: 1.4rem;
}
.text-base {
  font-size: 1.5rem;
}
.text-lg {
  font-size: 1.8rem;
}
.text-xl {
  font-size: 2rem;
}
.text-2xl {
  font-size: 2.4rem;
}
.text-3xl {
  font-size: 3.6rem;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.text-additional {
  color: $color-opacity-text;
}
