@import '../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  height: 100%;
  background-color: #fff;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 3.2rem 1.6rem 1.6rem;

  @media (min-width: 768px) {
    padding: 3.2rem;
  }
}

.content-description {
  display: none;
  width: 100%;
  max-width: 72rem;
  padding-bottom: 1.6rem;

  @media (min-width: 768px) {
    display: block;
    padding-bottom: 3.2rem;
  }
}

.photo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;

  @media (min-width: 768px) {
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
}

.portfolio-btn-add-container {
  padding-bottom: 0.8rem;

  width: 100%;
  height: 100%;

  @media (min-width: 992px) {
    padding-bottom: 0;
  }
}

.portfolio-btn-add-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 3px;

  color: $color-brand-blue;
  background-color: rgba(24, 111, 218, 0.05);
  transition: background-color ease 0.2s;
  cursor: pointer;

  &:hover {
    background-color: rgba(24, 111, 218, 0.15);
  }

  @media (min-width: 992px) {
    max-width: 26rem;
    max-height: 14.6rem;
  }
}

.portfolio-img-container {
  width: 50%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-bottom: 0.4rem;

  @media (min-width: 768px) {
    width: calc(100% / 3);
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  @media (min-width: 992px) {
    width: 100%;
    max-width: 29rem;
    max-height: 14.6rem;
    margin-bottom: 3.2rem;
  }

  & > div {
    position: relative;
    margin-bottom: 0.8rem;
    cursor: pointer;
    border-radius: 3px;

    @media (min-width: 992px) {
      margin-bottom: 3.2rem;
    }
  }
}

.portfolio-img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: auto;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: opacity 0.1s ease;
  cursor: pointer;

  &:hover {
    transition: opacity 0.1s ease;
    opacity: 1;
  }

  @media (min-width: 992px) {
    width: 100%;
    max-width: 26rem;
    max-height: 14.6rem;
  }

  i {
    font-size: 1.2rem;
  }
}

.portfolio-img-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
}

.portfolio-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-text {
    color: $color-white;
  }
}

.portfolio-img-block {
  position: relative;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: auto;

  border-radius: 3px;

  background-color: $color-opacity-text;

  @media (min-width: 992px) {
    width: 100%;
    max-width: 26rem;
    max-height: 14.6rem;
  }

  img {
    position: relative;
    z-index: 0;

    width: 100%;
    max-width: 100%;
    height: auto;

    border-radius: 3px;
  }
}

.dialog-body {
  padding: 0 0 5.6rem;
}
