:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-height: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
  }
}
