:host {
  width: 100%;
  height: 100%;
  display: flex;
}
@import '../../../../../assets/scss/variables/colors';

.main-section {
  width: 100%;
  display: flex;
  .business-section {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .more-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: initial;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    .more {
      padding: 90px 118px 30px;
      height: 100%;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      @media (max-width: 1200px) {
        padding: 90px 78px 30px;
      }
    }
    form {
      .form-group {
        .phone-code {
          display: flex;
          align-items: center;
          width: 50px;
          padding-left: 10px;
        }
      }
    }
  }
}
h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: $color-black-text;
  margin-bottom: 48px;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: $color-black-text;
  margin-bottom: 24px;
}
.btn-login {
  background: $color-brand-blue;
  border-radius: 3px;
  color: $color-white;
  padding: 15px 20px;
  border: 0;
  outline: none;
  width: 100%;
  cursor: pointer;
  justify-content: center;
}
.phone-input-group {
  display: flex;
  .phone-code {
    max-width: 40px;
    padding: 10px 0 10px 16px;
    border-right: 0;
    border-radius: 0;
    border-left: 0;
  }
  .phone-number {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn-group {
    .dropdown-menu {
      display: none;
    }
    button {
      min-width: 68px;
      max-width: 68px;
      background: $color-select-default;
      border: 1px solid $color-stroke;
      box-sizing: border-box;
      border-radius: 3px 0px 0px 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      img {
        width: 16px;
      }
      &:after {
        content: '';
        background: url(../../../../../assets/icons/caret.svg) no-repeat;
        display: block;
        width: 8px;
        height: 8px;
        border: 0;
        margin-left: 10px;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.acc {
  margin-top: 60px;
  p {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-black-text;
    > a {
      display: inline-flex;
      color: $color-brand-blue;
      font-weight: 600;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.invalid-feedback {
  display: block;
  color: #ff552d;
}
.error_input {
  display: block;
  input {
    border: 2px solid #ff552d;
  }
}
.error_input_select {
  border-top: 2px solid #ff552d;
  border-bottom: 2px solid #ff552d;
  border-left: 2px solid #ff552d;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
