@import '../../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  .content-wrapper {
    .top-section {
      background-color: #fff;
      .balance {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .plan {
        border-bottom: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;
      }
      .autoextend {
        padding-top: 35px;
        padding-bottom: 30px;
      }
    }
    .bottom-section {
      padding-top: 32px;
      padding-bottom: 32px;
      .plans-list {
        .plan-block {
          background: #ffffff;
          border: 1px solid #f5f5f5;
          box-sizing: border-box;
          box-shadow: 0px 5px 15px rgba(207, 218, 232, 0.15);
          border-radius: 3px;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          min-height: 130px;
          margin-bottom: 16px;
          .left-bar {
            align-items: center;
            .month-section {
              border-radius: 3px;
              width: 170px;
              height: 80px;
              padding: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                font-size: 18px;
                color: #ffffff;
              }
            }
            .price-section {
              padding-left: 24px;
              .price {
                font-size: 24px;
                color: $color-brand-blue;
                padding: 0;
                margin: 0;
              }
              .period {
                font-size: 12px;
                color: rgba(62, 62, 62, 0.65);
              }
              .best-block {
                justify-content: center;
                align-items: center;
                img {
                  padding-right: 8px;
                }
                .best {
                  margin: 0;
                }
              }
            }
          }
          .right-bar {
            align-items: center;
            .info-section {
              padding-right: 24px;
              h2 {
                font-size: 15px;
                text-align: right;
                color: $color-black-text;
                margin: 0;
              }
              p {
                font-size: 12px;
                text-align: right;
                color: rgba(62, 62, 62, 0.65);
                margin: 0;
              }
            }
          }
        }
      }
    }
    .information {
      padding-top: 29px;
      padding-bottom: 24px;
      padding-right: 80px;
      .title {
        margin: 0;
        font-size: 15px;
        line-height: 18px;
        color: rgba(62, 62, 62, 0.65);
      }
      .info {
        margin: 0;
        font-size: 15px;
        line-height: 18px;
        color: $color-warn-red;
      }
      .status {
        margin: 0;
        font-size: 15px;
        line-height: 18px;
        color: $color-black-text;
      }
      a {
        margin: 0;
        font-size: 15px;
        line-height: 18px;
        cursor: pointer;
      }
      h2 {
        margin: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 24px;
        line-height: 29px;
        color: $color-black-text;
      }
    }
    .block-padding {
      padding-left: 3.2rem;
      padding-right: 3.2rem;
    }
  }
}

.dialog-body {
  .error-payment {
    margin-bottom: 16px;
    p {
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      color: #ff552d;
      margin: 0;
    }
  }
  .payment-method {
    display: flex;
    width: 100%;
    > div {
      background: #ffffff;
      border: 1px solid #f5f5f5;
      box-shadow: 0px 5px 15px rgba(207, 218, 232, 0.15);
      border-radius: 3px;
      padding: 72px 28px 67px;
      flex-basis: 50%;
      &:first-of-type {
        margin-right: 26px;
      }

      img {
        margin: 0 auto 16px;
        max-width: 72px;
        display: block;
      }
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #3e3e3e;
        margin-bottom: 4px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #3e3e3e;
        opacity: 0.65;
      }
    }
  }
}
