<div class="content">
  <app-scroll-panel>
    <div class="content-wrapper">
      <div class="top-section">
        <div class="balance block-padding">
          <div class="information">
            <p class="title">{{ 'current-balance' | translate }}</p>
            <h2>{{ balance }}</h2>
          </div>
          <button class="btn-green">{{ 'replenish' | translate }}</button>
        </div>
        <div class="plan d-flex block-padding">
          <div class="plan-info information">
            <p class="title">{{ 'current-rate' | translate }}</p>
            <ng-container *ngFor="let type of companyTypes">
              <h2 *ngIf="type.id === selectedType.id"> {{ type.title | translate }}</h2>
            </ng-container>
            <a routerLink="/company-profile/tariff">{{ 'change-rate' | translate }}</a>
          </div>
          <div class="last-payment information">
            <p class="title">{{ 'last-payment' | translate }}</p>
            <h2 *ngIf="testPeriod === 1">–</h2>
            <h2 *ngIf="testPeriod === 0">{{ subscribeDate }}</h2>
            <p *ngIf="testPeriod === 1" class="status">{{ 'test-period' | translate }}</p>
          </div>
          <div class="subscription information">
            <p class="title">{{ 'subscription-expiration' | translate }}</p>
            <h2>{{ subscribeFinishDate }}</h2>
            <p class="info">{{ 'left-days' | translate }}: {{ leftDays }} {{ 'days' | translate }}</p>
          </div>
        </div>
        <div class="autoextend block-padding">
          <label class="control control-checkbox">
            {{ 'auto-renew' | translate }}
            <input type="checkbox" />
            <div class="control_indicator"></div>
          </label>
        </div>
      </div>
      <div class="bottom-section">
        <div class="plans-list block-padding d-flex" *ngFor="let type of prices">
          <div class="plan-block d-flex">
            <div class="left-bar d-flex">
              <div class="month-section" [ngStyle]="{'background-color': getColor(type.period)}">
                <p>{{ type.period }}
                  <span *ngIf="type.period !== 1">
                    {{ 'months' | translate}}
                  </span>
                  <span *ngIf="type.period === 1">
                    {{ 'one-month' | translate}}
                  </span>
                </p>
              </div>
              <div class="price-section">
                <div class="d-flex">
                  <p class="price">$ {{ ((type.amount / type.period) / 100).toFixed(2) }}</p>
                  <p class="period"> {{ '/ МЕС.' | translate}}</p>
                </div>
                <div class="best-block d-flex">
                  <ng-container *ngIf="type.period === 12">
                    <img src="../../../../assets/img/best.svg">
                    <p class="best">{{ 'the-best-rate' | translate}}</p>
                  </ng-container>
                  <ng-container *ngIf="type.period === 3">
                    <img src="../../../../assets/img/favorite.svg">
                    <p class="best">{{ 'most-popular-package' | translate}}</p>
                  </ng-container>
                  <ng-container *ngIf="type.period === 1">
                    <p class="best">{{ 'standard-payment-package' | translate }}</p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="right-bar d-flex">
              <div class="info-section">
                <h2 *ngIf="type.period === 12">{{ 'economy' | translate }}
                  ${{ ((prices[2].amount * type.period) / 100 - type.amount / 100).toFixed(2) }}
                  {{ '/ год' | translate }}
                </h2>
                <h2 *ngIf="type.period === 3">{{ 'economy' | translate }}
                  ${{ ((prices[2].amount * 12) / 100 - (type.amount / type.period * 12) / 100).toFixed(2) }}
                  {{ '/ год' | translate }}
                </h2>
                <p>${{ (type.amount / 100).toFixed(2) }} {{ 'total-amount-of-payment' | translate }}</p>
              </div>
              <a class="btn-blue" (click)="toggleOpen(type.id)">{{ 'to-pay' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-scroll-panel>
</div>

<app-modal #modal [overlayStyle]="{ padding: '1.6rem' }"
  [contentStyle]="{ width: '100%', 'max-width': '670px', 'min-height': '425px'  }" [isOpen]="isOpen"
  (hide)="isOpen = false">
  <div class="dialog-header w-full">
    <span class="dialog-title">Способ оплаты</span>
    <i class="icon icon-close cursor_click" (click)="toggleOpen()"></i>
  </div>

  <div class="dialog-body">
    <div class="error-payment" style="display: none;">
      <p>На вашем балансе недостаточно средств для оплаты тарифа.</p>
      <p>Выберите способ для пополнения:</p>
    </div>
    <div class="payment-method">
      <div (click)="doPayment('interkassa')">
        <img src="../../../../assets/img/interkassa.png" alt="">
        <h3>{{ 'interkassa-title' | translate}}</h3>
        <p>{{ 'payment-system' | translate }}</p>
      </div>
      <div (click)="doPayment('liqpay')">
        <img src="../../../../assets/img/liqpay.png" alt="">
        <h3>{{ 'liqpay-title' | translate}}</h3>
        <p>{{ 'liqpay-description' | translate }}</p>
      </div>
    </div>
  </div>
</app-modal>