@import '~@ng-select/ng-select/themes/default.theme.css';
/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/variables/index';
@import 'assets/scss/components/style';
@import 'assets/scss/core/base';
@import 'assets/scss/core/padding';
@import 'assets/scss/core/typography';
@import 'assets/scss/core/prime-ng';
@import 'assets/scss/icons';
@import 'assets/scss/flags';
@import 'assets/scss/core/tabs';

@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeicons/primeicons.css';

main {
  height: 100%;
  display: flex;
  position: relative;

  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    background: $color-page-bg;
    overflow: hidden;
    position: relative;

    .page-body {
      width: 100%;
      height: calc(100% - 73px);
      background: $color-page-bg;
      display: flex;
      flex-direction: column;
    }
    .page-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;
      &--bg-white {
        background-color: #fff;
      }
    }
    .page-footer {
      display: flex;
      padding: 0.8rem 1.6rem;

      border-top: 1px solid $color-border-block;

      @media (min-width: 768px) {
        padding: 1.6rem 3.2rem;
      }
    }
  }
}

.d-flex {
  display: flex;
  .col-4 {
    flex-basis: calc(100% / 3);
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
}
.form-group {
  margin-bottom: 24px;
  position: relative;

  .required {
    color: $color-warn-red;
  }

  .input_withicon {
    position: relative;
    width: 100%;
    > input {
      padding-left: 44px;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 13px;
      height: 12px;
      background-size: 13px;
      background-repeat: no-repeat;
      top: 50%;
      left: 16px;
      transform: translate(0px, -50%);
    }
    &.email {
      &::before {
        background-image: url(assets/icons/Email.svg);
      }
    }
    &.password {
      &::before {
        background-image: url(assets/icons/pass-key.svg);
      }
    }
    &.user {
      &::before {
        background-image: url(assets/icons/Profile.svg);
      }
    }
  }
}

.control {
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  .control_indicator {
    position: absolute;
    left: 0;
    top: 2px;
    height: 16px;
    width: 16px;
    background: transparent;
    border: 2px solid $color-stroke;
    border-radius: 3px;
    &:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
    }
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:focus {
      outline: none;
      ~ .control_indicator {
        background: transparent;
        border: 2px solid $color-stroke;
        &:after {
          display: none;
        }
      }
    }

    &:checked {
      ~ .control_indicator {
        background: $color-brand-blue;
        border: 2px solid $color-brand-blue;
        &:after {
          display: block;
        }
      }

      &:focus {
        outline: none;
        ~ .control_indicator {
          background: $color-brand-blue;
          &:after {
            display: block;
          }
        }
      }
    }

    &:disabled {
      ~ .control_indicator {
        background: transparent;
        border: 2px solid $color-stroke;
        opacity: 5;
        pointer-events: none;
      }
    }
  }

  &:hover {
    input {
      ~ .control_indicator {
        background: $color-checkbox-hover;
        border: 2px solid $color-stroke-active;
      }

      &:not([disabled]) {
        &:checked {
          ~ .control_indicator {
            background: $color-brand-blue;
          }
        }
      }
      &:checked {
        ~ .control_indicator {
          background: $color-brand-blue;
          border: 2px solid $color-brand-blue;
          &:after {
            display: block;
          }
        }
      }
    }
  }
  &.control-checkbox {
    .control_indicator {
      &:after {
        left: 4px;
        top: 0px;
        width: 4px;
        height: 8px;
        border: solid $color-white;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
      }
    }
    input {
      &:disabled {
        ~ .control_indicator {
          &:after {
            border-color: $color-stroke;
          }
        }
      }
    }

    .text-blue {
      color: $color-brand-blue !important;
    }
  }
}
