<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView
        #dv
        [value]="goods"
        [paginator]="true"
        [rows]="7"
        [lazy]="true"
        (onLazyLoad)="loadGoodsLazy($event)"
        [totalRecords]="total"
        [alwaysShowPaginator]="false"
        paginatorPosition="bottom"
        styleClass="table-wrapper"
      >
        <p-header>
          <div style="display:flex;">
            <div style="flex-basis: 45%">{{ 'label-product' | translate }}</div>
            <div style="flex-basis: 25%">{{ 'label-category' | translate }}</div>
            <div style="flex-basis: 25%">{{ 'label-price' | translate }}</div>
            <div style="flex-basis: 5%"></div>
          </div>
        </p-header>

        <ng-template let-product pTemplate="listItem">
          <div class="table-row">
            <div class="table-cell" style="flex-basis: 45%">
              <b>{{ product.title }}</b>
            </div>

            <div class="table-cell" style="flex-basis: 25%">{{ product.category_title }}</div>

            <div class="table-cell" style="flex-basis: 25%">
              {{ currency_symbol }} {{ (product.price / 100).toFixed(2) }}
            </div>

            <div class="table-cell" style="flex-basis: 5%">
              <div class="d-flex">
                <button class="btn-more" (click)="op.toggle($event)">
                  <i class="icon-menu-list"></i>
                </button>
                <p-overlayPanel [appendTo]="'body'" #op>
                  <div class="btn-more-menu">
                    <a routerLink="/products/edit/good/{{ product.id }}/0" class="btn-more-item">{{
                      'edit' | translate
                    }}</a>
                    <div class="btn-more-item" (click)="toArchive(product.id)">{{ 'to-archive' | translate }}</div>
                  </div>
                </p-overlayPanel>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>

  <div *ngIf="loading && !search" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && goods.length === 0 && !search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-cart"></i>
    </div>
    <div class="table-no-data-message">{{ 'you-have-no-good' | translate }}</div>
    <a *ngIf="user_role === 1 || user_role === 3" routerLink="/products/create/good" class="btn btn-regular btn-green">
      {{ 'add-first-good' | translate }}
    </a>
  </div>

  <div *ngIf="!loading && !goods.length && search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="table-no-data-message">{{ 'goods-not-found' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</div>
