:host {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.table-wrapper {
  padding: 3.2rem;
}

p-dataView {
  .table-row {
    height: 7.2rem;
  }
}
