.page-content {
  .info-block {
    margin-bottom: 29px;
    max-width: 600px;
    .circle {
      width: 128px;
      height: 128px;
      min-width: 128px;
      border-radius: 50%;
      background: #e6e6e6;
    }
    p {
      margin-top: 0;
      margin-bottom: 8px;
      padding-left: 24px;
      color: #3e3e3e;
      font-size: 15px;
      font-weight: 400;
      opacity: 0.65;
      &.bold {
        font-weight: 600;
        opacity: 1;
        margin-top: 16px;
      }
    }
  }
  .info-include {
    max-width: 420px;
    .form-group {
      margin-bottom: 21px;
      input {
        padding: 6px 16px;
        &.error_input {
          display: block;
          border: 2px solid #ff552d;
        }
      }
      p {
        color: #3e3e3e;
        font-size: 15px;
        font-weight: 400;
        opacity: 0.65;
        margin-top: 8px;
        margin-bottom: 0;
      }
      select {
        background: #f2f5f8;
        border-radius: 3px;
        border: 0;
        width: 100%;
        color: #3e3e3e;
        font-size: 15px;
        font-weight: 400;
        padding: 11px 16px;
      }
      textarea {
        background: #ffffff;
        border: 2px solid #d7dee5;
        box-sizing: border-box;
        border-radius: 3px;
        resize: none;
        width: 100%;
      }
      button {
        margin-top: 19px;
      }
    }
  }
}
.invalid-feedback {
  display: block;
  color: #ff552d;
}
