<div class="create-company-form" [formGroup]="generalInfoForm">
  <app-scroll-panel>
    <div class="header-create-company">
      <h3>{{ 'create-company-session-type-title' | translate }}</h3>
      <h2>{{ 'create-company-session-type-subtitle-general-info' | translate }}</h2>
    </div>
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="info-block d-flex">
          <div class="circle">
            <app-avatar-cropper formControlName="logo"></app-avatar-cropper>
          </div>
          <div>
            <p class="bold">{{ 'create-company-session-type-your-logo' | translate }}</p>
            <p>{{ 'create-company-session-type-your-logo-description' | translate }}</p>
          </div>
        </div>

        <div class="info-include">
          <div class="form-group">
            <label for="">{{ 'create-company-session-type-company-name' | translate }}</label>
            <input type="text" value="Салон красоты Barhat Style" formControlName="title" [ngClass]="
                generalInfoForm.controls['title'].errors && generalInfoForm.controls['title'].touched
                  ? 'error_input'
                  : 'success_input'
              " />
            <div *ngIf="generalInfoForm.controls['title'].errors && generalInfoForm.controls['title'].touched"
              class="invalid-feedback">
              {{ 'auth-required' | translate }}
            </div>
            <p>{{ 'create-company-session-type-company-name-info' | translate }}</p>
          </div>

          <div class="form-group">
            <label for="">{{ 'create-company-session-type-category' | translate }}</label>
            <p-dropdown styleClass="base-select" panelStyleClass="base-select" inputId="industry"
              dropdownIcon="icon icon-select icon--color-gray" formControlName="industry_id" [options]="industries"
              [group]="true">
              <ng-template let-group pTemplate="group">
                {{ group.label | translate }}
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                {{ item.label | translate }}
              </ng-template>
              <ng-template let-industry pTemplate="item">
                <div class="pl-2">
                  {{ industry.label | translate }}
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <div class="form-group">
            <label for="">{{ 'create-company-session-type-currency' | translate }}</label>
            <p-dropdown styleClass="base-select" dropdownIcon="icon icon-select icon--color-gray"
              formControlName="currency_id" [options]="currencies">
              <ng-template let-item pTemplate="selectedItem">
                {{ item.label | translate }}
              </ng-template>
              <ng-template let-currency pTemplate="item">
                {{ currency.label | translate }}
              </ng-template>
            </p-dropdown>
          </div>

          <div class="form-group">
            <label for="">{{ 'create-company-session-type-language' | translate }}</label>
            <p-dropdown styleClass="base-select" dropdownIcon="icon icon-select icon--color-gray"
              formControlName="language" [options]="languages">
              <ng-template let-item pTemplate="selectedItem">
                <img src="{{ item.img }}" style="width:16px;vertical-align:middle" />
                <span style="vertical-align:middle; margin-left: .5em">{{ item.label }}</span>
              </ng-template>
              <ng-template let-list pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <img src="{{ list.img }}" style="width:24px;position:absolute;top:1px;left:5px" />
                  <div style="font-size:14px;margin-left: 40px;margin-top:4px">{{ list.label }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <p>{{ 'create-company-session-type-language-info' | translate }}</p>
          </div>

          <div class="form-group">
            <label for="">{{ 'create-company-session-type-company-description' | translate }}</label>
            <textarea name="" id="" cols="30" rows="8" formControlName="description"></textarea>
            <p>{{ 'create-company-session-type-company-description-info' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-block">
      <button class="btn-blue" value="2" (click)="companyCreation($event.target.value)">
        {{ 'create-company-session-type-button-continue' | translate }}
      </button>
    </div>
  </app-scroll-panel>
</div>