@import '../../../assets/scss/variables/colors';

:host {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  .sms-settings {
    padding-top: 3.2rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    border-bottom: 1px solid #f5f5f5;
    img {
      padding-right: 3.2rem;
    }
  }
  .sms-info {
    p {
      color: rgba(62, 62, 62, 0.65);
      margin: 0;
      padding-bottom: 1rem;
      padding-top: 1.6rem;
      line-height: 18px;
      max-width: 45rem;
    }
    a {
      font-weight: 600;
      cursor: pointer;
    }
    .switch {
      display: flex;
      width: 100%;
      align-items: center;
      padding-top: 10px;
      p {
        margin-bottom: 10px;
        padding-left: 0.8rem;
        font-weight: 600;
        font-size: 15px;
        color: $color-black-text;
      }
    }
  }
  .section {
    background-color: #fff;
    .balance {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f5f5f5;
    }
  }
  .information {
    padding-top: 29px;
    padding-bottom: 24px;
    padding-right: 80px;
    .title {
      margin: 0;
      font-size: 15px;
      line-height: 18px;
      color: rgba(62, 62, 62, 0.65);
    }
    .info {
      margin: 0;
      font-size: 15px;
      line-height: 18px;
      color: $color-warn-red;
    }
    .status {
      margin: 0;
      font-size: 15px;
      line-height: 18px;
      color: $color-black-text;
    }
    a {
      margin: 0;
      font-size: 15px;
      line-height: 18px;
      cursor: pointer;
    }
    h2 {
      margin: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 24px;
      line-height: 29px;
      color: $color-black-text;
    }
  }
  .block-padding {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  .settings-section {
    margin-left: 3.2rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid #f5f5f5;
    width: 80%;
    .check-settings {
      padding-left: 3.2rem;
    }
  }
  .option-padding {
    padding-bottom: 2rem;
  }
}
.page-footer {
  background-color: #fff;
}

.dialog-body {
  align-items: flex-start;
  .select-country {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1.6rem;
    .selected-value {
      justify-content: start;
    }
  }
  .table {
    width: 100%;
    .sms-tariff-table {
      border: 1px solid #f0f0f0;
      .sms-tariff-table-header {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 2.4rem;
        border-bottom: 1px solid #f0f0f0;
        font-weight: 600;
      }
      .item {
        border-bottom: 1px solid #f0f0f0;
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 2.4rem;
      }
    }
  }
}
