<main>
  <section class="page">
    <app-header></app-header>
    <div class="page-body">
      <div class="main-container">
        <app-scroll-panel>
          <div class="sms-settings d-flex">
            <div class="d-flex">
              <img src="../../../assets/img/sms-pic@1x.6dbe76a9.png">
              <div class="sms-info">
                <div class="switch">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                  <p>Включить SMS-рассылку</p>
                </div>
                <p>Автоматическая отправка СМС напоминаний вам и вашим клиентам. За данную функцию взымается
                  дополнительная плата</p>
                <a (click)="toggleOpen()">Тарифы SMS</a>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="balance block-padding">
              <div class="information">
                <p class="title">Текущий баланс</p>
                <h2>1435,05 $</h2>
              </div>
              <button class="btn-green">Пополнить</button>
            </div>
            <div class="sms-info settings-section d-flex">
              <div class="option-description">
                <div class="switch">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                  <p>Напоминание клиентам о сеансе</p>
                </div>
                <p>Отправка СМС на номер клиента, напоминающий
                  о скором начале сеанса</p>
              </div>
              <div class="check-settings">
                <label class="control control-checkbox option-padding">
                  Отправлять за 24 часа до сеанса
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
                <label class="control control-checkbox">
                  Отправлять за 3 часа до сеанса
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
              </div>
            </div>
            <div class="sms-info settings-section d-flex">
              <div class="option-description">
                <div class="switch">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                  <p>Оповещение клиента о смене статуса заявки</p>
                </div>
                <p>Клиенту будет отправлено СМС подтверждающее
                  его онлайн заявку, либо информирующее об ее
                  отклонении</p>
              </div>
            </div>
            <div class="sms-info settings-section d-flex">
              <div class="option-description">
                <div class="switch">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                  <p>Напоминание об окончании периода подписки</p>
                </div>
                <p>Вам или вашим сотрудникам будет отправлено СМС
                  с напоминанием о небходимости оплаты</p>
              </div>
              <div class="check-settings">
                <label class="control control-checkbox option-padding">
                  Отправлять владельцу
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
                <label class="control control-checkbox option-padding">
                  Отправлять директору
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
                <label class="control control-checkbox">
                  Отправлять бухгалтеру
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
              </div>
            </div>
            <div class="sms-info settings-section d-flex">
              <div class="option-description">
                <div class="switch">
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                  <p>Предупреждение о малом балансе</p>
                </div>
                <p>Вам и или вашим сотрудникам будет отправлено СМС
                  с предупреждением о необходимости пополнения
                  баланса для дальнейшего использования рассылкой</p>
              </div>
              <div class="check-settings">
                <label class="control control-checkbox option-padding">
                  Отправлять владельцу
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
                <label class="control control-checkbox option-padding">
                  Отправлять директору
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
                <label class="control control-checkbox">
                  Отправлять бухгалтеру
                  <input type="checkbox" />
                  <div class="control_indicator"></div>
                </label>
              </div>
            </div>
          </div>
        </app-scroll-panel>

        <div class="page-footer">
          <button type="submit" class="btn-green">Обновить информацию</button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</main>

<app-modal #modal [overlayStyle]="{ padding: '1.6rem' }"
  [contentStyle]="{ width: '100%', 'max-width': '500px', 'min-height': '500px'  }" [isOpen]="isOpen"
  (hide)="isOpen = false">
  <div class="dialog-header w-full">
    <span class="dialog-title">Тарифы SMS</span>
    <i class="icon icon-close cursor_click" (click)="toggleOpen()"></i>
  </div>

  <div class="dialog-body">
    <div class="select-country">
      <label>Страна</label>
      <p-dropdown [options]="phoneCodes" [(ngModel)]="selectedCountry" autoWidth="false" [style]="{'width':'100%'}"
        filter="true">
        <ng-template let-item pTemplate="selectedItem">
          <div class="selected-value">
            <i class="flag flag-{{item.value.code}}" style="width:16px;vertical-align:middle"></i>
            <span style="vertical-align:middle; margin-left: .5em">{{item.value.name}}</span>
          </div>
        </ng-template>
        <ng-template let-list pTemplate="item">
          <i class="flag flag-{{list.value.code}}" style="width:16px;vertical-align:middle"></i>
          <div class="list-item-name" style="vertical-align:middle; margin-left: .5em">{{list.value.name}}</div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="table">
      <p>Все цены на SMS указаны в USD (Американский доллар)</p>
      <div class="sms-tariff-table">
        <div class="sms-tariff-table-header">
          <div>Оператор</div>
          <div>Цена за 1 SMS</div>
        </div>
        <div>
          <div class="item">
            <div>MTS</div>
            <div>0.08700</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>