@import '../../../../assets/scss/variables/colors';
@import '../../../../assets/scss/variables/variables';

:host {
  width: 100%;
  max-width: 29rem;
}

.bw-datepicker {
  width: 100%;
  max-width: 29rem;

  background-color: #fff;

  border-radius: 3px;
  box-shadow: $shadow;
}

.bw-navigation {
  display: flex;
  justify-content: space-between;

  height: 5.5rem;

  border-bottom: 1px solid $color-border-block;
}

.bw-navigation-arrows {
  display: flex;

  height: 100%;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    &:first-of-type {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }

    &:last-of-type {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }

    cursor: pointer;

    &:hover {
      background-color: rgba($color-brand-blue, 0.15);
    }
  }
}

.bw-navigation-view-date {
  display: flex;
  align-items: center;

  height: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  font-size: 1.8rem;
  font-weight: 600;

  &:hover {
    background-color: rgba($color-brand-blue, 0.15);
    cursor: pointer;
  }

  &--active {
    cursor: pointer;
  }
}

.bw-weekdays {
  display: flex;

  width: 100%;
  padding-bottom: 0.8rem;

  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  div {
    width: calc(100% / 7);
  }
}

.bw-view {
  width: 100%;
  padding: 1.6rem;
}

.bw-view-content {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  [class$='--active'] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--hidden {
    display: none;
  }
}

.bw-view-content-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.5rem;

  border-radius: 3px;

  &:not([class$='--hover']) {
    cursor: default;
  }

  &--hover {
    &:hover {
      background-color: rgba($color-brand-blue, 0.15);
      cursor: pointer;
    }
  }
}

.bw-view-months-month {
  width: calc(100% / 3);
  height: 3.5rem;

  cursor: pointer;

  &--active {
    width: 100%;
    height: 100%;

    background-color: $color-brand-blue;
    color: #fff;

    border-radius: 3px;
  }
}

.bw-view-month-days-day {
  width: calc(100% / 7);
  height: 3.5rem;

  &--active {
    width: 3.2rem;
    height: 3.2rem;

    background-color: $color-brand-blue;
    color: #fff;

    border-radius: 50%;
  }
}
