<div class="bw-datepicker">
  <!-- Start Navigation -->
  <div class="bw-navigation">
    <div *ngIf="view === 'year'" class="bw-navigation-view-date">
      {{ yearViewArr[0].format('YYYY') }} - {{ yearViewArr[yearViewArr.length - 1].format('YYYY') }}
    </div>

    <div *ngIf="view === 'month'" class="bw-navigation-view-date bw-navigation-view-date--active" (click)="changeView()">
      {{ date.format('YYYY') }}
    </div>

    <div *ngIf="view === 'day'" class="bw-navigation-view-date bw-navigation-view-date--active" (click)="changeView()">
      {{ date.format('MMMM YYYY') }}
    </div>

    <div class="bw-navigation-arrows">
      <div (click)="prev()">
        <i class="icon icon-chevron icon--color-gray" style="transform: rotate(90deg)"></i>
      </div>
      <div (click)="next()">
        <i class="icon icon-chevron icon--color-gray" style="transform: rotate(-90deg)"></i>
      </div>
    </div>
  </div>
  <!-- End Navigation -->

  <!-- Start Calendar VIew -->
  <div class="bw-view">
    <div>
      <div *ngIf="view === 'day'" class="bw-weekdays">
        <div>
          {{
            moment()
              .weekday(0)
              .format('ddd')
          }}
        </div>
        <div>
          {{
            moment()
              .weekday(1)
              .format('ddd')
          }}
        </div>
        <div>
          {{
            moment()
              .weekday(2)
              .format('ddd')
          }}
        </div>
        <div>
          {{
            moment()
              .weekday(3)
              .format('ddd')
          }}
        </div>
        <div>
          {{
            moment()
              .weekday(4)
              .format('ddd')
          }}
        </div>
        <div>
          {{
            moment()
              .weekday(5)
              .format('ddd')
          }}
        </div>
        <div>
          {{
            moment()
              .weekday(6)
              .format('ddd')
          }}
        </div>
      </div>

      <div class="bw-view-content" [ngClass]="{ 'bw-view-content--hidden': view !== 'year' }">
        <div
          class="bw-view-content-item bw-view-content-item--hover bw-view-months-month"
          *ngFor="let year of yearViewArr"
          (click)="select(year)"
        >
          <div [ngClass]="{ 'bw-view-months-month--active': dateCheck(year) }">
            {{ year?.format('YYYY') }}
          </div>
        </div>
      </div>

      <div class="bw-view-content" [ngClass]="{ 'bw-view-content--hidden': view !== 'month' }">
        <div
          class="bw-view-content-item bw-view-content-item--hover bw-view-months-month"
          *ngFor="let month of monthViewArr"
          (click)="select(month)"
        >
          <div [ngClass]="{ 'bw-view-months-month--active': dateCheck(month) }">
            {{ month?.format('MMMM') }}
          </div>
        </div>
      </div>

      <div class="bw-view-content" [ngClass]="{ 'bw-view-content--hidden': view !== 'day' }">
        <div
          class="bw-view-content-item bw-view-month-days-day"
          *ngFor="let day of daysViewArr"
          (click)="select(day)"
          [ngClass]="{ 'bw-view-content-item--hover': day && day.format('L') !== selectedDate.format('L') }"
        >
          <div [ngClass]="{ 'bw-view-month-days-day--active': dateCheck(day) }">
            {{ day?.date() }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Calendar VIew -->

  <!-- Start Footer -->
  <ng-template [ngTemplateOutlet]="footerTemplate"></ng-template>
  <!-- End Footer -->
</div>
