<div [className]="mode !== 'img' ? 'language-block' : ''">
  <p-dropdown class="dropdown-language" [options]="countries" [(ngModel)]="selectedLanguage"
    (click)="useLanguage(selectedLanguage)">
    <ng-template let-item pTemplate="selectedItem">
      <ng-container *ngIf="mode === 'default'">
        <img src="{{ item.img }}" style="width:16px;vertical-align:middle" />
        <span style="vertical-align:middle; margin-left: .5em">{{ item.label }}</span>
      </ng-container>
      <ng-container *ngIf="mode === 'img'">
        <img src="{{ item.img }}" [ngClass]="customClass" />
      </ng-container>
    </ng-template>
    <ng-template let-list pTemplate="item">
      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
        <img src="{{ list.img }}" style="width:24px;position:absolute;top:1px;left:5px" />
        <div style="font-size:14px;margin-left: 40px;margin-top:4px">{{ list.label }}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>