<div class="content">
  <app-scroll-panel>
    <div class="table-wrapper">
      <p-dataView #dv [value]="finance" [paginator]="true" [rows]="7" [lazy]="true" (onLazyLoad)="loadGoodsLazy($event)"
        [totalRecords]="total" [alwaysShowPaginator]="false" paginatorPosition="bottom" styleClass="table-wrapper">
        <p-header>
          <div style="display:flex;">
            <div style="flex-basis: 30%">{{ 'label-date' | translate }}</div>
            <div style="flex-basis: 30%">{{ 'label-products' | translate }}</div>
            <div style="flex-basis: 30%">{{ 'label-total-summ' | translate }}</div>
            <div style="flex-basis: 10%"></div>
          </div>
        </p-header>

        <ng-template let-finance pTemplate="listItem">
          <div class="table-row">
            <div class="table-cell" style="flex-basis: 30%">
              <p>{{ finance.date }}</p>
            </div>

            <div class="table-cell" style="flex-basis: 30%">
              <div class="d-flex" *ngIf="finance.products.length > 1">
                <button class="btn-more btn-count" (click)="pr.toggle($event)">
                  +{{finance.products.length}}
                </button>
                <p-overlayPanel [appendTo]="'body'" #pr styleClass="product-list">
                  <div class="btn-more-menu" *ngFor="let product of finance.products">
                    <div>{{ product?.title }} ({{product.count}} {{ 'label-count' | translate }})</div>
                    <div>
                      <span>{{ 'label-discount' | translate }}:</span>
                      <ng-container *ngIf="product.price !== 0">
                        {{ currency_symbol }} {{ (product.price / 100).toFixed(2) }}
                      </ng-container>
                      <ng-container *ngIf="product.price === 0"> &#8212;</ng-container>
                    </div>
                  </div>
                </p-overlayPanel>
              </div>
              <ng-container>{{ finance.products[0]?.title }}</ng-container>
            </div>

            <div class="table-cell" style="flex-basis: 30%;">
              <ng-container *ngIf="finance.price !== 1">{{ currency_symbol }} {{ (finance.price / 100).toFixed(2) }}
              </ng-container>
              <ng-container *ngIf="finance.price === 1"> &#8212;</ng-container>
            </div>

            <div class="table-cell" style="flex-basis: 10%">
              <div class="d-flex">
                <button class="btn-more" (click)="op.toggle($event)">
                  <i class="icon-menu-list"></i>
                </button>
                <p-overlayPanel [appendTo]="'body'" #op>
                  <div class="btn-more-menu">
                    <a class="btn-more-item" (click)="confirmRemove.toggleOpen(); selectedTransactionId = finance.id">
                      {{ 'remove' | translate }}
                    </a>
                  </div>
                </p-overlayPanel>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-scroll-panel>

  <div *ngIf="loading && !search" class="preloader">
    <img src="../../../../../assets/img/preloader.gif" alt="" />
  </div>

  <div *ngIf="!loading && !finance.length && !search.length" class="table-no-data">
    <div class="table-no-data-message">{{ 'finance-empty' | translate }}</div>
  </div>

  <div *ngIf="!loading && !finance.length && search.length" class="table-no-data">
    <div class="table-no-data-icon">
      <i class="icon-not-find"></i>
    </div>
    <div class="table-no-data-message">{{ 'finance-not-found' | translate }}</div>
    <div class="table-no-data-clean" (click)="clearSearchField()">{{ 'clear-search-field' | translate }}</div>
  </div>
</div>

<app-confirm-modal #confirmRemove (remove)="removeTransaction(selectedTransactionId)"></app-confirm-modal>