:host {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.table-wrapper {
  padding: 3.2rem;
}

p-dataView {
  .table-row {
    height: 7.2rem;
  }
}
.btn-more-menu > div:last-of-type {
  color: rgba(62, 62, 62, 0.65);
}
button.btn-count {
  width: 3rem;
  height: 2.5rem;
}
