:host {
    width: 100%;
    height: 100%;
    display: flex;
  }
  @import '../../../../../assets/scss/variables/colors';
  
  .main-section {
    width: 100%;
    display: flex;
    .business-section {
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    .more-section {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: initial;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      .more{
        padding: 90px 118px 30px;
        height: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        @media(max-width: 1200px){
          padding: 90px 78px 30px;
        }
      }
    }
  }

  h1{
      font-size: 24px;
      line-height: 29px;
      font-weight: 600;
      color: $color-black-text;
      margin-bottom: 48px;
  }
  
  p{
      font-size: 16px;
      line-height: 24px;
      color: $color-black-text;
      margin-bottom: 24px;
  }

  .btn-login{
      background: $color-brand-blue;
      border-radius: 3px;
      color: $color-white;
      padding: 15px 20px;
      border: 0;
      outline: none;
      width: 100%;
      cursor: pointer;
      justify-content: center;
  }
  
  .acc{
      margin-top: 60px;
      p{
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: $color-black-text;
        > a{
          color: $color-brand-blue;
          font-weight: 600;
          &:hover{
            text-decoration: none;
          }
        }
      }
  }

  .invalid-feedback {
    display: block;
    color: #FF552D;
  }

  .error_input {
    display: block;
    input {
      border: 2px solid #FF552D;
    }
  }

  i{
    z-index: 1;
      &.visible-true{
          background: url(../../../../../assets/icons/visible-pass.svg) no-repeat;
          width: 14px;
          height: 9px;
          position: absolute;
          top: 16px;
          right: 20px;
      }
      &.visible-false{
          background: url(../../../../../assets/icons/invisible-pass.svg) no-repeat;
          width: 14px;
          height: 9px;
          position: absolute;
          top: 16px;
          right: 20px;
      }
  }