@import '../../../../../../assets/scss/variables/colors';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  height: 100%;
  width: 100%;

  border-left: 1px solid $color-border-block;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.tabs {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.modal-content {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    padding-bottom: 1.6rem;
  }
}
.employee-card-right-block {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 64rem;
  padding-top: 4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 992px) {
    padding-right: 5.6rem;
  }

  .products {
    @media (min-width: 768px) {
      padding-left: 2.4rem;
    }

    &-item-title {
      font-weight: 600;
    }

    &-item-description {
      width: 100%;
      color: $color-opacity-text;

      span:first-of-type {
        padding-right: 1.6rem;
      }
    }
  }
}

.list-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  &-icon {
    width: 100%;
    font-size: 6rem;
    text-align: center;
  }

  &-message {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  &-clean {
    color: #186fda;
    cursor: pointer;
  }

  button {
    margin-top: 0.8em;
  }

  &--pos-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.bordered-item {
  flex-wrap: wrap;
  border-color: $color-light-gray;
  cursor: default;
}

.category-item {
  width: 100%;
}

.category-title {
  font-weight: 600;
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid $color-border-section;
}
