<div class="tabs">
  <div class="tab tab--active" [ngSwitch]="businessType">
    <ng-container *ngSwitchCase="0">
      {{ 'services' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="1">
      {{ 'classes' | translate }}
    </ng-container>
  </div>
</div>

<div class="modal-body">
  <app-scroll-panel>
    <div class="modal-content employee-card-right-block">
      <ng-container *ngIf="filteredProductsByCategory.length; else noProducts">
        <div class="category-item" *ngFor="let category of filteredProductsByCategory">
          <div class="category-title">
            {{ category.label }}
          </div>
          <div class="products">
            <div class="bordered-item" *ngFor="let product of category.items">
              <div class="products-item-title">{{ product.label }}</div>
              <div class="products-item-description">
                <span>{{ product.value.product_duration }}</span>
                <span *ngIf="businessType === 0">
                  {{ (product.value.product_price / 100).toFixed(2) }}{{ currency_symbol }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </app-scroll-panel>
</div>

<ng-template #noProducts>
  <div class="list-no-data list-no-data--pos-center">
    <div class="list-no-data-icon">
      <i *ngIf="businessType === 0" class="icon-yoga"></i>
      <i *ngIf="businessType === 1" class="icon-fitness"></i>
    </div>
    <div class="list-no-data-message" [ngSwitch]="businessType">
      <ng-container *ngSwitchCase="0">
        {{ 'employee-have-no-related-services' | translate }}
      </ng-container>
      <ng-container *ngSwitchCase="1">
        {{ 'employee-have-no-related-classes' | translate }}
      </ng-container>
    </div>
  </div>
</ng-template>
